@import "import/variables";

@media (max-width: 835px) {

    h1 {
        font-size: 2.06em; //33px

        + .required-condition {
            font-size: 12px;
        }
    }

    h2.h1 {
        font-size: 1.81em; //29px
    }

    .breadcrumbs {
        padding-top: 0;

        &.bg-blue {
            background-color: #fff;
        }
    }

    header {
        padding: 1.75em 0 1.63rem; //28px 0 26px
        position: relative;

        .mobile-block {
            display: block;
        }

        .logo-block {
            margin-right: 0;
            text-align: center;

            .logo-block_slogan {
                font-size: 1.13em;
            }
        }

        .nav-category {
            margin-top: 1.75rem;
        }

        > div > .d-flex {
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $border-color;
            padding-bottom: 1.38rem; //20px
        }

        .user-tools {
            margin: 0;
            width: 39px;
            max-width: unset;

            .user-tools_auth,
            .user-tools_favorite {
                display: none;
            }
        }

        .social_search-wrap {
            display: none;
        }
    }

    .carousel-block .carousel-nav{
        top: 80%;
    }
    
    .carousel {
        &.main {
            
            .carousel-item_desc{
                padding-top: 185px;
            }
            
            .carousel-image.pos-absolute {
                right: calc(50% - 5.97rem); // 95.5px
                width: 11.94rem;
                top: 0;
            }

            .carousel-item.abroad .carousel-image {
                top: 0;
            }
        }

        &.partners .carousel-item {
            width: 33%;
        }
    }

    .carousel.carousel-product_block {
        .product-view_card {
            width: 33.333333%;
            margin-right: 0;
            margin-left: -2px;

            &:hover {
                transform: none;

                .product-btns {
                    height: 0;
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }

    section {
        &.our-partners {
            padding: 3.75rem 0; //60px

            h2 {
                text-align: center;
            }
        }

        &.news-specific {

            .right-column {
                .short-news {
                    .short-news_item {
                        padding-left: 0;
                    }

                    .news-specific_date {
                        position: static;
                        margin-bottom: 15px;
                    }
                }
            }
        }

        &.basket {
            .basket_additional-actions {
                > .d-flex {
                    flex-direction: column;
                }

                .promocode {
                    max-width: 406px;

                    label {
                        width: 47%;
                        margin-right: 10px;
                    }

                    .btn {
                        max-width: 203px;
                    }
                }

                .basket-total {
                    margin-top: 25px;
                }
            }
        }

        &.brands {

            .layout {
                margin-left: -15px;
                margin-bottom: -15px;
            }

            .col {
                padding-left: 15px;
                padding-bottom: 15px;
                width: 50%;
            }
        }

        &.equipment {
            .equipment-main-image {
                margin-bottom: 55px;

                h2 {
                    font-size: 2.5em;
                }
            }

            .equipment-certificate {
                padding-bottom: 100px;

                .carousel-nav {
                    bottom: 50px;
                }
            }

            .equipment-benefit {
                padding-bottom: 55px;

                .col {
                    width: 50%;
                    padding-bottom: 0;
                }

                .equipment-benefit_item {
                    margin-bottom: 35px;
                    font-size: 15px;

                    .icon {
                        margin-right: 25px;
                    }
                }
            }
        }

        &.have-question {
            margin-bottom: 70px;

            h2 {
                font-size: 1.88em;
            }

            .right-column {
                padding: 50px;
            }
        }

        &.checkout {
            .checkout-block {
                .go-next-step {
                    width: 286px !important;
                    max-width: 286px;
                    left: calc(50% - 143px);
                }

                &.is-close {
                    .go-next-step {
                        bottom: 97.4%;
                    }
                }
            }
        }

        &.equipment,
        &.worked-together {
            h3 {
                font-size: 1.5em; //24px
            }
        }

        &.delivery-point {

            table.user-table .char-table_title,
            .tab-container_item > h2 {
                font-size: 29px;
            }
        }
    }

    .main-wrap.d-flex {
        flex-direction: column-reverse;
        margin-top: -1.69rem; //27px
    }

    .benefit-block .d-flex {
        margin-top: 0;
    }

    .nav-category {
        display: none;
    }

    .nav-category.changing-mobile {
        padding: 0;
        display: block;

        > .content-wrap {
            padding: 0;
        }

        .active {
            > .nav-category_drop-menu {
                display: block;
            }
        }

        .nav-category_drop-menu {
            visibility: visible;
            opacity: 1;
            display: none;
            position: static;
            background: none;
            padding: 0;
            margin-top: 12px;

            .content-wrap {
                background-color: #fff;
                margin: -2px -1.75rem -0.88rem;

                // grid
                > div {
                    margin-left: 0;
                }
            }
            
            &.get-more{
                ul{
                    padding-top: 0;
                }
                
                .sub-category{
                    display: block;
                    min-height: 1px;
                }
            }

            .col {
                width: 100%;

                &.divide-2 {
                    column-count: 1;
                }

                &:last-child {
                    border: none;
                }
            }

            .choice-type .title {
                font-size: 1.13em; // 18px
            }

            ul {
                padding: 2.19rem 0 2.13rem;
                border: none;
                border-bottom: 1px solid #E1ECF2;

                &:before {
                    display: none;
                }
                
                &.d-flex{
                    padding-bottom: 0;
                }
            }

            li {
                display: inline-block;

                &.title {
                    display: block;
                }

                &:last-child a:after {
                    display: none;
                }

                a {
                    font-size: 1.13em; // 16px

                    &:after {
                        content: '';
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background-color: #000;
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0 12px 0 15px;
                        transition: $transition;
                    }
                }
            }
        }

        .circle {
            width: 33.5px;
            height: 33.5px;
        }

        .nav-category_menu {
            display: block;
            padding-bottom: 5.38rem;
            transition: $transition;

            &.is-full-height {
                height: 100%;
                padding-bottom: 1.88rem;
            }

            > li {
                display: none;
                padding: 0.78rem 1.75rem;
                font-size: 0.88em;
                border-bottom: 2px solid #fff;
                background-color: $c-gray;

                &:nth-child(-n+4) {
                    display: block;
                }

                &:last-child {
                    border: none;
                }

                &:hover {
                    > a {
                        color: $c-gold;
                    }
                }

                > a {
                    display: inline-flex;
                    align-items: center;

                    span.icon-wrap {
                        display: inline-block;
                        margin-bottom: 0;
                        margin-right: 1.13rem;
                        width: 1.94rem;
                        height: 2.07rem;
                    }
                }
            }

            .nav-category_drop-menu.get-more {
                > .content-wrap {
                    padding: 0;

                    > .d-flex {
                        display: block;
                    }
                }

                .sub-category {
                    padding: 0;
                    padding: 0.78rem 1.75rem;
                    font-size: 1em;
                    border-bottom: 2px solid #fff;
                    background-color: #FAFBFC;
                    margin-bottom: 0;

                    a.title {
                        line-height: 2.13rem; //34px
                        max-width: unset;
                        white-space: nowrap;
                        position: relative;
                        width: 40%;
                        overflow: hidden;
                    }
                    
                    > a.title:after{
                        display: none;
                    }
                    
                    .nav-category_drop-menu{
                        margin-top: 12px;
                        
                        .content-wrap{
                            padding-top: 35px;
                        }
                    }

                    &:last-child {
                        border: none;
                    }

                    &:first-child {
                        border-top: 2px solid #fff;
                    }
                }
            }
        }
    }

    .carousel.main .carousel-item_desc {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .carousel-block .carousel-nav {
        left: calc(50% - 5.91rem);
    }

    .paginator + .delivery {
        padding-top: 85px;
    }

    .paginator {
        padding: 1.75rem 0 2.19rem; //28px 0 35px
        position: relative;
        z-index: 1;
    }

    .delivery {
        background-position: center 85px;
        background-size: contain;
        padding-bottom: 3.75rem;
    }
}

@media (min-width: 836px) {

    .nav-category {
        background-color: $c-gray;
    }

    .nav-category .nav-category_angle,
    .nav-category .btn.mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    @import "import/grid";

    @include grid-generator-phablet();

    .show-all {
        font-size: 1em;
    }

    .carousel-block .carousel-nav{
        top: 70%;
    }
    
    .carousel {
        &.main {

            h2 {
                font-size: 2.5em;
            }

            .carousel-item_desc {
                padding-left: 0;
                padding-right: 0;
                
                p {
                    font-size: 0.81em;
                }
            }
        }

        &.benefit {

            &.flickity-enabled {
                .benefit-block_item {
                    width: 100%;

                    &:last-child {
                        width: 100%;
                    }

                    br {
                        display: none;
                    }
                }
            }
        }

        &.carousel-product_block {

            .flickity-viewport {
                padding: 0;
            }

            .product-view_card {
                width: 50%;
            }
        }

        &.lastnews {
            .carousel-item {
                width: 100%;
                margin-right: 0;

                .carousel-item_desc {

                    .date {
                        position: static;
                        margin-bottom: 0.94rem; //15px

                        span {
                            display: inline-block;

                            &:last-child {
                                font-size: 1em;
                            }
                        }
                    }

                    .text {
                        padding-left: 0;
                        height: 8.13rem; //13px
                    }
                }

                .carousel-item_image {
                    text-align: center;
                }

                > div {
                    max-width: unset;
                }
            }
        }

        &.product-benefit {
            width: 37.06rem; //593px
            height: 100%;
            margin: 0 auto;

            .flickity-viewport {
                height: 100%;
            }

            .carousel-item {
                height: auto;
                width: 33.333%;
                display: block;
                min-width: 10.69rem;
            }

            &:after {
                content: 'flickity';
                display: none;
            }
        }

        &.other-news {
            .carousel-item {
                width: 100%;

                p.text {
                    max-width: 37.5rem; //600px
                }
            }
        }

        &.certificate {
            .carousel-item {
                width: 50%;
            }
        }
    }

    section {
        &.product-carousel_block {
            padding: 2.5rem 0 1.25rem; //40px 0 20px

            &.center {
                h2.h1 {
                    text-align: left;
                    margin-bottom: 0;
                }
            }

            .product-carousel_block-content {
                margin: 0 -1.75rem; //-28px
            }

            .product-carousel_block-heading {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                h2 {
                    margin-right: 0;
                }

                .show-all {
                    margin-bottom: 4px;
                }
            }

            .carousel-nav {
                display: none;
            }
        }

        &.product-carousel_block-alt {
            background-color: $border-color;

            &:before {
                display: none;
            }

            .show-all {
                font-size: 1em;
                float: right;
                margin-top: 0.63rem; //10px
            }

            .col.left {

                .heading {
                    position: static;
                    padding-top: 1.81rem; //29px

                    h2 {
                        display: inline-block;
                    }
                }

                .carousel {
                    display: none;
                }
            }

            .col.right {
                padding-top: 1.88rem;
            }
        }

        &.lastnews {
            padding: 3.13rem 0; //50px

            .heading {

                .show-all {
                    float: right;
                    margin-top: 0.63rem; //10px
                }
            }
        }

        &.news {
            .news-item {
                &.large {
                    .news-item_desc {
                        .date {
                            font-size: 1.81em; //29px
                        }

                        .text {
                            font-size: 1.63em; //26px
                        }
                    }
                }
            }
        }

        &.checkout {
            .tab-container {
                margin-left: 0;

                .tab-container_info + .column {
                    margin: 0;
                }

                .column {
                    float: none;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                }
            }

            .checkout-submit {
                display: block;

                label.privacy-policy {
                    margin-bottom: 20px;
                }
            }
        }

        &.reviews {

            .review-total {
                display: block;
                padding-left: 20px;
                padding-right: 20px;

                .btn {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .review-total_rating {
                margin: 0 0 15px;

                span.review-total_amount {
                    margin: 0;
                    float: right;
                    line-height: 2.389em;
                }
            }



            .review-list {
                padding-top: 2.19rem; //35px


                .review-list_item {
                    > div {
                        float: none;
                    }

                    .author {
                        max-width: initial;
                        padding: 15px 0 20px;
                    }
                }
            }
        }

        &.have-question {
            .right-column {
                .d-flex {
                    display: block;

                    > div {
                        max-width: initial;
                    }

                    .have-question_desc {
                        margin-bottom: 25px;
                    }
                }
            }
        }

        &.reviews.reduced {

            .current-rating {
                float: none;
            }

            .review-total_rating {

                p {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                span.review-total_amount {
                    float: none;
                }
            }
        }

        &.brands {
            .brands-container {
                padding-bottom: 45px;
            }
        }

        &.catalog-brand {
            padding-bottom: 30px;

            .layout {
                margin: 0;

                .col {
                    width: 100%;
                    padding: 0;
                }
            }

            p {

                margin-bottom: 20px;
            }
        }

        &.contacts {

            .company-department {
                .col {
                    width: 50%;
                }

                .deportament-item {
                    font-size: 1.14em;
                }
            }
        }

        &.delivery-payment {

            .delivery-payment_container {
                margin-bottom: 40px;
                padding-bottom: 20px;
            }

            .guide-to-order,
            .faq {
                h2 {
                    font-size: 1.5em; //24px
                }
            }

            .faq {
                padding-bottom: 50px;

                h2 {
                    padding-left: 23px;
                    padding-right: 23px;
                }

                .content-wrap {
                    padding: 0;
                }

                .faq-list {

                    .faq-answer {
                        font-size: 13px;
                        line-height: 28px;
                        padding: 25px 23px;
                    }

                    .list-item .item-title {
                        font-size: 14px;
                        padding: 15px 30px;

                        .icon {
                            font-size: 27px;
                            line-height: 20px;

                            .close {
                                font-size: 29px;
                                top: -2px;
                            }
                        }
                    }
                }
            }

            .guide-to-order .guide-to-order_steps {
                padding-bottom: 35px;
                margin-bottom: 40px;

                .text {
                    font-size: 14px;
                }
            }

            .alphabet {
                .layout .col {
                    width: 33.33%;
                }
            }
        }
    }

    .seo {
        padding: 1.88rem 0 1.25rem; //30px 20px
        margin: 0 1.75rem; //28px

        .content-wrap {
            padding: 0;
        }

        .layout {
            margin-left: 0;

            .col {
                padding-left: 0;
            }
        }
    }

    .get-instruction {
        padding: 15px 20px;

        .desc {
            font-size: 17px;
        }
    }

    .catalog-list {

        .catalog-list_sort {
            font-size: 14px;
            margin-left: -1.75rem; //28px
            margin-right: -1.75rem; //28px

            .text {
                display: none;
            }

            > * {
                margin-right: 15px;
            }
        }

        .catalog-list_content {

            .layout {
                margin: 0 0 0.25rem 0.25rem; //4px
            }

            .load-more {
                margin: 0 -1.75rem 0; //28px
            }

            .col {
                padding: 0;
                margin: 0 0 -0.13rem -0.13rem; //2px   
            }
        }
    }

    .product {
        .product-info {
            overflow: hidden;
        }

        .delivery-calculation .delivery-calculation_table table.table-transformer {
            .char-table_name {
                width: auto;
            }

            .char-table_value {
                width: auto;
                white-space: normal;
            }
        }

        .nav-tabs {
            margin-bottom: 1.25rem; //20px

            &:after {
                content: 'flickity';
                display: none;
            }

            .tab {
                white-space: nowrap;
            }
        }

        .tab-container .table-wrap table.char-table.w-50 {
            width: 100%;
            margin-right: 0;
        }

        table.table-transformer {
            display: block;

            thead,
            tbody {
                display: block;
            }

            tr {
                display: block;
                padding-bottom: 10px;
                margin-bottom: 9px;
                border-bottom: 1px solid $border-color;

                &:last-child {
                    border: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }

            td {
                display: inline-block;
                width: auto;
                padding: 0;
            }

            .char-table_name {

                &:after {
                    content: ':';
                    border: none;
                    position: static;
                    display: inline-block;
                    width: initial;
                    height: initial;
                }
            }

            .char-table_value {
                float: right;
            }
        }

    }

    .magazine-catalog {
        .nav-tabs .tab {
            font-size: 17px;
        }

        .carousel-nav.with-thumb {
            .carousel-thumb {
                width: 25%;
            }
        }
    }

    .modal-body {
        padding: 50px 70px;
    }

    footer {
        .footer-wrap {
            padding: 2.63rem 0 2.88rem; //42px 46px

            > .d-flex {

                .address,
                .contacts {
                    margin-top: 0;
                }

                > div {
                    width: 100%;
                    padding-bottom: 20px;
                    margin-bottom: 18px;
                    border-bottom: 1px solid $border-color;

                    &:last-child {
                        border: none;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }

                    .menu {

                        .block-group {
                            display: inline-block;
                            width: 48%;
                            vertical-align: top;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    section.product-carousel_block-alt + section {
        padding: 146px 0 21px;
    }

    .carousel {
        &.product-benefit:after {
            content: '';
        }
    }

    .product .nav-tabs:after {
        content: '';
    }
}

@media (max-width: 700px) {
    .catalog-list .catalog-list_content .col {
        width: 50%;

        .product-view_card,
        .card-stub {
            margin: 0 auto 0.94rem; //15px
        }
    }
}

@media (max-width: 680px) {
    .product {

        .product-info {
            padding-top: 0;
        }

        .product-heading.mobile {
            padding: 0 1.75rem 1.06rem; //0 28px 17px
        }
    }
}

@media (max-width: 650px) {

    .carousel.carousel-product_block-small {
        &:after {
            content: 'flickity';
            display: none;
        }

        .carousel-item {
            width: 50%;
            margin-right: 5px;
            min-width: 13.19rem; //211px
        }
    }

    .product-view_card-alt.small {
        width: 13.19rem; //211px
        height: 16.63rem; //266px
        padding: 2.69rem 1.44rem; //43px 23px
        margin: 0 auto;
        
        .product-view_card-alt-info{
            max-width: 160px;
        }
    }

    section {
        &.product-carousel_block-alt {
            padding-bottom: 1.25rem; //20px

            .show-all {
                font-size: 1rem;
                margin: 10px 0 0;
            }

            .content-wrap {
                padding: 0;
            }

            .heading {
                padding: 0 28px;
            }

            .col.right {

                .layout {
                    margin: 0;
                }

                .col {
                    padding: 0;
                    margin: 0 5px 0 0;
                    overflow: hidden;
                }
            }
        }

        &.reviews {
            .review-total {
                text-align: center;

                .review-total_rating span.review-total_amount {
                    display: none;
                }
            }
        }

        &.equipment {

            .equipment-main-image_wrap {
                padding: 0;
            }

            .equipment-main-image h2 {
                font-size: 2em;
            }

            .equipment-benefit {

                .equipment-benefit_item {
                    font-size: 18px;
                }

                .col {
                    width: 100%;
                }
            }
        }

        .reviews.reduced {
            .review-total span.current-rating {
                margin-right: 0;
            }

            .review-total_rating p {
                justify-content: center;
            }
        }
    }

    .product {

        .delivery-calculation {
            .delivery-calculation_block {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                > * {
                    float: none;
                }

                .title {
                    max-width: 100%;
                    margin: 0 0 15px;
                }
            }
        }

        table.table-transformer {
            td {
                display: block;
                width: 100%;
            }

            .char-table_name {
                font-size: 15px;
                margin-bottom: 5px;
            }

            .char-table_value {
                float: none;
                text-indent: 0;
            }
        }
    }
}

@media (max-width: 666px) {
    .carousel.product-benefit {
        margin: 0;
        padding-left: 1.75rem; //28px
    }
}

@media (max-width: 643px) {
    section {
        &.news {
            .news-wrap {
                padding: 0 1.75rem; //28px
            }

            .news-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-left: 0;

                .news-item {
                    float: none;
                    padding-bottom: 1.56rem; //25px
                    padding-left: 0;
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 617px) {
    .catalog-list .catalog-list_content .col {

        .product-view_card,
        .card-stub {
            margin: 0;
        }
    }
}

@media (max-width: 600px) {
    .carousel {
        &.nav-category .nav-category_menu .carousel-item {
            width: 25%;
        }

        &.partners .carousel-item {
            width: 50%;
        }
    }

    section {
        &.checkout {
            .checkout-wrapper .sign-in {
                font-size: 14px;
                position: static;
                margin: 15px 0 0;
                padding: 7px;
                display: block;
            }
        }

        &.worked-together .worked-together_item {
            width: 33.3333%;
        }

        &.delivery-payment {

            .guide-to-order .layout .col {
                width: 100%;

                .step {
                    margin-bottom: 15px;
                }
            }

            .delivery-payment_benefit {
                font-size: 0.88em; //14px
            }

            .faq {
                .faq-list {
                    .list-item .item-title {
                        padding: 15px 40px 15px 30px;

                        .icon {
                            margin-right: -20px;
                        }
                    }
                }
            }

            .alphabet {
                .layout .col {
                    width: 50%;
                }
            }
        }

        &.user-profile {

            form.user-change-profile {
                > div {
                    display: block;
                    max-width: 280px;
                    margin-left: auto;
                    margin-right: auto;
                }

                .text {
                    margin-bottom: 8px;
                    font-size: 14px;
                }
            }
        }
    }

    .catalog-brand_image {
        display: none;
    }

    .magazine-catalog {
        .nav-tabs .tab {
            font-size: 16px;
            padding: 0;
            margin-right: 20px;
            margin-bottom: 13px;
        }

        .magazine-catalog_desc {
            font-size: 0.94em; //15px

            .magazine-catalog_desc-item span.icon {
                display: none;
            }
        }

        .magazine-catalog_heading {
            padding-bottom: 22px;
        }
    }
}

@media (max-width: 550px) {
    section {
        &.brands {
            .col {
                width: 100%;
            }

            .brands-item {
                .name {
                    height: auto;
                    font-size: 21px;
                }
            }
        }
    }
}

@media (max-width: 514px) {
    .carousel-nav.thumb {
        padding-left: 1.75rem; //28px
        margin: 0;
    }
}
