// 0 and 29.94rem

@import "import/variables",
"import/grid";

@media all and (min-width: 0) and (max-width: 479px) {


    @include grid-generator-phone();

    h1 {
        font-size: 1.5em; //24px
    }

    h2.h1 {
        font-size: 1.31em; //21px
    }

    .delivery h2 {
        font-size: 1.31em; //21px
    }

    table.user-table {

        tbody {
            font-size: 14px;
        }
    }

    .breadcrumbs {
        display: none;
    }

    header {

        .mobile-block {

            .nav-category_drop-menu {
                &.alt-layout {

                    li a {
                        font-size: 0.81em; // 13px
                    }
                }
            }
        }
    }

    blockquote {
        font-size: 0.88em;
        padding-left: 3.778em;

        .icon {
            top: -0.31rem; //5px

            svg {
                width: 1.88rem !important; //30px
            }
        }
    }

    .show-all {
        font-size: 0.88em; //14px
        margin: 0;
    }

    .carousel-block .carousel-nav {
        top: 89%;
    }

    .carousel {

        &.main {
            height: 505px;

            h2 {
                font-size: 2.25em;
            }

            .carousel-item_desc {

                p {
                    font-size: 0.75em;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }

        &.nav-category .nav-category_menu .carousel-item {
            width: 33%;
        }

        &.benefit {

            .flickity-button {
                top: calc(35% - 0.34rem);
            }

            .flickity-viewport {
                height: 6.25rem !important;
            }

            &.flickity-enabled {
                padding: 0px 0 28px;
            }
        }

        &.carousel-product_block {

            .product-view_card {
                padding: 1.56rem 1.13rem 0; // 25px 18px 0
            }
        }

        &.partners {
            .carousel-item {
                width: 100%;

                p {
                    max-width: 13rem; //208px
                }
            }
        }

        &.lastnews {

            .carousel-item {
                .carousel-item_image {
                    margin-bottom: 1.25rem; // 20px
                }

                .carousel-item_desc {
                    .date {
                        span:first-child {
                            font-size: 1.13em; //18px
                        }
                    }

                    .text {
                        font-size: 0.81em; //13px
                        height: 7.19rem; //115px
                    }
                }
            }
        }

        &.product {
            height: initial;

            .carousel-image,
            .carousel-item {
                height: auto;
            }

            .carousel-item_stamp,
            .carousel-item_add-favorite,
            .flickity-page-dots {
                display: none;
            }
        }

        &.certificate {
            .carousel-item {
                width: 100%;
                margin-right: 0;
            }
        }

        &.magazine-gallery {
            padding-bottom: 20px;
        }
    }

    .product-view_card .product-view_card-stamp {
        left: 5px;
    }

    .heading-catalog {
        padding-left: 1.75rem;
        padding-right: 1.75rem; //28px
    }

    .catalog-list {
        .content-wrap {
            padding: 0;
        }

        .catalog-list_sort {
            padding-left: 56px; //28px
            padding-right: 56px; //28px
        }

        .catalog-list_content {

            .card-stub {
                height: 22.18rem; // 354.86px

                .card-stub_desc a {
                    font-size: 0.88em; //14px
                }
            }

            .load-more {
                margin: 0;
            }
        }

        .filter,
        .delivery {
            padding-left: 1.75rem;
            padding-right: 1.75rem; //28px
        }

        .paginator {
            margin-left: 28px;
            margin-right: 28px;
            border-bottom: 1px solid $border-color;
            padding-bottom: 35px;
        }
    }

    .product-view_card {
        padding: 1.56rem 1.13rem 0; // 25px 18px 0

        .product-view_card-info + .d-flex {
            padding-bottom: 1.25rem; //20px
        }

        .product-view_card-info .name {
            height: 2.56rem; //41px
        }

        .price-block {
            p {
                display: block;
            }
        }

        .name {
            font-size: 0.88em; //14px
        }
    }

    section {
        &.product-carousel_block {
            padding: 1.81rem 0 0; //29px 0 0

            .product-carousel_block-heading {
                margin-bottom: 1.38rem; // 22px

                .show-all {
                    margin: 0;
                }
            }
        }

        &.our-partners {
            padding: 0;
        }

        &.lastnews {
            padding: 1.88rem 0 3.13rem; //50px            

            h2 {
                margin-right: 0;
            }

            .content-wrap {
                padding: 0;
            }

            .carousel-item_desc {
                padding: 0 28px;
            }

            .heading {
                padding: 0 28px;
                margin-bottom: 1.88rem; //30px

                .show-all {
                    margin-top: 0.25rem; //4px
                }
            }
        }

        &.product-carousel_block-alt .show-all {
            font-size: 0.88rem;
            margin: 0;
        }

        &.news {
            h1 {
                margin-top: 0;
            }

            .load-more {
                margin: 1.25rem 0 2.19rem; //20px 0 30px
            }

            .news-item {

                .date {
                    font-size: 1.19em; //19px
                }

                .text {
                    font-size: 1em;
                }

                &.large {
                    .news-item_desc .text {
                        font-size: 1.31em; //21px
                    }
                }
            }
        }

        &.news-specific {
            > .content-wrap {
                padding: 0;
            }

            .schedule {
                padding: 1.75rem 0; //28px
                border-left: none;
                border-right: none;
            }

            .left-column {
                padding: 0 1.75rem; //28px
                max-width: initial;
                width: auto;

                p,
                > img,
                .schedule {
                    margin-bottom: 2.19rem; //35px
                }
            }

            .right-column {
                .short-news {
                    padding: 45px 28px 0;
                }
            }
        }

        &.basket {
            .basket-container {
                padding: 0;
            }

            .basket_additional-actions {
                .promocode {

                    label {
                        width: 100%;
                        margin-right: 0;
                        max-width: initial;
                        margin-bottom: 15px;
                    }

                    .btn {
                        max-width: 203px;
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                    }
                }

                .basket-total {
                    width: 100%;
                    flex-direction: column;
                    text-align: center;

                    h3 {
                        margin: 0 0 15px;
                    }
                }
            }

            .promocode-wrapper + .c-blue {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .basket-total {

                > div:first-child {
                    margin-bottom: 10px;
                }

                .btn {
                    display: block;
                    margin-bottom: 8px;
                }
            }
        }

        &.checkout {
            font-size: 0.81em;

            .nav-tabs.inline label {
                margin: 0 auto 15px;
                display: block;

                &:last-of-type {
                    margin-right: auto;
                }
            }

            .nav-tabs {
                margin-bottom: 20px;
            }

            .checkout-block {
                label:not(.tab) {
                    margin-bottom: 15px;
                }

                .bx_block.r3x1 {
                    margin: 0 0 15px;
                }

                &:first-child {
                    padding-top: 35px;
                }
            }
        }

        &.reviews {

            .review-total {
                font-size: 1.88em;
            }

            .review-list .review-list_item {
                padding-left: 15px;
                padding-right: 15px;

                .desc {
                    font-size: 14px;
                }
            }
        }

        &.reviews.reduced {
            .review-list .review-list_item {
                display: block;

                .left-column {
                    margin: 0 0 25px;
                }
            }
        }

        &.equipment {

            h3 {
                font-size: 1.19em; //19px
            }

            .equipment-main-image h2 {
                font-size: 1.5em;
            }

            .equipment-benefit .equipment-benefit_item {
                font-size: 14px;
            }
        }

        &.have-question {

            h2 {
                font-size: 1.5em; //24px
            }

            .content-wrap {
                padding: 0;
            }

            .right-column {
                border-left: 0;
                border-right: 0;
                padding: 50px 30px;
            }
        }

        &.worked-together {
            h3 {
                font-size: 1.19em; //19px
            }

            .worked-together_item {
                width: 50%;
            }
        }

        &.contacts {
            .company-department {
                .col {
                    width: 100%;
                }
            }
        }

        &.delivery-payment {
            .delivery-payment_benefit .prices span {
                display: block;
            }

            .alphabet .layout .col {
                width: 100%;
            }
        }

        &.delivery-point {

            .tab-container_item > h2,
            table.user-table .char-table_title {
                font-size: 22px;
            }

            table.user-table .char-table_title {
                padding-left: 15px;
                padding-right: 15px;
            }

            .select-delivery,
            .tab-container_item > h2 {
                padding-left: 23px;
                padding-right: 23px;
            }

            .delivery-point_container {
                margin: 0 -23px;
            }
        }

        &.user-profile {
            .content-wrap {
                padding: 0;
            }

            h1 {
                padding-left: 23px;
                padding-right: 23px;
            }
        }
    }

    .magazine-catalog {
        .carousel-nav.with-thumb {
            display: none;
        }

        .magazine-catalog_carousel {
            padding-bottom: 35px;
        }
    }

    .blue-wrap {
        padding: 25px 0;
        margin-bottom: 35px;
    }

    .delivery {
        padding-bottom: 2rem; //32px
    }

    .product {

        .delivery-calculation .select-delivery {
            margin-bottom: 0;
        }

        .product-heading.mobile {

            .barcode,
            .brand {
                line-height: 1.5rem; //24px
            }

            .barcode {
                font-size: 0.81rem; //13px
            }

            .brand {
                font-size: 0.75rem; //12px
                display: block;
                margin-top: 5px;
            }
        }

        .product-info {
            padding-bottom: 0;
        }

        .product-desc {
            .nav-tabs {
                border-top: 1px solid $border-color;
                padding-top: 1.75rem; //25px
            }
        }

        .right-block {
            .product-info_specifications {
                box-shadow: none;

                .section {
                    padding-left: 1.75rem; //28px
                    padding-right: 1.75rem; //28px


                    &.actions {

                        h2.h1 {
                            font-size: 1.5em;
                        }

                        .old-price {
                            font-size: 0.88em; //14px
                        }

                        .change-amount label {
                            margin-right: 0.94rem; //15px
                        }

                        .btns {
                            display: block;

                            .btn {
                                max-width: 100%;
                                width: 100%;

                                &:first-child {
                                    margin-bottom: 0.5rem; //8px
                                }
                            }
                        }
                    }

                    &.feedback {
                        padding-bottom: 0;

                        label.first {
                            max-width: 100%;
                            margin: 0 0 0.5rem; //8px
                        }

                        .custom-input + span {
                            font-size: 0.63rem; //10px
                            line-height: 0.88rem; //14px
                        }

                        .btn {
                            max-width: 100%;
                        }
                    }
                }
            }
        }

        + .product-carousel_block.center {
            padding: 1.69rem 0; //27px

            + .product-carousel_block {
                padding: 0;

                + footer .footer-wrap {
                    border-top: none;
                }
            }
        }

        table.char-table .char-table_title {
            font-size: 19px;
        }
    }

    .seo {
        .grid-2 .col:last-child {
            display: none;
        }
    }

    .get-instruction {
        text-align: center;

        span {
            display: block;
        }

        .icon {
            margin-left: 20px;
        }

        .desc {
            margin: 10px 0 0;
            font-size: 15px;
        }
    }

    .modal-body {
        padding: 45px 23px;
        font-size: 12px;
    }

    footer {

        .menu {
            display: flex;
        }

        .catalog-menu {

            .title {
                display: none;
            }

            .title.mob {
                display: inline-block;
            }
        }
    }
}

@media (max-width: 400px) {
    .product {
        .product-info_specifications .section.feedback h2 {
            font-size: 16px;
        }
    }
}

@media (max-width: 351px) {
    .product {
        .right-block .product-info_specifications .section.actions .btns + p {
            font-size: 11px;
        }
    }
}

@media (max-width: 350px) {
    .product {
        .product-info_specifications .section.actions .change-amount label {
            max-width: 125px;
        }
    }
}
