// >= 74.94rem
@import "import/variables",
"import/grid";

@media (min-width: 1234px) {
    .carousel {
        &.lastnews {

            + .carousel-nav {
                display: none;
            }

            .carousel-item {
                display: none;

                &:nth-child(-n+3) {
                    display: inline-block;
                }
            }
        }
    }

    .product {
        .carousel-nav .carousel-nav_link {
            display: none;
        }

        .product-heading.mobile {
            display: none;
        }

        .product-desc {
            .inner-wrapper {
                padding-left: 100px;
            }
        }
    }
}

@media (max-width: 1233px) {

    header {
        .logo-block .logo-block_slogan {
            font-size: 1.25em;
            max-width: 90px;
        }

        .logo-block,
        .affiliate_contacts-wrap,
        .social-block.tooltip {
            margin-right: 20px;
            white-space: nowrap;
        }

        .social_search-wrap {
            max-width: 530px;
            margin: 0 auto;
        }

        .user-tools {
            margin-left: 20px;
        }

        nav a {
            font-size: 0.75em;
        }
    }

    .content-wrap,
    .breadcrumbs {
        padding-left: 28px;
        padding-right: 28px;
    }

    section {
        &.product-carousel_block .carousel-nav {
            right: 1.75em; // 28px
        }

        &.our-partners {

            .left-side,
            .right-side {
                display: block;
                margin: 0;
                max-width: 100%;
            }

            .right-side {
                max-width: 100%;
            }

            h2 {
                margin-bottom: 2.5rem; //40px
            }
        }

        &.news {

            .news-wrap {
                padding: 0 calc(50% - 28.13rem); //450px
            }

            .news-item.float-r {
                float: left;
            }
        }

        &.have-question {

            .left-column {
                display: none;
            }

            .right-column {
                margin-left: 0;
                width: 100%;
                max-height: initial;
                float: none;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &.worked-together {
            margin-bottom: 70px;
        }
    }

    .carousel {

        &.main .carousel-item_desc {
            padding: 10.5% 28px 0;
        }

        &.lastnews {
            margin-bottom: 1.25rem; //20px

            .carousel-item {
                width: 50%;
                max-width: unset;

                > div {
                    max-width: 23.13rem; //370px
                    margin-left: auto;
                    margin-right: auto;
                }

                &:nth-child(3n) {
                    margin-right: 1.88rem;
                }

                .carousel-item_desc {

                    .text {
                        padding-left: 3.44rem; //55px
                    }

                    .date span:first-child {
                        font-size: 1.81em;
                    }
                }
            }

            &:after {
                content: 'flickity';
                display: none;
            }
        }

        &.main {
            .carousel-image.pos-absolute {
                right: 28px;
                width: calc(100% - 50%); // 500px
            }
        }

        &.partners {
            position: relative;

            .flickity-button {
                bottom: calc(50% - 0.53rem); //8.5px

                &.previous {
                    left: 0;
                }

                &.next {
                    left: unset;
                    right: 0;
                }
            }

            .carousel-item {
                width: 20%;
            }
        }

        &.product {
            float: none;
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .carousel-block {
        .carousel-nav {
            left: 28px;
        }
    }

    .product-view_card .product-view_card-stamp {
        left: 1.13rem; //18px
        top: 1.13rem; //18px
    }

    .product {

        .product-info {

            > .content-wrap {
                display: flex;
                flex-direction: column;
                padding: 0;
            }

            .clearfix {
                display: none;
            }
        }

        .nav-tabs {
            text-align: center;
        }

        .product-desc .content-wrap {
            padding: 0 1.5rem; //24px
        }

        .tab-container {
            max-width: 100%;

            .tab-container_item {
                padding-bottom: 1.88rem; //30px
                border-bottom: 1px solid $border-color;
            }

            .table-wrap {
                margin-right: 0;

                table.char-table.w-50 {
                    width: 45%;
                    margin-right: 5%;
                    max-width: initial;

                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }
            }
        }

        .product-sidebar {
            float: none;
            max-width: initial;
            margin: 0;

            .carousel-modeling {
                display: none;
            }
        }

        .left-block {
            float: none;
            margin-left: auto;
            margin-right: auto;
            display: block;
            order: 1;
        }

        .right-block {
            order: 3;
            float: none;
            margin: 1.25rem auto 0; //20px
            max-width: 41.56rem;

            .product-info_specifications {

                .section {
                    padding-left: calc(50% - 10.25rem); //164px
                    padding-right: calc(50% - 10.25rem); //164px
                }

                .section.desc {
                    display: none;
                }
            }
        }

        .product-benefit {
            padding-left: 0;
            padding-top: 1.63rem; //26px
            order: 2;
        }

        .fly-container {
            position: static;
        }

        .product-info_specifications {
            max-width: 41.56rem;
        }
    }

    .carousel-nav.thumb,
    .carousel-nav .carousel-nav_thumb {
        transform: none;
        will-change: none;
    }

    .carousel-nav.thumb {
        position: static;
        width: 440px;
        margin: 0 auto;

        .carousel-nav_thumb,
        .carousel-nav_link {
            width: 20%;
            margin-right: 0.31rem; //5px
        }
    }
}

@media (max-width: 1232px) {
    section {
        &.checkout {
            .checkout-submit {
                margin-right: auto;
                padding: 0;
            }
        }
    }
}

@media (min-width: 1200px) {
    section {
        &.delivery-payment {
            .guide-to-order {
                br {
                    display: none;
                }
            }
        }
    }

    footer {
        .catalog-menu {
            margin-left: -66px;
        }

        .contacts {
            padding-right: 50px;
        }
    }
}

@media (max-width: 1199px) {

    @include grid-generator-tablet();

    .btn-full-width_tablet {

        .col {
            max-height: 24.69rem; //395px
        }

        .product-view_card {
            &:hover {
                transform: translateY(-2.31rem); //37px

                .product-btns {
                    height: 4.69rem; //75px
                }
            }

            .product-btns {
                display: block;


                .btn {
                    height: 2.19rem; //35px
                    width: 100%;

                    &:first-child {
                        margin: 0 0 0.31rem; //5px
                    }
                }
            }
        }
    }

    .carousel {
        &.carousel-product_block {
            .carousel-item {
                width: 30%;
            }
        }

        &.carousel-product_block-alt {
            margin-bottom: 3.13rem; //50px

            .carousel-item {
                width: 100%;
                opacity: 1;
            }
        }

        &.other-news {
            &:after {
                content: 'flickity';
                display: none;
            }

            .carousel-item {
                width: 50%;
                max-width: initial;
                margin-right: 0.94rem; //15px
                box-sizing: border-box;

                p.text {
                    max-width: 300px;
                }
            }
        }

        &.certificate {
            .carousel-item {
                width: 33.3333%;
                text-align: center;
            }
        }
    }

    .product-view_card-alt {
        &.large {
            img.product-view_card-alt-image {
                left: calc(50% - 21.88rem); //350px
            }
        }
    }

    section {
        &.product-carousel_block-alt {
            .layout {
                margin-left: 0;
            }

            .col.right {
                margin: 0 auto;
                display: block;
                padding-left: 0;
            }
        }

        &.news-specific {

            .left-column,
            .right-column {
                float: none;
            }

            .left-column {
                max-width: 50rem; //800px
                width: 100%;
                margin-bottom: 40px;

                > img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .right-column {
                max-width: 100%;
                margin: 25px 0 0;

                .short-news {
                    padding-bottom: 0;
                    padding-top: 50px;
                }
            }
        }

        &.brands {
            .col {
                width: 33.33%;
            }
        }

        &.delivery-payment {

            .alphabet {
                .layout .col {
                    width: 50%;
                }
            }

            .guide-to-order {
                .layout .col {
                    width: 50%;
                }
            }
        }

        &.product-carousel_block-alt {

            &:before {
                max-height: 100%;
            }
        }
    }

    .benefit-block {

        .d-flex {
            flex-wrap: wrap;
            padding: 1.88rem 1.75rem 1.25rem;
        }

        .benefit-block_item {
            &:last-child {
                width: 100%;
                text-align: center;

                .benefit-block_item-image {
                    margin-top: 1.56rem; // 25px
                }
            }
        }
    }

    .nav-category .nav-category_drop-menu {
        .grid-5.-tablet-4 {
            margin-left: -1.25rem;

            > .col:nth-child(-n+4) {
                margin-bottom: 1.25rem; // 20px
            }

            > .col:nth-child(4n) {
                &:before {
                    display: none;
                }
            }

            > .col:last-child {
                &:before {
                    content: '';
                }
            }
        }

        .col {
            padding: 0 1.25rem 0; //20px
        }
    }

    .catalog {

        .col:hover {
            transform: none;
        }

        .catalog-card {
            width: 100%;
        }
    }

    .catalog-list {
        .show-on-mobile {
            display: block;
        }

        .catalog-list_content {
            width: 100%;
            margin-left: 0;

            .load-more {
                margin-left: 0.94rem; //15px
            }

            .col {
                padding-left: 0.94rem;
                padding-bottom: 0.94rem;
                max-height: 25.31rem; //405px
            }

            .card-stub {
                height: 23.81rem; //381px
            }

            .layout {
                margin-left: -0.94rem; //15px
            }
        }
    }

    .filter {
        .btn.toggle {
            display: block;
        }

        .show-on-mobile,
        .filter-overlay {
            display: block;
        }

        form {
            position: fixed;
            top: 0;
            left: -16.88rem; //270px
            visibility: hidden;
            z-index: 15;
            float: none;
            height: 100%;
            overflow-y: scroll;

            &.active {
                left: 0;
                visibility: visible;

                + .filter-overlay {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .filter-item .filter-item_settings .delimiter {
                margin: 0 6px;
            }
        }
    }

    .magazine-catalog {
        .nav-tabs .tab {
            margin-right: 25px;
        }
    }

    footer {
        .footer-wrap {
            > .d-flex {
                flex-wrap: wrap;

                > div {
                    width: 50%;
                }

                .menu {
                    .block-group {
                        width: 48%;
                        display: inline-block;
                    }
                }

                .address,
                .contacts {
                    margin-top: 2.5rem; //40px
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .catalog-list {
        .product-view_card {
            &:hover {
                transform: none;

                .product-btns {
                    height: 0;
                }
            }

            .product-btns {
                display: none;
            }
        }
    }
}

@media (min-width: 551px) and (max-width: 992px) {
    section {
        &.user-profile {

            .profile-menu {

                .profile-menu_item {
                    max-width: 50%;
                    display: inline-flex;
                    width: 100%;
                    justify-content: center;

                    a {
                        padding-left: 0;
                    }

                    &:first-child {
                        padding: 0;
                        margin: 0;
                        border-right: 1px solid $border-color;
                        border-bottom: 0;
                        margin-left: -1px;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    header {
        .logo-block {
            .logo-block_img {
                display: none;
            }
        }

        .affiliate_contacts-wrap {
            display: none;
        }
    }

    table.basket-table {
        display: block;

        thead {
            display: none;
        }

        tbody {
            display: block;
        }

        td {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $c-l-blue;
            border-bottom: 1px solid #fff;

        }

        .basket-table_item {
            display: block;
            margin-bottom: 25px;
            border-bottom: none;
            font-size: 0.88em; //14px

            &:last-child {
                border-bottom: none;
            }

            > * {
                padding-left: 10px;
                padding-right: 10px;

                &:last-child {
                    padding-right: 10px;
                }
            }

            &:hover {
                background-color: initial;
            }

            td.basket-item_amount label.change-amount {
                margin: 0 0 0 auto;
            }

            td.basket-item_image {
                display: none;
            }

            td {
                text-align: right;

                &:before {
                    content: attr(data-label);
                }
            }
        }
    }

    table.user-table {
        max-width: initial;

        tbody {
            font-size: 15px;

            td {
                padding: 15px 0;
            }

            tr {
                border-bottom: 1px solid $border-color;
            }
        }

        .char-table_name {
            width: 50%;
            padding-left: 15px;

            &:after {
                display: none;
            }
        }

        .char-table_value {
            width: 50%;
            text-align: right;
            padding-right: 15px;
            text-indent: 0;
        }
    }

    .nav-category .nav-category_menu > li {
        font-size: 0.81em;
    }

    section {
        &.product-carousel_block {
            padding: 4.31rem 0 2.06rem; //66px 0 33px
        }

        &.news-specific {
            .left-column {
                padding-left: 0;

                .news-specific_date {
                    position: static;
                    margin-bottom: 15px;
                }
            }
        }

        &.basket {
            .basket_additional-actions {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &.brands {
            .brands-container {
                padding-bottom: 85px;
            }
        }

        &.checkout {

            .checkout-block,
            .blur-shell,
            .checkout-block_input {
                display: block;
            }

            .checkout-block {
                padding: 25px 0;
            }

            .nav-tabs {
                max-width: 100%;
                padding-right: 0;
                margin-bottom: 35px;
                
                &.inline{
                    display: block;
                    margin-bottom: 20px;
                }
            }

            table.char-table .char-table_title{
                padding-bottom: 25px;
            }

            .tab-container.inline .tab-container .column {
                label:last-child {
                    margin-bottom: 0;
                }
            }

            .tab-container.inline {
                float: none;
                display: block;

                .tab-container_info {
                    float: none;
                    margin: 25px 0;
                }
            }

            .checkout-block .checkout-block_title {
                max-width: initial;

                h2 {
                    margin-bottom: 1.667em; //40px
                }

                br {
                    display: none;
                }
            }
        }

        &.contacts {

            .contacts-container {
                display: flex;
                flex-direction: column;
            }

            h1 {
                order: 1;
            }

            .magazine-catalog {
                order: 2;
            }

            .company-department {
                order: 3;

                .col {
                    width: 33.33%;
                }
            }
        }

        &.delivery-payment {

            .left-column,
            .right-column {
                max-width: 100%;
                float: none;
                width: auto;
                margin: 0;
            }

            .alphabet {
                .layout .col {
                    width: 25%;
                }
            }
        }

        &.user-profile {

            .user-profile_sidebar,
            .user-profile_content {
                float: none;
                width: 100%;
            }

            &.orders .user-profile_content {
                width: 100%;
            }

            .user-profile_container {
                padding-bottom: 60px;
            }

            .user-profile_content {
                table {
                    margin-bottom: 35px;
                }

                .btn {
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
            }

            .profile-menu {
                padding: 26px 21px;
                margin-bottom: 35px;
            }

            form.user-change-profile {
                > div {
                    margin-left: auto;
                    margin-right: auto;

                    &:last-of-type {
                        margin-bottom: 35px;
                    }
                }

                .btn {
                    max-width: 285px;
                    margin-right: auto;

                    &:last-child {
                        margin-top: 10px;
                    }
                }
            }
        }

        &.delivery-point {
            .select-delivery {
                margin-bottom: 40px;
            }

            .map {
                margin-bottom: 50px;
            }

            .tab-container {
                padding-bottom: 65px;
            }

            table.user-table .char-table_title {
                padding-bottom: 15px;
            }
        }
    }

    .carousel {
        &.benefit {
            &:after {
                content: 'flickity';
                display: none;
            }
        }

        &.carousel-product_block {
            .product-view_card {
                width: 33%;
                margin-right: 0.94rem; //15px
                padding: 1.25rem 1.88rem; // 20px 30px
            }
        }

        &.partners .carousel-item {
            width: 25%;
        }

        &.lastnews .carousel-item {
            //            width: 100%;

            > div {
                max-width: 370px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .get-instruction {
        padding: 20px 25px;

        .desc {
            font-size: 19px;
            margin-left: 10px;
        }
    }

    .catalog-list .catalog-list_content {
        .col {
            width: 33.333%;
        }

        .card-stub {
            height: 23.38rem; //374px
        }
    }

    .seo {
        padding: 3.75rem 0 3.13rem; //60px 50px
    }

    .magazine-catalog {
        padding-bottom: 35px;
        margin-bottom: 34px;
        border-bottom: 1px solid $border-color;

        h2 {
            display: none;
        }

        .carousel-nav.with-thumb .carousel-thumb {
            width: 20%;
            margin-right: 15px;
        }

        .magazine-catalog_heading {
            display: block;
        }

        .magazine-catalog_carousel {
            padding-bottom: 65px;
        }

        .magazine-catalog_desc,
        .magazine-catalog_map {
            float: none;
            width: 100%;
            max-width: initial;
            margin: 0;
        }

        .magazine-catalog_map {
            img {
                margin-left: auto;
                display: block;
                margin-right: auto;
            }
        }
    }

    footer {
        .footer-wrap {
            padding: 3.13rem 0 2.5rem; //50px 0 40px
        }
    }
}

@media (max-width: 973px) {
    section {
        &.news {
            .news-wrap {
                padding: 0 calc(50% - 17.812rem); //285px
            }
        }
    }
}
