@import "import/variables";

.carousel {

    .flickity-viewport,
    .carousel-item {
        width: 100%;
    }

    .flickity-button svg {
        fill: $c-l-dark;
        width: 14px;
        height: 23px;
    }

    .flickity-button {
        position: absolute;
        z-index: 1;
    }

    .flickity-page-dots {
        .dot {
            width: 7px;
            height: 7px;
            background-color: $c-l-dark;
            border: none;

            &.is-selected,
            &:hover {
                background-color: $c-pink;
            }
        }
    }

    // default carousel

    + .carousel-nav {
        margin: 35px auto 0;
        max-width: 350px;
        width: 100%;

        &.top {
            position: absolute;
            bottom: calc(100% + 20px);
            left: calc(50% - 175px);
            margin: 0;
        }

        &.green {
            .flickity-button:hover {
                background-color: $c-green;
            }

            .carousel-nav_dot {

                &:not(.is-nav-selected):hover .dot:after,
                &.is-nav-selected .dot {
                    background-color: $c-green;
                }
            }
        }

        .flickity-button {
            top: -12px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            transition: $transition;
            display: inline-block;

            &:hover {
                background-color: #F6D0C9;
            }

            svg {
                width: 14px;
            }

            &.previous {
                left: -30%;

                .flickity-button-icon {
                    margin-right: 4px;
                }
            }

            &.next {
                right: -30%;

                .flickity-button-icon {
                    margin-left: 4px;
                }
            }
        }

        .flickity-viewport {
            min-height: 25px;
            line-height: 25px;
        }

        .carousel-nav_dot {
            width: 14.28%;
            z-index: 1;

            .dot:after {
                content: '';
                position: absolute;
                display: inline-block;
                top: 3px;
                left: 15px;
                width: 21px;
                height: 21px;
                border-radius: 50%;
                background-color: transparent;
                transition: $transition;
                z-index: -1;
            }

            &:not(.is-nav-selected):hover .dot:after,
            &.is-nav-selected .dot {
                background-color: #EDB8B0;
            }
        }
    }

    &.items-2 {
        .carousel-item {
            width: 50%;
        }
    }

    &.items-4 {
        .carousel-item {
            width: 25%;
        }
    }

    &.items-6 {
        .carousel-item {
            width: 16.666%;
        }
    }

    &.review.card {
        margin-bottom: 22px;

        .carousel-item {
            background-color: #fff;

            .product-view_wrap:before {
                content: none;
            }

            &:hover {
                .product-image img {
                    transform: none;
                }
            }
        }

        + .btn {
            border: none;
            border-bottom: 2px solid $c-green;
            letter-spacing: 0.05em;
        }

        .flickity-button {
            top: 67%;

            &.previous {
                left: -11px;
            }

            &.next {
                right: -11px;
            }
        }
    }

    &.gallery-carousel {

        .flickity-viewport {
            max-width: 1203px;
            margin: auto;
        }

        .carousel-item {
            margin: 0 auto;
        }

        &.photos {
            .carousel-item {
                margin-right: 10px;

                img {
                    border-bottom: 10px solid #fff;
                }
            }
        }

        + .carousel-nav {
            svg {
                opacity: 0;
            }
        }

        &.goods {
            padding-bottom: 0;
            
            .carousel-item {
                width: 180px;
                margin-right: 24px;
                text-align: center;

                .item-wrap{
                    max-width: 180px;
                    width: 100%;
                    min-width: 135px;
                    margin: auto;
                }
                
                .item-info {
                    background-color: #fff;
                    padding: 25px 20px 22px;

                    .name {
                        display: block;
                        height: 49px;
                        overflow: hidden;
                        margin-bottom: 14px;
                    }

                    .price {
                        font-size: 18px;
                        line-height: 1.389em;
                        display: inline-block;
                        margin-right: 3px;
                    }
                }
            }
        }
    }

    &.product-carousel {
        max-width: 500px;
        width: 100%;
        position: relative;

        .flickity-button {
            position: absolute;
            top: calc(50% - 7px);

            &.previous {
                left: 10px;
            }

            &.next {
                right: 10px;
            }
        }

        + .carousel-nav {
            width: 270px;
            opacity: 0;
            margin: 20px auto 0;

            .carousel-nav_thumb {
                width: 60px;
                height: 60px;
                border: 2px solid transparent;
                margin-right: 10px;
                cursor: pointer;
                will-change: transform;

                &.is-nav-selected {
                    border-color: $c-pink;
                }
            }
        }
    }

    &.reviews-carousel {
        position: relative;

        &:not(.flickity-enabled) {
            display: flex;
            flex: wrap;
            justify-content: space-between;
        }

        .flickity-viewport {
            padding-bottom: 26px;
            box-sizing: content-box;
        }

        &.flickity-enabled {
            .carousel-item {
                width: 600px;
                margin-right: 28px;
            }
        }
    }
}

@media (min-width: 1251px) {
    .carousel.product-carousel + .carousel-nav {
        position: absolute;
        left: calc(100% - 20px);
        top: 0;
        transform: rotate(90deg);
        transform-origin: 10px 10px;
        margin: 0 auto;

        .carousel-nav_thumb {
            transform: rotate(-90deg);

            &.is-nav-selected {
                border-color: $c-pink;
            }
        }
    }
}

/* Кастомная навигация */

.carousel-nav {
    position: relative;

    .carousel-nav_dot {
        cursor: pointer;
        text-align: center;

        .dot {
            width: 7px;
            height: 7px;
            background-color: $c-l-dark;
            border: none;
            display: inline-block;
            border-radius: 50%;
            transition: $transition;
        }
    }

    .flickity-button {
        position: absolute;
        z-index: 1;
    }
}
