@import "import/variables";

.d-block {
    display: block;
}

.d-i-block {
    display: inline-block;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    > div,
    > p,
    > span {
        box-sizing: border-box;
    }
}

.d-i-flex {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.align-content-stretch {
    align-content: stretch;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

/* *** */

/* Align Text */

.text-center {
    text-align: center;
}

/* *** */

/* Floats */

.float-l {
    float: left;
}

.float-r {
    float: right;
}

/* *** */

/* Positions */

.m-auto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .m-auto-phablet {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

/* Colors */

.c-pink{
    color: $c-pink;
}

.c-gray{
    color: $c-gray;
}

.c-d-gray{
    color: $c-d-gray;
}

.c-green{
    color: $c-green;
}

.c-white{
    color: #fff;
}

/* *** */

/* Backgrounds */

.bg-gray{
    background-color: $c-gray;
}

.bg-pink{
    background-color: $c-pink;
}

.bg-green{
    background-color: $c-green;
}

.bg-dark{
    background-color: $c-dark;
}

.bg-l-dark{
    background-color: $c-l-dark;
}

/* *** */

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

/* Paddings and Margins */

.m-0 {
    margin: 0;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

.p-0 {
    padding: 0;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

/* Hover's effects */

.cursor-p {
    cursor: pointer;
}

/* *** */

/* Font Sizes(in PX to EM) and other */

.fz11 {
    font-size: 0.69em;
}

.fz12 {
    font-size: 0.750em;
}

.fz13 {
    font-size: 0.81em;
}

.fz14 {
    font-size: 0.875em;
}

.fz15 {
    font-size: 0.938em;
}

.fz18 {
    font-size: 1.125em;
}

.fz18px{
    font-size: 18px;
}

.fz20 {
    font-size: 1.250em;
}

.fz26 {
    font-size: 1.625em;
}

.fz30 {
    font-size: 1.875em;
}

.fz36 {
    font-size: 2.250em;
}

.fz40 {
    font-size: 2.500em;
}

.fz60 {
    font-size: 3.750em;
}

.fz100 {
    font-size: 6.25em;
}

.font-light {
    font-weight: 300;
}

.font-medium {
    font-weight: 500;
}

.font-b {
    font-weight: bold;
}

.font-black {
    font-weight: 900;
}

/* *** */

/* Icons */

.icon{
    display: inline-block;
    
    &.rotate90{
        transform: rotate(90deg);
    }
    
    &.rotate-90{
        transform: rotate(-90deg);
    }
    
    &.stroke-fill-pink svg{
        fill: $c-pink;
        stroke: $c-pink;
    }
    
    &.stroke-fill-green svg{
        fill: $c-green;
        stroke: $c-green;
    }
    
    &.stroke-green svg{
        stroke: $c-green;
    }
    
    &.fill-none svg{
        fill: none;
    }
    
    &.fill-dark svg{
         fill: $c-dark;
    }
    
    &.fill-l-dark svg{
         fill: $c-l-dark;
    }
    
     &.fill-white svg{
         fill: #fff;
    }
    
    &.fill-pink svg{
        fill: $c-pink;
    }
    
    &.fill-green svg{
        fill: $c-green;
    }
    
    &.fill-gray svg{
        fill: $c-gray;
    }
    
    &.angle-right svg{
        transform: rotate(-90deg);
    }
}

/* Shadows */

.with-shadow{
    box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.1);
}

/* Эффект сияния */

@keyframes shine {
    10% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }

    100% {
        opacity: 0;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
    }
}

/* *** */
