html,
body {
    min-width: 320px;
}

body {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    font-family: $font-family;
    color: $c-dark;
    
    &.mfp-zoom-out-cur{
        transition: all 0.8s;
    }
}

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: $transition;
    color: $c-dark;

    &:active,
    &:visited,
    &:focus {
        color: inherit;
    }

    &:hover {
        color: $c-green;
        text-decoration: none;
    }

    &.c-green {
        color: $c-green;

        &:hover {
            color: $c-pink;
        }
    }

    svg {
        transition: $transition;
    }
}

strong,
b {
    font-weight: 700;
}

%ul {
    counter-reset: my-counter;
    position: relative;
    list-style: none;

    & > li {
        padding-left: 2em;

        & + li {
            margin-top: .25em;
        }

    }

}

ul.list-unstyled,
ol.list-unstyled {
    list-style: none;
}

ul.list-inline li,
ol.list-inline li {
    display: inline-block;
}

%ul-li {

    & > li {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            left: .75em;
            top: .5em;
            border-radius: 50%;
        }

    }

}


%ol-li {

    & > li {
        position: relative;
        counter-increment: my-counter;

        &:before {
            content: counter(my-counter) '.';
            position: absolute;
            min-width: 1em;
            text-align: center;
            left: .5em;
        }

    }

}


.typography {

    ul,
    ol {
        @extend %ul;
    }

    ul {
        @extend %ul-li;
    }

    ol {
        @extend %ol-li;
    }

    blockquote:not([class]) {
        font-size: .8em;
        padding-top: .8rem;
        background-size: 5em 0.3em;

        cite {
            font-style: italic;
        }

    }
}


.ul,
.ol {
    @extend %ul;
}


.ul {
    @extend %ul-li;
}


.ol {
    @extend %ol-li;
}


hr {
    clear: both;
    height: 1px;
    margin: 0;
    background: currentColor;
    border: 0;
}


fieldset {
    border: 0;
    padding: 0;
}


legend {
    padding: 0;
}


main {

    & > *:first-child {
        margin-top: 0 !important;
    }

    & > *:last-child {
        margin-bottom: 0 !important;
    }

}


.clear {
    clear: both;
}


.text {

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }

    &-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-nowrap {
        white-space: nowrap;
    }

    &-uppercase {
        text-transform: uppercase;
    }

}


.overflow {

    &-hidden {
        overflow: hidden;
    }

    &-visible {
        overflow: visible !important;
    }
}


.inline {
    display: inline;

    &-block {

        &-top {
            vertical-align: top;
        }

        &-middle {
            vertical-align: middle;
        }

        &-bottom {
            vertical-align: bottom;
        }
    }
}

.link {
    &-dotted {
        border-bottom: 1px dashed;
    }
}

h1,
.h1,
h2.h1{
    font-size: 40px;
    line-height: 1.375em; //55px
    text-align: center;
    margin: 0 0 0.625em; //25px
}

h2,
.h2,
h1.h2 {
    font-size: 30px;
    line-height: 1.367em; //41px
    font-weight: 500;
}

h3,
.h3{
    font-size: 20px;
    line-height: 1.350em; //27px
    font-weight: 500;
}
