/* Colors */

$c-pink: #FFC7BE;
$c-green: #93B5AC;
$c-dark: #212127;
$c-l-dark: #313137;
$c-gray: #f8f8f8;
$c-d-gray: #BCBCBC;

/* *** */

/* BG's */

$bg-b-transparent: rgba(33, 33, 39, 0.98);

/* *** */

/* Box Shadow's */

$shadow-for-drop: 0px 4px 55px rgba(0, 0, 0, 0.1);

/* *** */

$font-family: 'Avenir Next Cyr', sans-serif;

$transition: all ease-in-out 0.3s;