.nav-tabs {
    .flickity-button svg.flickity-button-icon {
        width: 0.69rem; //11px
        fill: #000;
    }
}

.carousel {
    max-width: 1920px;
    margin: 0 auto;

    .flickity-viewport {
        width: 100%;
    }

    .flickity-button .flickity-button-icon {
        width: 11px;
        fill: #000;
    }

    //default width for items, need to show carousel

    .carousel-item {
        width: 100%;
    }

    &.main {
        position: relative;
        background-color: $c-d-blue;
        min-height: 505px;
        height: 68.09vh;
        max-height: 638px;

        // 638px

        .pos-absolute.carousel-image {
            right: calc(50% - 36.78rem);
            min-width: 11.88rem; // 190px
        }

        .flickity-viewport {
            overflow: visible;
            z-index: 1;
        }

        h2 {
            font-size: 3em; // 48px
            line-height: 0.979em; // 46px
            margin-bottom: 0.729em; // 35px
            color: #fff;
        }

        .btn.white {
            font-size: 0.88em;
            max-width: 157px;
            width: 100%;
            padding: 0.5rem;
        }

        .carousel-item {
            background-repeat: no-repeat;
            background-position: center top;
            height: 100%;
            background-size: cover;
            max-width: 100%;
            position: relative;

            &.abroad .carousel-image {
                top: -2.5rem; // -40px
            }
        }

        .carousel-item_desc {
            max-width: 430px;
            width: 100%;
            padding-left: calc(50% - 502px);
            padding-top: 5.5%;

            p {
                color: #fff;
                font-size: 1em;
                line-height: 1.81em;
                margin: 0 0 1.88em;
            }
        }

        + .carousel-nav {
            z-index: 2;
        }
    }

    &.nav-category {
        background-color: $c-gray;
        margin-left: -28px;
        margin-right: -28px;
        display: block;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 10%;
            z-index: 5;
            padding: 0;
            pointer-events: none;
        }

        &:before {
            left: 0;
            background: linear-gradient(88.27deg, #FAFBFC 13.21%, rgba(250, 251, 252, 0) 156.01%);
        }

        &:after {
            right: 0;
            background: linear-gradient(88.27deg, #FAFBFC 13.21%, rgba(250, 251, 252, 0) 156.01%);
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }

        .nav-category_menu {
            position: relative;
            padding: 1.88rem 0;
            text-align: center;

            .carousel-item {
                width: 20%;
                font-size: 0.88em;
                line-height: 0.81em;
                font-weight: bold;
                cursor: pointer;
                height: 85px;
                position: relative;
                display: inline-flex;
                flex-direction: column;
                justify-content: center;

                .icon-wrap,
                .circle {
                    display: block;
                    text-align: center;
                    margin-bottom: 0.94rem;
                    min-height: 2rem;
                }

                .icon-wrap + span {
                    word-spacing: 60px;
                    display: inline-block;
                    height: 29px;
                    overflow: hidden;
                    line-height: 1.1;
                }

                > span {
                    transition: $transition;
                }

                &:hover,
                &.active {
                    color: $c-gold;

                    svg {
                        fill: $c-gold;
                    }

                    .circle {
                        border-color: $c-gold;
                    }
                }

                &.active {
                    .nav-category_angle {
                        transform: rotate(90deg);
                    }
                }
            }

            .circle {
                display: inline-block;
            }
        }
    }

    &.carousel-product_block {
        padding: 0 0 0 1.56rem;
        margin-left: -1.56rem;
        overflow: hidden;


        .flickity-viewport {
            padding: 1.25rem 0; //20px 0
            overflow: visible;
        }

        .carousel-item {
            margin-right: 1.88rem; //30px
            width: 25%;
        }
    }

    &.benefit {
        &:after {
            content: '';
        }

        .flickity-viewport {
            height: 7.81rem !important; // 125px
        }

        .flickity-button {
            position: absolute;
            top: calc(50% - 0.34rem);

            &.previus {
                left: 0;
            }

            &.next {
                right: 0;
            }

            svg {
                fill: #000;
            }
        }

        &.flickity-enabled {
            display: block;
            margin-top: 0;
            box-shadow: none;
            padding: 30px 0;
            border-bottom: 1px solid $border-color;

            .benefit-block_item {
                width: 33%;
                text-align: center;
                margin-right: 1px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &:last-child {
                    width: 33%;
                    margin: 0;

                    .benefit-block_item-image {
                        height: 2.19rem;
                        margin: 0;
                    }
                }
            }

            .benefit-block_item-desc p {
                margin-bottom: 0.31rem; // 5px
            }

            .benefit-block_item-image {
                float: none;
                margin: 0 0 0.69rem;
            }
        }
    }

    &.carousel-product_block-alt {

        .flickity-viewport {
            overflow: visible;
            height: 35.63rem !important; //570px
            padding: 6.44rem 0 0; //103px
        }

        .flickity-button {
            position: absolute;
            bottom: 49px;
            right: 0;

            svg {
                width: 11px;
            }

            &:hover svg {
                fill: $c-gold;
            }

            &.previous {
                right: 133px;
            }

            &.next {
                right: 71px;
            }
        }

        .carousel-item {
            padding: 2.88rem 2.56rem 3.75rem; // 46px 41px 60px
            box-sizing: border-box;
            background-color: #fff;
            width: 570px;
            height: 570px;
            opacity: 0;
            transition: opacity .55s;

            &.is-selected {
                opacity: 1;
            }
        }
    }

    &.carousel-product_block-small {
        &:after {
            content: '';
        }
    }

    &.partners {
        position: static;

        .flickity-button {
            position: absolute;
            bottom: 106px;

            &.previous {
                left: calc(50% - 36.78rem);
            }

            &.next {
                left: calc(50% - 534px);
            }

            &:hover svg {
                fill: $c-gold;
            }

            svg {
                width: 11px;
            }
        }

        .carousel-item {
            width: 25%;
            text-align: center;

            p {
                max-width: 10.56rem; //169px
                width: 100%;
                margin: 2em auto 0; //24px
                font-size: 0.75em; //12px
            }
        }
    }

    &.lastnews {

        &:after {
            content: '';
        }

        .carousel-item {
            max-width: 370px;
            display: inline-block;
            vertical-align: top;
            margin-right: 1.88rem; //30px

            .carousel-item_desc {
                position: relative;

                .date {
                    position: absolute;
                    left: 0;
                    top: 0;

                    span {
                        display: block;
                        font-weight: bold;
                        font-size: 0.69em; //11px
                        line-height: 15px;

                        &:first-child {
                            font-size: 2.25em; //36px
                            line-height: 1em; // 36px
                        }
                    }
                }

                .text {
                    padding-left: 4.06rem; //65px
                    font-size: 0.88em; //14px
                    line-height: 1.786em;
                    height: 10.94rem; //175px
                    overflow: hidden;
                }
            }

            .carousel-item_image {
                margin-bottom: 2.5rem; //40px
            }

            &:nth-child(3n) {
                margin-right: 0;
            }
        }

        + .carousel-nav {
            position: relative;
            margin: 0 auto;
        }
    }

    &.product {
        position: relative;
        height: 35.31rem; //565px
        width: calc(100% - 6.25rem); //665px - 565px = 100px
        float: right;
        background-color: #fff;

        .carousel-item {
            height: 100%;

            img {
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }

        &.card-stamp_more-one {
            .carousel-item_stamp {
                width: 60px;
                padding: 20px 0;
                font-size: 1em;
                font-weight: 700;
            }

            .carousel-item_stamp + .carousel-item_stamp {
                top: 20%;
            }

            .carousel-item_stamp + .carousel-item_stamp + .carousel-item_stamp {
                top: 32%;
            }
        }

        .carousel-item_stamp {
            position: absolute;
            top: 8.14%;
            left: 6.02%;
            border-radius: 50%;
            padding: 1.88rem 0; //30px
            width: 5rem; //80px
            background-color: $border-color;
            box-sizing: border-box;
            font-size: 1.13rem; //18px
            font-weight: 900;
            text-align: center;
            z-index: 3;

            &.bg-green {
                background-color: #E3EEC4;
            }

            &.bg-orange {
                background-color: #F5E3CD;
            }
        }

        .flickity-page-dots {
            position: absolute;
            bottom: 3.187%; //18px
            left: 5.665%; //32px
            right: unset;

            .dot {
                width: 5px;
                height: 5px;
                padding: 6px;
                border: none;
                margin: 0 8px 0 0;
                border: 1px solid transparent;
                background-color: transparent;
                border-radius: 50%;
                cursor: pointer;
                display: inline-block;
                position: relative;
                box-sizing: content-box;

                &:last-child {
                    margin-right: 0;
                }

                &:hover:before {
                    background-color: $c-gold;
                }

                &:before {
                    content: '';
                    background-color: #000;
                    width: inherit;
                    height: inherit;
                    top: calc(50% - 2.5px);
                    left: calc(50% - 2.5px);
                    position: absolute;
                    border-radius: inherit;
                }

                &.is-selected {
                    border-color: $c-gold;

                    &:hover {
                        border-color: $c-gold;
                    }

                    &:before {
                        background-color: $c-gold;
                    }
                }
            }
        }
    }

    &.carousel-news-specific {
        .carousel-item {
            text-align: center;
        }
    }

    &.other-news {
        &:after {
            content: '';
        }

        .carousel-item {
            width: auto;
        }
    }

    &.certificate {
        .carousel-item {
            width: 25%;
            text-align: left;
        }
    }

    &.magazine-gallery {
        padding-bottom: 38px;
    }
}

/* Nav custom */

.carousel-nav {
    position: absolute;
    width: 189px;

    &.in-center {
        left: calc(50% - 94.5px);
    }

    &.thumb {
        position: static;
        transform: rotate(90deg);
        z-index: 3;
        width: 234px;
        transform-origin: 0% 100%;
        position: relative;
        top: -4.25rem; //68px
        will-change: all;

        .flickity-viewport {
            margin: 0;
            height: 4.25rem !important;
        }
    }

    .carousel-nav_thumb {
        max-width: 4.25rem; //68px
        width: 33.333%;
        min-height: 4.25rem;
        margin-right: 0.94rem;
        background-color: #fff;
        display: inline-block;
        box-sizing: border-box;
        cursor: pointer;
        border: 3px solid transparent;
        transition: $transition;
        transform: rotate(-90deg);
        will-change: transform;

        &:hover img,
        &.is-nav-selected img {
            opacity: 1;
        }

        &:hover {
            border-color: $c-gold;
        }

        img {
            margin-left: auto;
            margin-right: auto;
            max-width: 4.25rem; //68px
            padding-top: 10px;
            display: block;
            opacity: 0.4;
            transition: $transition;
        }
    }

    .carousel-nav_link {
        width: 33.333%;
        max-width: 4.25rem;
        margin-right: 0.94rem;

        a {
            display: block;
            box-sizing: border-box;
            background-color: #3F657D;
            width: 4.25rem; //68px
            height: 4.25rem; //68px
            font-size: 0.63rem; //10px
            font-weight: bold;
            text-align: center;
            line-height: 0.81rem; //13px
            padding-top: 0.88rem; //14px

            .icon {
                display: block;
                margin-bottom: 0.59rem; //9.5px
            }

            &.show-3d {
                padding-top: 0.69rem; //11px

                .icon {
                    margin-bottom: 0.44rem; //7px
                }
            }

            &:hover {
                background-color: $c-gold;
            }
        }
    }

    .carousel-nav_dot {
        width: 20%;
        margin: 0 8px 0 0;
        display: inline-block;
        cursor: pointer;

        &:hover .dot:after {
            background-color: $c-gold;
        }

        .dot {
            display: block;
            width: 19px;
            height: 19px;
            border: 1px solid transparent;
            border-radius: 50%;
            position: relative;

            &:hover {
                &:before {
                    background-color: $c-gold;
                }
            }

            &:before {
                content: '';
                background-color: #fff;
                width: 5px;
                height: 5px;
                top: calc(50% - 2.5px);
                left: calc(50% - 2.5px);
                position: absolute;
                border-radius: inherit;
            }
        }

        &.is-nav-selected {
            cursor: default;

            .dot {
                border-color: #fff;
            }

            &:hover {
                .dot:before {
                    background-color: #fff;
                }
            }
        }
    }

    &.black {
        .carousel-nav_dot {
            .dot:before {
                background-color: #000;
            }

            &.is-nav-selected {
                .dot {
                    border-color: $c-gold;

                    &:before {
                        background-color: $c-gold;
                    }

                    &:hover {
                        .dot:before {
                            background-color: $c-gold;
                        }
                    }
                }
            }
        }

        .flickity-button {
            svg {
                fill: #000;
            }
        }
    }

    .flickity-viewport {
        margin: 0 23px 0 27px;
    }

    .flickity-button {
        width: 11px;
        fill: #fff;
        position: absolute;
        top: -2px;

        &:hover svg {
            fill: $c-gold;
        }

        &.previous {
            left: 0;
        }

        &.next {
            right: 0;
        }

        svg {
            fill: #fff;
        }
    }
}
