@import "import/variables";

.d-block {
    display: block;
}

.d-i-block {
    display: inline-block;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    > div,
    > p,
    > span {
        box-sizing: border-box;
    }
}

.d-i-flex {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-d-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-content-stretch {
    align-content: stretch;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

/* *** */

*.divide-2 {
    column-count: 2;
}

/* Align Text */

.text-center {
    text-align: center;
}

.align-top {
    &:before {
        content: '';
        height: 100%;
        width: 1px;
        margin-left: -1px;
        display: inline-block;
    }

    > div,
    > p,
    > a,
    > span {
        vertical-align: top;
    }
}

/* *** */

/* Floats */

.float-l {
    float: left;
}

.float-r {
    float: right;
}

/* *** */

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

/* Positions */

.m-auto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .m-auto-phablet {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 479px) {
    .m-auto-mobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.pos-sticky {
    position: sticky;
}

.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

/* Colors */

.c-gold {
    color: $c-gold;
}

.c-white {
    color: #fff;
}

/* *** */

/* Backgrounds */

.no-bg {
    background: none;
    background-color: transparent;
}

.bg-white {
    background-color: #fff;
}

.bg-blue {
    background-color: $c-d-blue;
}

.bg-l-blue {
    background-color: $c-l-blue;
}

/* *** */

/* Paddings and Margins */

.m-0 {
    margin: 0;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

.p-0 {
    padding: 0;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

/* Hover's effects */

.cursor-p {
    cursor: pointer;
}

/* *** */

/* Font Sizes(in PX to EM) and other */

.fz11 {
    font-size: 0.69em;
}

.fz12 {
    font-size: 0.750em;
}

.fz13 {
    font-size: 0.81em;
}

.fz14 {
    font-size: 0.875em;
}

.fz15 {
    font-size: 0.938em;
}

.fz18 {
    font-size: 1.125em;
}

.fz18px {
    font-size: 18px;
}

.fz20 {
    font-size: 1.250em;
}

.fz24 {
    font-size: 1.5em;
}

.fz26 {
    font-size: 1.625em;
}

.fz30 {
    font-size: 1.875em;
}

.fz36 {
    font-size: 2.250em;
}

.fz40 {
    font-size: 2.500em;
}

.fz60 {
    font-size: 3.750em;
}

.fz100 {
    font-size: 6.25em;
}

.font-light {
    font-weight: 300;
}

.font-medium {
    font-weight: 500;
}

.font-b {
    font-weight: bold;
}

.font-black {
    font-weight: 900;
}

/* *** */

/* Animation */

@keyframes hideshow {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        opacity: 1;
        background-color: rgba(255, 255, 255, 1);
    }
}

/* Icons not in sprite */
