html {
    &.overflow-x-hidden {
        overflow-x: hidden;
    }
}

body {
    position: relative;
    line-height: 1.31rem; // 21px
    font-size: 1rem;
    font-family: $font-family, sans-serif;
}

a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    transition: $transition;
    font-size: 1em;

    &:hover {
        color: $c-gold;
        text-decoration: none;
    }

    &.c-gold:hover {
        color: $c-blue;
    }
    
    &.c-blue{
        color: $c-blue;
        
        &:hover{
            color: $c-gold;
        }
    }

    &.border-b-dashed {
        color: $c-gold;
        border-bottom: 1px dashed $c-gold;

        &:hover {
            border-color: $c-blue;
            color: $c-blue;
        }
    }

    svg {
        color: transparent;
    }
}

strong,
b {
    font-weight: 700;
}

blockquote {
    font-size: 1.13em; //18px
    line-height: 1.667em; //30px
    color: $c-gold;
    font-weight: bold;
    position: relative;
    margin: 0;
    padding-left: 4.778em;
    
    svg{
        fill: $c-gold;
    }
    
    .icon{
        top: 0.5%;
        left: 0;
    }
}

@include h1-h6_size;


ul {
    &.list-unstyled {
        padding-left: 0;
        list-style: none;
    }

    &.list-inline {
        li {
            display: inline-block;
        }
    }
}

%ul {
    counter-reset: my-counter;
    position: relative;
    list-style: none;

    & > li {
        padding-left: 2em;

        & + li {
            margin-top: .25em;
        }

    }

}


%ul-li {

    & > li {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            left: .75em;
            top: .5em;
            border-radius: 50%;
        }

    }

}


%ol-li {

    & > li {
        position: relative;
        counter-increment: my-counter;

        &:before {
            content: counter(my-counter) '.';
            position: absolute;
            min-width: 1em;
            text-align: center;
            left: .5em;
        }

    }

}


.typography {

    @include p;

    @include h1-h6_margin;

    ul,
    ol {
        @extend %ul;
    }

    ul {
        @extend %ul-li;
    }

    ol {
        @extend %ol-li;
    }

    blockquote:not([class]) {
        font-size: .8em;
        padding-top: .8rem;
        background-size: 5em 0.3em;

        cite {
            font-style: italic;
        }

    }

    hr {
        margin: $hr-margin_typography;
    }

}


.ul,
.ol {
    @extend %ul;
}


.ul {
    @extend %ul-li;
}


.ol {
    @extend %ol-li;
}


hr {
    clear: both;
    height: 1px;
    margin: 0;
    background: currentColor;
    border: 0;
}


fieldset {
    border: 0;
    padding: 0;
}


legend {
    padding: 0;
}


main {

    & > *:first-child {
        margin-top: 0 !important;
    }

    & > *:last-child {
        margin-bottom: 0 !important;
    }

}


.clear {
    clear: both;
}


.clearfix {
    @extend %clearfix;
}


.text {

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }

    &-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-nowrap {
        white-space: nowrap;
    }

    &-uppercase {
        text-transform: uppercase;
    }

}


.overflow {

    &-hidden {
        overflow: hidden;
    }

    &-visible {
        overflow: visible !important;
    }
}


.inline {
    display: inline;

    &-block {

        &-top {
            vertical-align: top;
        }

        &-middle {
            vertical-align: middle;
        }

        &-bottom {
            vertical-align: bottom;
        }
    }
}

.link {
    &-dotted {
        border-bottom: 1px dashed;
    }
}
