$color-text: #000; // Цвет основного текста
$color-marker: lighten($color-text, 60%); // Цвет маркеров списков <ul>, <ol> и <blockquote>, <cite>

/* Colors */

$c-gold: #C6A464;
$c-l-blue: #F4F8FB;
$c-blue: #47708A;
$c-d-blue: #2d5066;
$c-gray: #FAFBFC;
$c-red: #FF0000;
$border-color: #E1ECF2;

/* *** */

$font-family: 'Gilroy';
$transition: all ease-in-out 0.3s;

$p-ul-ol-margin_typography: 1em 0; // Отступы у тегов <p>, <ul>, <ol>
$hr-margin_typography: 2em 0;      // Отступ у тега <hr>

$h1: (
	font-size: 3rem,
	line-height: 1.05,
	margin: 2rem 0 1rem
);

$h2: (
	font-size: 2.4rem,
	line-height: 1.25,
	margin: map-get($h1, margin)
);

$h3: (
	font-size: 1.9rem,
	line-height: 1.05,
	margin: map-get($h1, margin)
);

$h4: (
	font-size: 1.5rem,
	line-height: 1.05,
	margin: map-get($h1, margin)
);

$h5: (
	font-size: 1.3rem,
	line-height: 1.22222222,
	margin: map-get($h1, margin)
);

$h6: (
	font-size: 1rem,
	line-height: 1.22222222,
	margin: map-get($h1, margin)
);