@import "import/variables",
"import/extends",
"import/reset",
"import/typography",
"import/helpers",
"import/carousel",
"import/grid";

@include grid-generator-desktop();

/* Basement */

* {
    box-sizing: border-box;
}

input[type=text],
input[type=password] {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $c-dark;
    height: 35px;
    line-height: 18px;
    font-size: 13px;

    &::placeholder {
        color: inherit;
    }

    &.white {
        border-color: #fff;
        color: #fff;
    }

    &.w-100 {
        max-width: 100%;
        width: 100%;
    }
}

input[type=submit] {
    outline: none;
    background-color: transparent;
    border: none;
}

input[type=button] {
    outline: none;
    background-color: transparent;
}

/* Custom input's: checkbox and radio */

.custom-input_wrap {
    position: relative;
    padding-left: 30px;

    input {
        position: absolute;
        left: 0;
        visibility: hidden;
        opacity: 0;

        &:checked {
            + .custom-input.checkbox {
                border-color: $c-green;
                background-color: $c-green;
            }
        }
    }
}

.custom-input {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    left: 0;
    top: 0;

    &.checkbox {
        border: 2px solid $c-l-dark;
        width: 14px;
        height: 14px;

        .icon {
            position: relative;
            bottom: 4px;
            left: 1px;
        }
    }

    &.radio {}
}

label {
    display: block;

    &.d-i-block {
        display: inline-block;
    }

    &.error {
        position: relative;

        input[type=text],
        input[type=password] {
            color: $c-pink;
            border-color: $c-pink;
        }
    }

    span.error {
        position: absolute;
        left: 0;
        top: -15px;
    }
}

button {
    background: none;
    border: none;
    padding: 0;
}

.content-wrap {
    padding: 0 calc(50% - 600px); //content inner width = 1200px
}

.visible-mobile,
.visible-mobile_inline,
.visible-phablet,
.visible-phablet_inline {
    display: none;
}

.col {
    &.margin-gutter {
        padding: 0;
        margin-left: 1.25rem;
        margin-bottom: 1.25rem;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .main-container_inner {
        flex: 1 auto 0;
        min-height: 300px;
    }
}

/* Кнопки */

.btn,
input[type=submit].btn {
    display: inline-block;
    padding: 16px 10px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    border: 2px solid transparent;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.7s;
    outline: none;
    cursor: pointer;

    &:active {
        box-shadow: inset 0px 3px 8px 1px rgba(55, 55, 55, 0.25);
    }

    &:after,
    &:before {
        content: '';
        top: 0;
        bottom: 0;
        width: 110%;
        position: absolute;
        transform: skewX(-30deg);
        background-color: inherit;
        transition: inherit;
        z-index: -1;
        visibility: hidden;
    }

    &:after {
        right: -115%;
    }

    &:before {
        left: -115%;
    }

    &:hover {
        &:after {
            right: 0;
            visibility: visible;
        }

        &:before {
            left: 0;
            visibility: visible;
        }
    }

    svg {
        transition: none;
    }

    &.small {
        padding: 6px 10px;
        font-size: 12px;
        line-height: 1.333em; //16px
    }

    &.pink {
        background-color: $c-pink;
        border-color: $c-pink;
        transition: all 0.4s;

        &:after,
        &:before {
            content: none;
        }

        &:hover {
            color: $c-l-dark;
            background-color: transparent;
            transition: background none;
        }
    }

    &.border-pink {
        border-color: $c-pink;
        color: $c-pink;

        &:hover {
            color: #fff;
            background-color: transparent;
            transition: background none;
        }

        &.hover-effect {
            color: $c-l-dark;

            &:after,
            &:before {
                background-color: $c-pink;
            }

            &:hover {
                color: #fff;
            }
        }
    }

    &.green {
        border-color: $c-green;
        color: $c-green;

        &:hover {
            color: #fff;
        }

        &:after,
        &:before {
            background-color: $c-green;
        }
    }

    &.load-more {
        color: $c-l-dark;
        letter-spacing: 0.05em;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        display: block;

        &:before,
        &:after {
            background-color: $c-pink;
        }

        &:hover {
            color: #fff;
        }
    }

    &.btn-feedback {
        color: $c-l-dark;
        letter-spacing: 0.05em;
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
        display: block;
        border: 2px solid $c-green;


        &:before,
        &:after {
            background-color: $c-green;
        }

        &:hover {
            color: #fff;
        }
    }

    &.w-100 {
        width: 100%;
    }
}

.btn-wrap {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.7s;

    &:after,
    &:before {
        content: '';
        top: 0;
        bottom: 0;
        width: 110%;
        position: absolute;
        transform: skewX(-30deg);
        background-color: inherit;
        transition: inherit;
        z-index: -1;
        visibility: hidden;
    }

    &:after {
        right: -115%;
    }

    &:before {
        left: -115%;
    }

    &:hover {
        &:after {
            right: 0;
        }

        &:before {
            left: 0;
        }
    }

    &.pink {

        &:after,
        &:before {
            background-color: $c-pink;
        }

        &:hover {

            &:after,
            &:before {
                visibility: visible;
            }
        }
    }
}

.breadcrumbs {
    text-align: center;
    padding-top: 20px;

    * {
        font-size: 9px;
        line-height: 12px;
    }

    a {
        text-transform: uppercase;
        color: $c-green;

        &:hover {
            color: $c-l-dark;
        }

        &:after {
            content: '/';
            display: inline-block;
            color: $c-l-dark;
            margin: 0 3px;
        }
    }

    span {
        text-transform: uppercase;
    }
}

.pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .pagination-previous,
    .pagination-next {
        height: 50px;
        width: 50px;
        display: inline-block;
        border-radius: 50%;
        background-color: transparent;
        text-align: center;
        line-height: 50px;

        .icon {
            svg {
                fill: $c-l-dark;
            }
        }

        &:hover {
            background-color: $c-gray;
        }
    }

    .pagination-previous {
        .icon {
            transform: rotate(180deg);
            margin-right: 4px;

        }
    }

    .pagination-next {
        .icon {
            margin-left: 4px;
        }
    }

    .pagination-page-list {
        padding: 0 70px;
        max-width: 539px;
        width: 100%;
        text-align: center;

        .active {
            color: $c-pink;
        }

        a:last-of-type {
            margin: 0;
        }

        a,
        span {
            font-size: 14px;
            line-height: 1.357em;

            &:hover {
                color: $c-pink;
            }
        }

        a {
            margin-right: 45px;
        }

        span {
            margin: 0 15px 0 -30px;
        }
    }

}

.load-more_wrap {
    padding: 60px 0 45px;

    .btn {
        max-width: 280px;
    }
}

.layout.d-flex {
    flex-wrap: wrap;

    .w-50 {
        width: 50%;
    }

    .w-33 {
        width: 33.333%;
    }

    .w-100 {
        width: 100%;
    }
}

header {

    .header-top,
    .header-middle {
        > .content-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .header-top {
        padding: 15px 0;
    }

    .header-middle {
        padding: 14px 0 10px;
    }

    .our-benefits {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 495px;
        width: 100%;

        > * {
            position: relative;
            display: inline-block;
        }

        .icon {
            position: absolute;
            left: 0;
            top: 0;
        }

        .text {
            display: inline-block;
            padding-left: 36px;
        }

        a:hover svg {
            stroke: $c-pink;
        }
    }

    .affiliate {
        .affiliate-title {
            color: #BCBCBC;
        }
    }

    .user-links {
        a {
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }

        .mobile {
            opacity: 1;
        }
    }
}

.small-contacts {
    > a {
        font-size: 18px;
        line-height: 27px;
        margin-right: 12px;
    }

    .small-contacts_social {
        display: inline-block;
        vertical-align: top;

        .icon {
            position: relative;
            top: 3px;
        }

        a {
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            text-align: center;
            margin-right: 5px;

            &:hover {
                background-color: $c-pink;
            }

            &:last-child {
                margin-right: 0;

                .icon {
                    left: 1px;
                }
            }
        }
    }
}

.user-tools {
    .user-tool {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        position: relative;

        &:hover {
            background-color: $c-gray;
        }

        &.basket {
            margin-left: 15px;

            .icon {
                position: relative;
                left: -3px;
            }
        }
    }

    .amount {
        position: absolute;
        font-weight: bold;
        color: #fff;
        display: inline-block;
        width: 19px;
        height: 19px;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
        font-size: 10px;
        top: 7px;
        right: -2px;
    }
}

nav.menu {
    max-width: 518px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &.is-open {
        opacity: 1;
        visibility: visible;
        transition: $transition;
    }

    .logo {
        margin-bottom: 71px;

        a {
            margin: 0;
        }

        img {
            max-width: 65px;
        }
    }

    .close-it {
        text-align: center;
        margin-top: 65px;
    }
}

/* Моб.меню с категориями */

.categories_mob-menu {
    z-index: 10;
    max-width: 100%;
    width: 100%;
    top: 174px;
    display: none;

    .child-item_category {
        margin: 0 20px 15px;
        border-top: 1px solid $c-gray;
        border-bottom: 2px solid $c-l-dark;
        padding: 15px 0 10px;
        font-size: 16px;
        line-height: 22px;

        .icon.mobile {
            margin-right: 10px;
        }

        .icon:not(.mobile) {
            display: none;
        }
    }

    .categories-menu {
        display: none;

        .mm-listitem {
            display: block;
        }

        .mm-listitem__text {
            font-size: 14px;
            line-height: 19px;
            padding: 0;
            display: inline;

            .icon {
                display: none;
            }
        }

        .mm-btn.mm-btn_next {
            float: right;
            border: none;
        }
    }

    .bg-green {
        background-color: #fff;
        color: $c-green;
    }

    .bg-pink {
        background-color: #fff;
        color: $c-pink;
    }

    .item-special .icon {
        display: none;
    }

    /* Переопределяем стили плагина */

    .mm-listitem {
        padding: 15px 0;
        margin: 0 20px;
        border-bottom: 1px solid #f7f7f7;

        &:after {
            content: none;
        }
    }
}

.categories-menu_toggle {
    padding-left: 20px;
    line-height: 57px;
    height: 100%;
    display: inline-block;
}


@media (min-width: 992px) {

    .categories-menu {
        display: inline-block;
        width: calc(100% - 60px);

        > li {
            width: 100%;

            > a {
                text-align: center;
                font-size: 1.167em; //14px
                line-height: 1.357em; //19px
                padding: 20px 0 21px;
                display: inline-block;
                width: 100%;
            }
        }

        .icon.mobile {
            display: none;
        }

        .has-child:hover {
            .child-item {
                visibility: visible;
                opacity: 1;
                top: 100%;
                transition: $transition;
            }
        }

        .child-item {
            position: absolute;
            left: 300px;
            top: 115%;
            background-color: #fff;
            width: calc(100% - 300px);
            box-shadow: $shadow-for-drop;
            padding: 38px 15px 30px 38px;
            visibility: hidden;
            opacity: 0;
            z-index: 5;

            .child-item_layout {
                .col > * {
                    display: block;
                    font-size: 15px;
                    margin-bottom: 15px;
                }

                .child-item_title {
                    line-height: 20px;
                }

                a {
                    display: inline-block;
                }
            }
        }

        li.item {
            max-width: 135px;

            > a {
                border-bottom: 2px solid transparent;
                color: #fff;
                padding-bottom: 19px;

                .icon {
                    position: relative;
                    left: 2px;
                    bottom: 1px;
                }
            }

            &:hover > a {
                border-color: $c-pink;
                color: $c-pink;
                background-color: $c-dark;
            }
        }

        li.item-special {
            max-width: 150px;

            a {
                color: $c-dark;
                border: none;
                position: relative;
            }

            .icon {
                position: absolute;
                bottom: 51.69%; //31px
                right: 10px;
            }
        }
    }
}

.search {
    display: inline-block;
    vertical-align: top;

    .search-wrap {
        display: inline-block;

        &.active {


            .search-toggle {
                display: none;
            }

            .search-submit {
                display: inline-block;
            }

            .search-input {
                visibility: visible;
                width: 100%;
            }
        }
    }

    .search-submit,
    .search-toggle {
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        transition: $transition;
        cursor: pointer;
    }

    .search-toggle {
        display: inline-block;
        background-color: $c-dark;

        svg {
            fill: #fff;
        }
    }

    .search-submit {
        background-color: $c-pink;
        display: none;
        position: relative;
        z-index: 1;

        svg {
            fill: #000;
        }
    }

    .search-input {
        border: none;
        width: 0;
        height: 100%;
        max-width: 280px;
        right: 0;
        background-color: $c-gray;
        visibility: hidden;
        display: block;
        position: absolute;
        font-size: 12px;
        line-height: 16px;
        color: #BCBCBC;
        text-indent: 29px;
        transition: width ease-in .8s;

        &:focus,
        &:active {
            color: $c-l-dark;
            font-weight: bold;
        }
    }
}

/* Главная */

.with-decoration {
    position: relative;
    z-index: 5;

    &.left:before {
        top: 48.5%;
        right: calc(100% - 332px);
        background-color: #FFE7E3;
        height: 1050px;
    }

    &.right {

        &:before {
            top: calc(100% + 50px);
            left: calc(100% - 332px);
            background-color: #DCE5E3;
            height: 1167px;
        }

    }

    &:before {
        content: '';
        position: absolute;
        width: 452px;
        display: block;
    }
}

.banners {
    padding: 20px 0 90px;

    + * {
        z-index: 6;
        position: relative;
    }

    .bigger {
        color: #fff;

        .icon {
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 38px;
            border-radius: 50%;
            display: inline-block;
            background-color: $c-pink;
        }
    }

    .col {
        display: inline-flex;
        flex-wrap: wrap;
    }

    .link-in-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        a {
            color: $c-pink;

            &:hover {
                color: $c-green;
            }
        }
    }

    .btn {
        max-width: 200px;
        width: 100%;
        display: block;
        margin: 0 auto 0;

        &:hover {
            color: $c-pink;
        }

        &.pink {
            &:hover {
                background-color: $c-green;
                border-color: $c-green;
                color: #fff;

                svg {
                    fill: #fff;
                }
            }
        }
    }

    .banners-item_bg {
        transition: all ease-in-out 2.5s;
    }

    &-item {
        position: relative;
        overflow: hidden;

        &:hover {
            .banners-item_bg {
                transform: scale(1.1);
            }
        }

        &.full {
            text-align: center;

            .banners-item_text {
                justify-content: center;
                flex-direction: column;
                padding: 0 49px;
            }

            .bigger {
                font-size: 40px;
                line-height: 1.375em; //55px
                display: block;
                margin-bottom: 15px;
            }

            .btn {
                position: relative;
            }

            .icon {
                position: absolute;
                right: 45px;
            }
        }

        &.quarter {
            max-width: 300px;
            display: inline-block;
            width: 50%;

            .bigger {
                font-size: 20px;
                line-height: 1.35em; //27px

                &:hover {
                    .text {
                        text-decoration: underline;
                    }
                }
            }

            .icon {
                position: absolute;
                right: 29px;
                bottom: 30px;
            }

            .banners-item_text {
                align-items: flex-end;
                padding: 0 0 25px 40px;

                .text {
                    max-width: 65%;
                    display: block;
                }
            }
        }
    }

    &-item_text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
    }
}

.goods {
    padding-bottom: 45px;

    &.is-carousel {
        h2 {
            padding-bottom: 35px;
        }

        .product-view_card {
            margin: auto;
        }

        .product-view_wrap:before {
            content: none;
        }
    }

    h2 {
        text-align: center;
        padding-bottom: 25px;
        margin-top: 0;
    }

    .layout {
        margin-left: -25px;
        white-space: nowrap;

        .col {
            padding-left: 25px;
            max-width: 280px;
            white-space: normal;

            &.margin-gutter {
                margin-left: 25px;
                margin-bottom: 25px;
                padding: 0;
                position: relative;
            }
        }
    }

    &.first-highlighted {

        .highlighted-text {
            left: 25px;
        }

        .highlighted-logo-text {
            bottom: -50px;
            left: -50px;
            z-index: -1;

            svg {
                fill: #EDB8B0;
            }
        }

        .layout .product-view_card:first-child {
            .product-view_wrap:before {
                display: none;
                content: none;
            }

            .product-view_wrap {
                border-bottom: 2px solid $c-pink;
                transition: $transition;
                background-color: #fff;
                position: relative;
            }
        }
    }

    &.last-highlighted {
        position: relative;
        z-index: 6;

        .highlighted-logo-text {
            position: absolute;
            top: -50px;
            right: -50px;

            svg {
                fill: #8CAAA2;
            }
        }

        .highlighted-text {
            position: absolute;
            text-align: center;
            width: calc(100% - 25px);
            top: -90px;
        }

        .layout .product-view_card:last-child {

            .product-view_wrap {
                transition: $transition;
                background-color: #fff;

                &:before {
                    display: none;
                    content: none;
                }
            }

            &:hover {
                .product-view_wrap {
                    border-color: #FFF;
                }
            }
        }
    }

    .btn.load-more {
        margin-top: 50px;
    }
}

.gallery {
    background-color: #FFE7E3;
    padding: 71px 0 40px;
    margin-bottom: 100px;

    h2 {
        text-align: center;
        margin: 0 0 10px;
    }

    .gallery-mob-btn {
        display: none;
        text-align: center;
        border-bottom: 2px solid $c-l-dark;
        padding-bottom: 10px;
        margin-bottom: 22px;
        padding-left: 5px;

        span:first-child {
            margin-right: 5px;
            cursor: pointer;
        }

        &.is-active {
            .icon {
                transform: rotate(180deg);
            }
        }
    }

    .nav-tabs {
        margin-bottom: 18px;
    }

    .tab-container_icon {
        position: absolute;
        top: -50px;
        left: -50px;

        svg {
            fill: #EDB8B0;
        }
    }

    .tab-container_item.open {
        .flickity-button .flickity-button-icon {
            opacity: 1;
        }
    }

    .small-margin .tab {
        margin-right: 24px;
    }

    .tab {
        line-height: 16px;
        margin-right: 80px;
        padding-bottom: 5px;
        transition: $transition;
        border-bottom: 2px solid transparent;

        &.active {
            border-color: $c-l-dark;
        }

        &:hover:not(.active) {
            border-color: $c-pink;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.subscribe {
    padding: 92px 0 96px;
    color: #fff;
    text-align: center;
    margin-bottom: 45px;

    + * + * {
        z-index: 6;
        position: relative;
    }

    .content-wrap {
        position: relative;
    }

    h2 {
        margin: 0;
    }

    .desc {
        font-size: 14px;
        line-height: 19px;
        padding-bottom: 20px;
    }

    .extra-link {
        position: absolute;
        width: 150px;
        height: 149px;
        right: 10%;
        bottom: 81.6%;
        background-color: $c-pink;
        padding: 20px;

        .icon {
            margin-bottom: 15px;
        }

        a {
            font-size: 13px;
            line-height: 18px;
            color: $c-l-dark;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .subscribe-form {
        padding-bottom: 35px;

        label {
            max-width: 360px;
            width: 100%;
            margin-right: 31px;
        }

        .btn-wrap {
            max-width: 202px;
            width: 100%;
        }

        .btn {
            width: 100%;
            letter-spacing: 0.15em;

            &:hover {
                color: $c-l-dark;
            }
        }

        .d-flex {
            align-items: flex-end;
            padding-bottom: 25px;
        }

        p {
            font-size: 9px;
            font-weight: normal;
        }
    }

    .subscribe-benefits {
        padding: 0 100px;

        .icon {
            height: 65px;
        }

        .subscribe-benefits_item {
            p {
                color: #FFE7E3;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}

.seo {
    padding-bottom: 100px;

    h1 {
        text-align: center;
        margin-top: 0;
    }

    p {
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.product-view_card {
    position: relative;
    box-sizing: content-box;
    height: 586px;
    overflow: visible;
    max-width: 280px;

    &:hover {

        .product-view_wrap:before {
            opacity: 1;
            transition: all ease-in 0.4s;
        }

        .product-desc_short {
            height: 45px;
            opacity: 1;
        }
    }

    .product-view_wrap {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -10px;
            left: -12.5px;
            box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.1);
            width: calc(100% + 25px);
            height: calc(100% + 1px);
            opacity: 0;
            background-color: #fff;
            z-index: 2;
        }
    }

    .btn {
        max-width: 150px;
        width: 100%;
    }

    .product-image {
        position: relative;

        a {
            overflow: hidden;
            display: inline-block;
            width: 100%;
        }
    }

    .product-desc {
        text-align: center;
        padding: 15px 20px 40px;
        z-index: 3;
        position: relative;
        //        position: absolute;
        //        top: 100%;
        //        left: 0;

        &_short {
            font-size: 10px;
            line-height: 15px;
            margin-top: -15px;
            height: 1px;
            opacity: 0.5;
            overflow: hidden;
            transition: all 0.335s;
        }

        &.review {
            padding: 15px 35px 19px;

            .rating {
                justify-content: space-between;
                padding-bottom: 15px;
            }

            .product-review_text {
                line-height: 20px;
                color: #000;
                padding-bottom: 20px;
            }

            .product-review_date {
                color: #D6D6D6;
            }
        }
    }

    .product-vendorcode {
        color: #BCBCBC;
        padding-bottom: 10px;
        font-size: 10px;
        line-height: 14px;
    }

    .product-name {
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 20px;
        display: inline-block;
        height: 60px;
        overflow: hidden;
    }

    .product-desc > .d-flex {
        padding-bottom: 10px;
    }

    .product-price {
        font-size: 18px;
        line-height: 1.389em;
        font-weight: bold;
        margin-right: 10px;
    }

    .product-extra-info {
        font-size: 10px;
        color: #BCBCBC;
        padding-top: 20px;

        span {
            font-weight: bold;
            color: $c-l-dark;
        }
    }

    .highlighted-text {
        position: absolute;
        text-align: center;
        width: calc(100% - 25px);
        top: -90px;
    }

    .highlighted-logo-text {
        position: absolute;
    }
}

.product-stamp {
    position: absolute;
    left: 20px;
    top: -15px;
    color: #fff;
    width: 45px;
    height: 45px;
    padding: 12px 0 0;
    line-height: 10px;
    border-radius: 50%;
    font-size: 8px;
    text-align: center;
    background-color: rgba(34, 118, 105, 0.8);
    z-index: 1;

    &.bg-red {
        background-color: rgba(227, 30, 39, 0.8);
    }

    + .product-stamp {
        top: 24px;
    }
}

.product-size {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 55px;
    height: 55px;
    padding-top: 18px;
    color: #fff;
    background-color: rgba(49, 49, 55, 0.4);
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 10px;
    z-index: 2;

    span {
        display: block;
    }
}

.product-add-favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;

    &.is-added {
        background-color: $c-pink;

        svg {
            fill: #fff;
        }
    }

    svg {
        fill: $c-pink;
    }
}

.product-add-basket {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: $c-gray;
    border-radius: 50%;
    line-height: 40px;

    &:hover {
        background-color: $c-green;

        svg {
            fill: #fff;
        }
    }

    .icon {
        position: relative;
        right: 2px;
    }
}

.catalog {
    padding-bottom: 125px;

    /* Страница: Каталог категорий */

    &-list {
        padding-bottom: 95px;

        h1 {
            margin-bottom: 20px;
        }

        .catalog-list_item {
            padding-bottom: 67px;

            &.w-50 {
                width: 48.5%;
            }

            &.w-33 {
                width: 29.334%;
                padding-bottom: 0;
            }

            h2 {
                border-bottom: 2px solid $c-l-dark;
                padding-bottom: 0.667em;
                margin: 0 0 1.167em;

                .icon {
                    position: relative;
                    bottom: 20px;
                }
            }
        }

        .list-column {
            .title {
                font-size: 13px;
                line-height: 1.385em; //18px
                margin-bottom: 15px;
                font-weight: 600;
            }

            a.title {
                display: block;
            }

            span {
                display: block;
                line-height: 2.083em; //25px

                // если нет заголовка, выравниваем ссылки

                &:first-child {
                    margin-top: 32px;
                }
            }
        }
    }

    /* *** */

    /* Страница: Категория */

    .left-side {
        padding-right: 25px;
        float: left;
    }

    .right-side {
        width: calc(100% - 305px);
        float: left;
    }

    /* *** */
}

.catalog-layout {
    margin-left: -3.333%;
    display: flex;
    flex-wrap: wrap;


    .product-view_card {
        width: 30%;
        padding-left: 3.333%;
        height: 535px;
    }
}

.tags {
    border-top: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3;
    padding: 16px 0;
    position: relative;
    opacity: 0;

    .tags-list {
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;
        display: flex;

        &:after {
            content: "";
            position: absolute;
            bottom: -17px;
            right: -35px;
            display: block;
            height: 50px;
            width: 61px;
            background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            z-index: 1;
        }

        > a {
            white-space: nowrap;
        }

        .tags-title {
            display: inline-block;
            margin-right: 10px;
        }

        a {
            color: $c-green;
            display: inline-block;
            padding-right: 18px;

            &:hover {
                color: $c-l-dark;
            }
        }
    }

    .tags-dropdown-toggle {
        color: $c-green;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 16px;
        transition: $transition;
        z-index: 2;
        background-color: #fff;

        svg {
            transition: $transition;
        }

        &:hover {
            color: $c-l-dark;

            svg {
                fill: $c-l-dark;
            }
        }
    }

    .tags-dropdown-list {
        top: 50px;
        right: 0;
        padding: 20px;
    }
}

.sort-by {
    color: #BCBCBC;
    padding: 18px 0 13px;

    a {
        color: $c-green;
    }

    .sort-by_list {
        position: relative;

        .dropdown {
            top: calc(100% + 13px);
        }

        .title {
            color: $c-green;
            cursor: pointer;
            transition: $transition;
            display: inline-block;

            svg {
                transition: $transition;
            }

            &:hover {
                color: $c-l-dark;

                svg {
                    fill: $c-l-dark;
                }
            }

            .icon {
                margin-left: 3px;
            }
        }
    }

    .sort-by_showing {
        margin-left: auto;
        margin-right: 45px;

        .showing-list {
            display: inline-block;
        }

        a {
            display: inline-block;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }

            &.active,
            &:hover {
                color: $c-l-dark;
            }
        }
    }
}

.filter {

    .btn.toggle {
        max-width: 280px;
        width: 100%;
        color: $c-l-dark;

        &:before,
        &:after {
            display: none;
            content: none;
        }

        .text {
            position: relative;
            top: 2px;
        }

        .icon {
            margin-right: 12px;
        }

        svg {
            transition: $transition;
        }

        &:hover {
            background-color: $c-green;
            color: #fff;

            svg {
                fill: #fff;
            }
        }
    }

    .btn.toggle,
    .filter-overlay {
        display: none;
    }

    .filter-overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: $bg-b-transparent;
        z-index: 4;
        visibility: hidden;
        opacity: 0;
        transition: all 0.8s;

        .icon {
            position: absolute;
            right: 15px;
            top: 15px;
        }

        .filter-close {
            cursor: pointer;
        }
    }

    .filter-wrap {
        background-color: $c-gray;
        width: 280px;
        padding: 35px 20px 15px;

        .filter-item:last-of-type {
            padding-bottom: 17px;
        }

        &.is-active + .filter-overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    .filter-item_settings {
        display: none;
        padding-bottom: 17px;
        max-height: 185px;
        overflow: hidden;

        &.show-all {
            max-height: 100%;

            .filter-show-all {
                display: none;
            }
        }

        &.is-active {
            display: block;
        }

        label {
            margin-bottom: 8px;
        }
    }

    .filter-item {
        padding-left: 40px;
        position: relative;

        .toggle {
            font-size: 16px;
            line-height: 1.375em; //22px
            font-weight: bold;
            cursor: pointer;
            margin-bottom: 13px;

            &.is-active {
                &:before {
                    content: none;
                }
            }

            &:before,
            &:after {
                position: absolute;
                content: '';
                display: inline-block;
                background-color: $c-l-dark;
            }

            &:after {
                left: 0;
                top: 10px;
                height: 2px;
                width: 16px;
            }

            &:before {
                left: 7px;
                top: 3px;
                height: 16px;
                width: 2px;
            }
        }
    }

    /* Filter's buttons */

    .filter-show-all {
        display: inline-block;
        padding-bottom: 25px;
        font-size: 10px;
        color: $c-green;
        transition: $transition;
        cursor: pointer;

        &:hover {
            color: $c-l-dark;
        }
    }

    .btn.pickup {
        border: 2px solid $c-green;
        max-width: 240px;
        width: 100%;
        cursor: pointer;
        font-size: 14px;
        line-height: 1.357em; //19px
        letter-spacing: 0.05em;
        margin-bottom: 13px;

        transition: none;
    }

    .filter-reset {
        position: relative;
        color: #C8C8C8;
        cursor: pointer;

        &:hover .text {
            color: #000;
        }

        input {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            left: 0;
        }

        .text {
            font-size: 10px;
            line-height: 14px;
            display: inline-block;
            margin-left: 10px;
        }
    }

    /* *** */
}

/* Product page */

.product {

    + .gallery {
        margin-bottom: 0;
    }

    h1 {
        margin-bottom: 5px;
    }

    .product-vendorcode {
        text-align: center;
        font-size: 14px;
        line-height: 1.357em; //19px

        .text {
            color: #BCBCBC;
        }
    }

    .product-stamp {
        top: 20px;

        + .product-stamp {
            top: 59px;
        }
    }

    .product-size {
        right: 20px;
        bottom: 20px;
    }

    .product-add-favorite {
        width: 55px;
        height: 55px;
        line-height: 55px;
        right: 20px;
        top: 20px;
    }

    .product-layout {
        margin-left: -35px;
        margin-bottom: 0;
        padding: 21px 0 91px;

        .col {
            padding-left: 35px;
            padding-bottom: 0;
        }
    }

    .product-benefits {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 15px;
        margin-bottom: 30px;
        border-bottom: 1px solid #F3F3F3;
        font-size: 10px;
        line-height: 14px;
        width: 100%;
        max-width: 500px;

        .icon {
            position: absolute;
            left: 0;
            top: 0;
        }

        a {
            color: $c-green;
            display: block;

            &:hover {
                color: $c-l-dark;
            }
        }

        .item {
            position: relative;
            padding-left: 40px;
        }
    }

    .statistics {
        color: #BCBCBC;
        font-size: 10px;
        line-height: 1em;
        text-align: center;

        span {
            display: inline-block;

            &:first-child {
                margin-right: 25px;
            }
        }

        strong {
            color: $c-l-dark;
        }
    }

    .product-extra-info {
        width: 100%;
        max-width: 500px;

        .social {

            .d-flex {
                padding: 20px 0 0;
            }

            a {
                &:hover .icon svg {
                    fill: $c-green;
                }
            }

            .icon {

                svg {
                    fill: $c-l-dark;
                }
            }
        }
    }

    .product-carousel_wrap {
        position: relative;
    }

    .product-description {
        .tags {
            border: none;
            padding: 0 0 20px;

            .tags-list:after {
                content: none;
            }
        }
    }

    .tags .tags-title {
        color: #BCBCBC;
    }

    .product-choose {
        padding-bottom: 28px;

        > small {
            margin-bottom: 10px;
        }

        .choose-item {
            position: relative;
            display: inline-block;

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                transition: all 0.4s;
                background-color: $c-green;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &.is-active {
                &:before {
                    background-color: #BCBCBE;
                }
            }
        }

        &.kit {
            display: flex;
            padding-bottom: 23px;
            position: relative;

            .choose-item_icon {
                position: absolute;
                width: 20px;
                height: 20px;
                left: calc(50% - 10px);
                top: -10px;
                border-radius: 50%;
                background-color: $c-green;
                display: none;
            }

            .choose-item {
                text-align: center;
                padding: 17px 20px;
                max-width: 195px;
                width: 100%;
                background-color: #F8F8F8;
                cursor: pointer;
                position: relative;

                &.is-active {
                    background-color: $c-l-dark;
                    color: #fff;

                    .choose-item_title,
                    .price,
                    small {
                        color: #fff;
                    }
                }

                .price {
                    color: $c-green;
                    display: inline-block;
                    margin-right: 10px;
                    white-space: nowrap;

                    &.old {
                        color: #BCBCBE;
                        margin-right: 0;
                    }
                }

                small {
                    color: #BCBCBE;
                    letter-spacing: 0.8px;
                }

                &_title {
                    font-weight: bold;
                    color: $c-green;
                }

                &_prices {
                    text-align: center;
                    padding: 3px 0 0;
                    font-size: 14px;
                    line-height: 1.357em;
                    font-weight: bold;
                }
            }
        }

        &.color {

            .d-flex {
                flex-wrap: wrap;
            }

            .choose-item {
                width: 20%;
                height: 40px;
                padding-left: 49px;
                position: relative;
                margin-bottom: 10px;

                &:before {
                    content: none;
                }

                &:hover {
                    .choose-item_title {
                        color: $c-l-dark;
                    }
                }

                &.is-active {
                    .choose-item_img {
                        border-color: $c-l-dark;
                    }

                    .choose-item_title {
                        color: $c-l-dark;
                    }
                }

                &_title {
                    font-size: 10px;
                    line-height: 12px;
                    display: inline-block;
                    color: $c-green;
                    padding: 7px 15px 0 0;
                    transition: color .35s;
                }

                &_img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-radius: 50%;
                    border: 2px solid transparent;
                    border-style: inset;
                    display: inline-block;
                    width: 40px;
                }

            }
        }

        &.length {

            .choose-item {
                width: 33.333%;
                text-align: center;
                color: $c-green;
                background-color: #f8f8f8;
                font-size: 14px;
                line-height: 1.357em; //19px
                text-transform: uppercase;
                padding: 1.286em 0.714em; //18px 10px

                &.is-active {
                    color: #fff;
                    background-color: $c-l-dark;
                }
            }
        }

        &.quantity {
            padding-bottom: 32px;

            .choose-item {
                width: 20%;
                text-align: center;
                color: $c-green;
                background-color: #f8f8f8;
                font-size: 14px;
                line-height: 1.357em; //19px
                text-transform: uppercase;
                padding: 1.286em 0.714em; //18px 10px

                &.is-active {
                    color: #fff;
                    background-color: $c-l-dark;
                }
            }
        }

    }

    .product-mobile_composition,
    .product-mobile_block {
        display: none;
    }

    .product-composition,
    .product-composition_mobile {
        border-bottom: 1px solid #F3F3F3;
        padding-bottom: 25px;
        margin-bottom: 23px;

        p {
            font-size: 14px;
            line-height: 1.714em; //24px
        }
    }

    .product-prices-actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 31px;
        margin-bottom: 17px;
        border-bottom: 1px solid #f5f5f5;

        .w-50 {
            width: 49%;

            &:nth-child(odd) {
                margin-right: 2%;
            }
        }

        .btn {
            width: 100%;
            max-width: 287px;
            color: $c-l-dark;
            max-height: 55px;

            &.green {
                margin-left: auto;
                display: block;
            }

            .icon {
                position: relative;
                bottom: 2px;
                margin-right: 5px;
            }
        }

        .prices {
            margin-bottom: 15px;
        }

        .price {
            font-size: 24px;
            line-height: 1.375em; //33px
            margin-right: 0.833em; //20px
        }

        .price.old {
            font-size: 18px;
            line-height: 1.389em; //23px
            color: $c-d-gray;
            margin-right: 0;
        }

        .bonuses {
            position: relative;
            padding-left: 26px;

            .icon {
                position: absolute;
                left: 0;
                top: 0;
            }

            .c-green {
                display: inline-block;
            }

            p {
                font-size: 10px;
                color: $c-d-gray;
            }
        }
    }
}

/* *** */

.seen-before {

    h3 {
        margin: 0 0 10px;
    }

    .seen-before_list {
        display: flex;
        justify-content: space-between;
    }

    .list-item {
        text-align: center;
        width: 20%;
        max-width: 100px;
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
        }
    }

    .item-name {
        margin-bottom: 6px;
        font-size: 9px;
        line-height: 12px;
    }

    .item-image {
        padding-bottom: 17px;

        img {
            max-width: 100px;
            display: block;
            margin: auto;
        }
    }
}

.reviews {

    &.in-carousel {
        padding: 91px 0 30px;

        .reviews-wrap {
            position: relative;

            &:before {
                content: '';
                width: 350px;
                height: 350px;
                display: inline-block;
                background-color: #DCE5E3;
                position: absolute;
                top: -91px;
                right: calc(100% - 230px);
                z-index: -1;
            }

        }

        .content-wrap {
            padding: 0 calc(50% - 615px);
        }
    }

    .reviews_icon {
        position: absolute;
        top: -50px;
        left: -50px;
        z-index: 0;

        svg {
            fill: $c-green;
        }
    }

    h2 {
        text-align: center;
        margin: 0 0 1em;
    }

    .reviews-item {
        width: 100%;
        background-color: #fff;
        position: relative;
        max-width: 600px;
        z-index: 1;
        margin-right: 28px;

        &:after {
            content: '';
            display: table;
            clear: both;
        }

        .left-side {
            width: 280px;
            float: left;
            text-align: center;
        }

        .right-side {
            width: calc(100% - 280px);
            float: left;
            padding-left: 33px;
        }

        .img-wrap {
            margin-bottom: 15px;
        }

        .rating {
            text-align: center;
            padding-bottom: 18px;

            .rating-magazine {
                margin-right: 34px;
            }
        }

        .reviews-author-name {
            line-height: 1.667em; //20px from 12px
        }

        .reviews-item-date {
            color: #D6D6D6;
        }

        .reviews-author-text {
            line-height: 1.667em; //20px from 12px
            padding-bottom: 21px;
        }

        .reviews-admin-text {
            background-color: #F8F8F8;
            padding: 21px 24px 35px;
            color: $c-green;
            font-size: 11px;
            line-height: 1.636em; //18px
            position: relative;

            .img-decor {
                position: absolute;
                bottom: -25px;
                left: 10px;
                width: 50px;
            }
        }
    }

    .reviews-extra {
        padding: 60px 0 70px;

        h3 {
            text-align: center;
            margin: 0 0 25px;
        }
    }
}

.video {
    padding-bottom: 82px;

    .video-wrap {
        padding-top: 69px;
        position: relative;
    }

    .video-icon {
        position: absolute;
        right: -50px;
        top: -50px;

        svg {
            fill: $c-pink;
        }
    }

    .video-wrap_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        z-index: -1;
    }

    h2 {
        text-align: center;
        margin: 0 0 15px;
    }

    .iframe,
    .video-desc {
        max-width: 578px;
        margin: 0 auto;
    }

    .video-desc {
        font-size: 13px;
        line-height: 1.846em; //24px
        padding-top: 24px;
    }

}

/* Popup's and Menu's */

.dropdown {
    position: absolute;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: $transition;
    padding: 15px 20px;
    z-index: 4;
    max-width: 350px;
    width: 100%;
    box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.1);

    a {
        display: block;
        color: $c-l-dark;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            color: $c-green;
        }
    }

    &.is-active,
    &.is-open {
        opacity: 1;
        visibility: visible;
    }
}

.mm-wrapper_opening .mm-menu_offcanvas ~ .mm-slideout {
    width: 100%;
    height: 100%;
    z-index: 5;
    transform: none;
}

.mm-btn.mm-btn_next:after,
.mm-btn.mm-btn_prev:before {
    right: 5px;
    width: 5px;
    height: 5px;
}


.mm-btn_next:after {
    border-color: $c-l-dark;
}

.mm-btn_prev:before {
    border-color: $c-green;
}

.mm-wrapper_opening .mm-menu_fx-menu-slide {
    //    transform: translate3d(0%, 0, 0);
}

.mm-menu {

    .mm-panel:after {
        content: none;
    }

    .mm-navbar {
        border: none;

        > * {
            padding: 15px 0;
        }

        .mm-btn.mm-btn_prev {
            width: 35px;
        }

        .mm-navbar__title {
            line-height: 21px;
            color: $c-green;
        }
    }


    a,
    .child-item_title {
        font-size: 14px;
        line-height: 19px;
    }


    .child-item_layout {
        margin: 0;

        .col {
            width: 100%;

            > span {
                display: block;
                margin-bottom: 15px;

                &:not(.child-item_title) {
                    margin-bottom: 0;

                    a {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

body .mfp-bg {
    background: $bg-b-transparent;
    opacity: 1;
}

body .mfp-container {
    .mfp-close {
        width: 30px;
        height: 30px;
        right: 10px;
        top: 0;
        cursor: pointer !important;

        svg {
            pointer-events: none;
        }
    }

    .mfp-figure:after {
        background: none;
    }

    .mfp-bottom-bar {
        display: none;
    }

    .mfp-arrow {
        width: 50px;
        height: 50px;

        &:after,
        &:before {
            content: none;
        }

        &.mfp-arrow-left {
            transform: rotate(180deg);
        }

        svg {
            fill: #fff;
            pointer-events: none;
        }
    }
}

.mfp-gallery {
    .mfp-content {
        width: 100%;
        position: static;
    }
}

/* *** */

.rating {
    color: #D6D6D6;

    p {
        font-size: 10px;
        line-height: 20px;
    }

    .icon {
        width: 15px;

        svg {
            fill: #E3E3E3;
        }

        &.is-active svg {
            fill: #FFC34F;
        }
    }

    .rating-magazine {}

    .rating-delivery {}
}

.nav-tabs {
    .tab {
        cursor: pointer;
    }
}

.tab-container {
    position: relative;

    .tab-container_item {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;

        &.open {
            visibility: visible;
            opacity: 1;
            position: static;
        }
    }
}

.social {

    .d-flex {
        padding: 20px 0;
    }

    .social-item {
        display: inline-block;
        margin-right: 30px;
        vertical-align: middle;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        &:hover .icon svg {
            fill: $c-l-dark;
        }
    }

    .icon {
        height: 18px;

        svg {
            fill: #8CAAA2;
        }
    }
}

footer {

    .logo {
        img {
            margin: 0 auto;
            display: block;
            position: relative;
            top: -32px;
        }
    }

    .footer-extra {
        padding-bottom: 58px;
        margin-bottom: 45px;
    }

    .benefits {
        position: relative;
        display: inline-flex;
        justify-content: space-between;
        max-width: 406px;
        width: 100%;

        > * {
            position: relative;
            display: inline-block;
            padding: 13px 0;
        }

        .icon {
            position: absolute;
            left: 0;
            top: 13px;
        }

        .text {
            display: inline-block;
            padding-left: 36px;
        }
    }

    .contacts {
        .small-contacts {
            > a {
                display: block;
                margin: 0 0 6px;
                text-align: center;
                font-size: 22px;
            }
        }

        .small-contacts_social {
            text-align: center;
            display: block;

            > a {
                background-color: #fff;
            }
        }
    }

    .footer-navigation {
        padding-bottom: 41px;

        &_item {
            p {
                font-size: 16px;
                line-height: 1.5em; //24px
                margin-bottom: 0.938em; //15px

                &.is-active .icon {
                    transform: rotate(180deg);
                    bottom: -2px;
                }
            }

            .icon {
                display: none;
                margin-left: 5px;
                position: relative;
                bottom: 2px;
            }

            .list {
                span {
                    display: block;

                    a {
                        text-align: center;
                        line-height: 26px;
                    }
                }
            }
        }
    }

    .footer-copyright {
        padding-bottom: 22px;

        &_desc {
            color: #C4C4C4;
            text-align: center;
            line-height: 22px;
            margin-bottom: 23px;

            span {
                display: inline-block;
                margin-right: 11px;
            }
        }
    }
}
