@import "import/variables",
"import/grid";

@media (max-width: 991px) {

    @include grid-generator-phablet();

    h1,
    .h1,
    h2.h1 {
        font-size: 36px;
    }

    h2,
    .h2,
    h1.h2 {
        font-size: 26px;
    }

    .visible-phablet {
        display: block;

        &_inline {
            display: inline-block;
        }
    }

    &.hidden-phablet {
        display: none;
    }

    .with-decoration:before {
        display: none;
        content: none;
    }

    header {
        .affiliate {
            .affiliate-title {
                display: none;
            }
        }

        .user-links,
        .user-tools {
            margin-left: auto;
        }

        .header-top > .content-wrap,
        .header-middle > .content-wrap {
            justify-content: flex-start;
        }

        .header-top {

            .visible-phablet_inline {
                .icon {
                    margin-right: 35px;
                }
            }
        }

        .header-middle {
            padding: 9px 0;

            > .content-wrap {
                padding-right: 5px;
            }

            .logo {
                margin-right: 18px;

                img {
                    max-width: 44px;
                }
            }
        }

        .header-bottom {
            > .content-wrap {
                padding: 0;
            }
        }

        .our-benefits {
            display: none;
        }
    }

    .search {
        float: right;
    }

    .user-tools .user-tool.basket {
        margin-left: 5px;
    }

    nav.menu {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        max-width: 100%;
        background-color: $bg-b-transparent;
        z-index: 5;
        visibility: hidden;
        opacity: 0;

        a {
            color: #fff;
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 20px;
        }
    }

    .categories_mob-menu {
        display: block;

        .categories-menu {
            display: block;
            width: 100%;
        }
    }

    .categories-menu {
        display: none;
    }

    .product-view_card {}

    .banners {
        padding: 0 0 45px;

        .content-wrap {
            padding: 0;
        }

        .col {
            width: 100%;
        }

        .banners-item:hover .banners-item_bg {
            transform: none;
        }

        .banners-item.full {

            .banners-item_text {
                padding: 0 40px;
            }

            img {
                width: 991px;
            }
        }

        .banners-item.quarter {
            max-width: 496px;

            .banners-item_text {
                padding: 0 0 25px 25px;
            }

            img {
                width: 496px;
            }
        }
    }

    .goods {
        &.first-highlighted {

            .highlighted-text,
            .highlighted-logo-text {
                display: none;
            }
        }

        .layout {
            white-space: normal;
            max-width: 610px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .col.margin-gutter {
                width: calc(50% - 5px);
                padding-left: 5px;
                margin-left: 0;
            }

            .col {
                width: calc(50% - 5px);
                padding-left: 5px;

                &:nth-child(odd) {
                    padding-left: 0;
                    padding-right: 5px;

                    &:before {
                        left: -13px;
                    }
                }
            }
        }

    }

    .subscribe {
        background-size: cover;

        .extra-link {
            position: static;
            width: 280px;
            height: 100px;
            margin: 0 auto 40px;

            a {
                display: block;
            }

            .icon {
                margin: 0;
            }
        }
    }

    .carousel {
        &.gallery-carousel {
            .carousel-item {
                width: 33.333%;
            }
        }

        &.gallery-carousel.goods {
            .carousel-item {
                width: 23%;
            }
        }

        &.product-carousel {
            + .carousel-nav {
                display: none;
            }
        }
    }

    .gallery {
        margin-bottom: 60px;
    }

    .catalog {
        padding-bottom: 85px;

        &-list {
            padding-bottom: 45px;

            .catalog-list_item {

                &.w-50,
                &.w-33 {
                    width: 100%;
                }
            }

            .list-column {
                width: 25%;
            }
        }

        .left-side {
            float: none;
            padding: 0 0 30px;
        }

        .right-side {
            width: 100%;
        }
    }

    .filter {

        .btn.toggle {
            display: block;
            margin: auto;
        }

        .filter-overlay {
            display: inline-block;
        }

        .filter-wrap {
            position: fixed;
            top: 0;
            left: -100%;
            visibility: hidden;
            overflow: auto;
            z-index: 5;
            transition: all 0.8s;


            &.is-active {
                visibility: visible;
                left: 0;
            }
        }
    }

    .sort-by {
        .text {
            display: inline-block;
        }

        .layout {
            margin: 0;
        }

        .col {

            width: auto;
            padding: 0;

            &:last-child {
                display: none;
            }
        }

        .sort-by_amount {
            margin-right: 35px;
        }
    }

    .product {

        .product-add-favorite {
            width: 40px;
            height: 40px;
            line-height: 40px;
            right: 15px;
            top: 15px;
        }

        .content-wrap {
            padding: 0;
        }

        .product-mobile_composition,
        .product-mobile_block {
            display: block;
        }

        .product-mobile_composition {
            padding-bottom: 28px;
        }

        .product-description {
            > *:not(.product-choose) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .product-mobile_block {
            max-width: 500px;
            width: 100%;
            margin: auto;
            padding: 0 20px 15px;
        }

        .product-choose {

            &.kit .choose-item.is-active {
                .choose-item_icon {
                    display: block;
                }
            }

            &.color {
                padding: 15px 20px 20px;
            }

            &.quantity {
                .choose-item {
                    width: 20%;
                }

                small {
                    padding-left: 20px;
                }
            }

            &.length {
                small {
                    padding-left: 20px;
                }
            }

        }

        .product-benefits {
            margin-bottom: 16px;

            .icon {
                position: static;
                display: block;
                text-align: center;
                margin-bottom: 10px;
            }

            .item {
                padding-left: 0;
                text-align: center;

                &:first-child {
                    order: 1;
                }

                &:last-child {
                    order: 2;
                }

                &:nth-child(2) {
                    order: 3;
                }
            }
        }

        .product-layout {
            margin: 0 auto;
            max-width: 500px;
            padding-bottom: 0;

            .product-prices-actions {
                margin-bottom: 0;
                border: none;
                padding-bottom: 20px;
            }

            .col {
                padding: 0;
            }

            .tags,
            .product-benefits,
            .statistics,
            .product-composition {
                display: none;
            }
        }
    }

    .video {
        padding-bottom: 50px;

        .content-wrap {
            padding: 0;
        }

        .video-wrap {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    footer {
        .footer-extra {
            text-align: center;
            padding-bottom: 35px;

            .layout {
                display: flex;
                flex-direction: column;
            }

            .contacts {
                order: 1;
            }

            .social {
                order: 2;

                .d-flex {
                    justify-content: center;
                    padding: 35px 0 15px;
                }
            }

            .benefits {
                order: 3;
                justify-content: center;
                max-width: 100%;

                > span:first-child {
                    margin-right: 35px;
                }

                .text {
                    padding: 0;
                }

                .icon {
                    display: block;
                    text-align: center;
                    position: static;
                    height: 27px;
                    margin-bottom: 10px;
                }
            }

        }
    }
}

@media (max-width: 991px) and (min-width: 480px) {
    .goods.last-highlighted .highlighted-text {
        display: none;
    }
}

@media (min-width: 992px) {

    .categories-menu_toggle,
    .mm-wrapper__blocker.mm-slideout {
        display: none;
    }

    .product-view_card {

        &:hover {
            .product-image {
                z-index: 2;

                img {
                    transform: scale(1.1);
                    transition: all ease-in-out 2.5s;
                }
            }
        }
    }
}

@media (max-width: 985px) {
    nav.menu {
        transition: $transition;
    }
}
