@import "import/variables",
"import/grid";

@media (max-width: 767px) {
    @include grid-generator-phone();

    h1,
    .h1,
    h2.h1 {
        font-size: 31px;
        margin: 15px 0;
    }

    h2,
    .h2,
    h1.h2 {
        font-size: 23px;
    }

    .breadcrumbs,
    .pagination {
        display: none;
    }

    .banners {
        .link-in-line {
            font-size: 11px;
        }

        .banners-item.full .bigger {
            font-size: 32px;
        }

        .banners-item.quarter .bigger {
            font-size: 16px;
        }
    }

    .goods {
        &.first-highlighted {
            .layout .product-view_card:first-child .product-view_wrap {
                border: none;
            }
        }

        .col.margin-gutter {
            .highlighted-logo-text {
                display: none;
            }
        }
    }

    .subscribe {
        padding: 60px 0;

        .subscribe-benefits {
            padding: 0;

            .subscribe-benefits_item p {
                font-size: 12px;
            }
        }
    }

    .product-view_card {

        &:hover {
            .product-image img {
                transform: none;
            }
        }

        .btn {

            &:before,
            &:after {
                content: none;
            }

            &:hover {
                background-color: $c-green;
            }
        }

        .product-view_wrap:before {
            content: none;
        }

        .product-stamp,
        .product-desc_short {
            display: none;
        }
    }

    .carousel {
        &.gallery-carousel {
            .carousel-item {
                width: 50%;
                text-align: center;
            }

            + .carousel-nav {
                max-width: 100%;
                position: absolute;
                margin: 0;
                top: calc(50% - 25px);

                .flickity-viewport {
                    display: none;
                }

                .flickity-button {
                    position: static;

                    &:hover {
                        background-color: transparent;
                    }

                    &.previous {
                        margin-left: -27px;
                    }

                    &.next {
                        float: right;
                        margin-right: -27px;
                    }
                }
            }
        }

        &.gallery-carousel.goods {
            .carousel-item {
                width: 31.333%;
            }

            + .carousel-nav {
                top: 18%;
            }
        }

        &.reviews-carousel.flickity-enabled {

            .flickity-viewport {

                &:after,
                &:before {
                    width: 50px;
                }
            }

            .carousel-item {
                width: 50%;
            }

            .reviews-item {
                max-width: 280px;

                .left-side,
                .right-side {
                    float: none;
                    width: 100%;
                }

                .rating {
                    justify-content: center;
                    padding-bottom: 5px;
                }

                .left-side {
                    margin-bottom: 5px;
                }

                .right-side {
                    padding: 0;
                    text-align: center;
                }

                .reviews-author-text {
                    padding-bottom: 15px;
                }

                .reviews-admin-text {
                    .img-decor {
                        left: calc(50% - 25px);
                    }
                }

            }
        }
    }

    .gallery {
        margin-bottom: 44px;
    }

    .video {
        padding-bottom: 25px;

        .video-icon {
            display: none;
        }

        .video-wrap {
            padding-top: 44px;
        }

        .video-desc {
            padding-top: 15px;
            font-size: 12px;
        }
    }

    .seo {
        padding-bottom: 75px;

        h1 {
            br {
                display: none;
            }
        }
    }

    .catalog {
        padding-bottom: 69px;

        h1 {
            margin-bottom: 10px;
        }

        .load-more_wrap {
            padding: 10px 0 0;
        }

        &-list {
            .catalog-list_item {
                padding-bottom: 40px;
            }
        }
    }

    .filter {
        .filter-overlay {
            .icon {
                display: none;
            }
        }
    }

    .catalog-layout {
        margin-left: -2%;
        justify-content: center;

        .product-view_card {
            width: 48%;
            padding-left: 2%;
            height: auto;
        }
    }

    footer {
        .footer-navigation {
            padding-bottom: 10px;

            &_item {
                .icon {
                    display: inline-block;
                }

                p {
                    padding-left: 14px;
                    cursor: pointer;
                }

                &:last-child .list {
                    margin-bottom: 0;
                }
            }

            .list {
                display: none;
                margin-bottom: 15px;
            }
        }

        .footer-extra {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 767px) and (min-width: 480px) {
    .goods .layout .col.margin-gutter .product-view_card .product-desc {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 700px) {

    .carousel {

        &.goods-carousel {

            + .carousel-nav.top {
                bottom: unset;
                left: 0;
                top: 15%;
                max-width: 100%;

                .flickity-viewport {
                    display: none;
                }

                .flickity-button {
                    position: static;
                    
                    &:hover{
                        background-color: transparent;
                    }
                    
                    &.next {
                        margin-right: -23px;
                        float: right;
                    }

                    &.previous {
                        margin-left: -23px;
                    }
                }

            }

            .carousel-item.is-selected {
                + .carousel-item + .carousel-item {
                    opacity: 0;

                    + .carousel-item {
                        opacity: 1;
                    }
                }
            }

            .carousel-item {
                width: 48%;
            }
        }
    }

    .goods.is-carousel {
        h2 {
            padding-bottom: 0;
        }
    }
}

@media (max-width: 600px) {
    .catalog {
        &-list {
            .list-column {
                width: 33.333%;
            }
        }
    }

    .carousel {
        &.gallery-carousel.goods {
            .carousel-item {
                width: 48%;
            }
        }

        &.reviews-carousel.flickity-enabled {

            .carousel-item {
                width: 100%;
            }

            + .carousel-nav {
                display: none;
            }
        }
    }
}

@media (max-width: 479px) {

    h1,
    .h1,
    h2.h1 {
        font-size: 26px;
    }

    h2,
    .h2 {
        font-size: 20px;
    }

    h3,
    .h3 {
        font-size: 16px;
    }

    .visible-mobile {
        display: block;

        &_inline {
            display: inline-block;
        }
    }

    header {
        .user-links {

            a,
            .delimiter {
                display: none;
            }

            .mobile {
                display: inline-block;
            }
        }

    }

    .small-contacts > a {
        font-size: 13px;
        line-height: 18px;
    }

    .banners {
        padding-bottom: 20px;

        .link-in-line {
            flex-direction: column;
        }

        .btn {
            max-width: 100%;
        }

        .banners-item.full {

            .banners-item_text {
                padding: 22px 20px 20px;
            }

            .icon {
                left: calc(50% + 45px);
                right: unset;
                top: 15px;
            }

            .bigger {
                font-size: 26px;
                line-height: 36px;
                margin-bottom: 5px;
            }
        }

        .banners-item.quarter {
            width: 100%;

            .icon {
                bottom: calc(50% - 20px);
            }

            .bigger {
                width: 100%;
            }

            img {
                object-fit: cover;
                object-position: center;
                height: 120px;
            }

            .banners-item_text {
                padding: 0 0 0 19px;
                align-items: center;

                .text {
                    max-width: 70%;
                }
            }
        }
    }

    .carousel {
        &.review.card {
            margin-bottom: 0;
        }

        &.gallery-carousel.goods {

            .carousel-item.is-selected {
                + .carousel-item + .carousel-item {
                    opacity: 0;
                }
            }

            .carousel-item .item-info {
                padding: 17px 10px 15px;

                .name {
                    font-size: 10px;
                    margin-bottom: 10px;
                }

                .price {
                    font-size: 14px;
                }
            }
        }

        &.reviews-carousel.flickity-enabled {
            .flickity-viewport {

                &:after,
                &:before {
                    content: none;
                }
            }

            .carousel-item {
                margin-right: 20px;
            }

            .left-side {

                .img-wrap {
                    display: none;
                }

            }

        }

    }

    .goods {

        &.last-highlighted {
            margin-bottom: 45px;
        }

        .btn.load-more {
            margin-top: 0;
        }

        .layout {
            margin-bottom: 0;
        }

        &.last-highlighted {
            background-color: #DCE5E3;

            .content-wrap {
                > h2 {
                    display: none;
                }
            }

            .highlighted-text {
                position: static;
                width: 100%;
                padding: 27px 0;
            }

            .col.product-view_card,
            .btn.load-more {
                display: none;
            }

            .col.margin-gutter {
                width: 100%;
                margin: auto;
            }
        }
    }

    .subscribe {
        padding: 44px 0 35px;
        margin-bottom: 0;

        .desc {
            font-size: 11px;
            line-height: 15px;
        }

        h2 span {
            display: block;
        }

        .extra-link {
            margin-bottom: 56px;
        }

        .subscribe-form {
            padding-bottom: 0;

            .btn-wrap {
                max-width: 280px;
            }

            .d-flex {
                display: block;
                padding-bottom: 20px;

                + p {
                    display: none;
                }
            }

            label {
                margin-bottom: 20px;
                margin-right: 0;
                max-width: 100%;
                display: block;
            }
        }

        .subscribe-benefits {
            .d-flex {
                flex-wrap: wrap;
                margin-top: -35px;

                > * {
                    width: 50%;
                    padding-top: 35px;
                }
            }
        }
    }

    .product-view_card {
        height: auto;

        &:before {
            content: none;
        }

        &:hover {
            .product-image img {
                transform: none;
            }
        }

        .product-desc {
            padding: 4px 0 30px;
        }

        .product-size {
            font-size: 9px;
            width: 37px;
            height: 37px;
            padding-top: 12px;
            line-height: 8px;
        }

        .btn.small {
            font-size: 9px;
            padding: 8px 10px;
            max-width: 135px;
        }

        .product-name {
            font-size: 9px;
            line-height: 14px;
            height: 40px;
            margin-bottom: 5px;
        }

        .product-price {
            font-size: 14px;
        }

        .product-vendorcode {
            font-size: 7px;
            line-height: 11px;
        }

        .product-extra-info {
            font-size: 7px;
            padding-top: 10px;

            p {
                line-height: 12px;
            }
        }
    }

    .gallery {
        padding: 44px 0 50px;
        position: relative;

        .gallery-mob-btn {
            display: block;
        }

        h2 {
            margin-bottom: 15px;
        }

        .nav-tabs {
            visibility: hidden;
            opacity: 0;
            top: 28px;
            position: absolute;
            background-color: #fff;
            box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.1);
            width: 100%;
            z-index: 2;
            padding: 15px 20px 0;
            margin-bottom: 0;
            transition: $transition;

            &.is-active {
                visibility: visible;
                opacity: 1;
            }

            .tab {
                display: block;
                margin: 0;
                text-align: left;
                border: none;
                margin-bottom: 10px;
                padding: 0;

                &.active {
                    display: none;
                }
            }
        }
    }

    .seo {
        h1 {
            font-size: 16px;
            margin-bottom: 20px;
        }

        p {
            font-size: 12px;
            line-height: 21px;
        }
    }

    .catalog {
        &-list {

            .list-column {
                width: 50%;
            }
        }
    }

    .sort-by {
        .text {
            display: none;
        }
    }

    .product {

        .product-vendorcode {
            font-size: 12px;
        }

        .product-layout {
            padding-top: 15px;
        }

        .statistics {
            font-size: 9px;

            span:first-child {
                margin-right: 10px;
            }
        }

        .product-choose {
            &.kit {
                padding-bottom: 15px;

                .choose-item_prices {
                    font-size: 9px;
                }

                .choose-item {
                    padding: 17px 0;
                }
            }

            &.color {
                .choose-item {
                    width: 33.333%;
                    padding-left: 45px;
                }

                .choose-item_title {
                    font-size: 9px;
                    line-height: 11px;
                }
            }
        }

        .product-prices-actions {

            .btn {
                font-size: 10px;
                max-height: 50px;
                padding: 13.5px 10px;

                &:before,
                &:after {
                    content: none;
                }

                &:hover {
                    color: $c-l-dark;
                }
            }

            .w-50:nth-child(odd) {
                margin-right: 0;
            }

            .bonuses {
                width: 100%;
                margin-bottom: 11px;
            }

            .prices {
                width: 100%;
                margin: 0 0 5px;
            }
        }
    }

    .reviews {
        .reviews-extra h3 {
            margin-bottom: 15px;
        }
    }
}
