@import "import/variables",
"import/grid";

@media (max-width: 1300px) {
    .carousel {
        &.gallery-carousel.goods {

            .flickity-viewport {
                margin-left: 1%;
            }

            .carousel-item {
                width: 18%;
                margin-right: 2%;
            }
        }

        &.reviews-carousel.flickity-enabled {

            .flickity-viewport {
                position: relative;
                
                &:after,
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100px;
                    display: inline-block;
                    z-index: 1;
                }
                
                &:before{
                    left: 0;
                    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
                }
                
                &:after{
                    right: 0;
                    background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
                }
            }

            .carousel-item {
                width: 100%;
                margin-right: 0;

                .reviews-item {
                    margin: auto;
                }
            }
        }
    }

    .reviews {
        
        .reviews-extra{
            padding: 45px 0 50px;
        }
        
        &.in-carousel {
            padding: 61px 0 0;
            
            .content-wrap{
                padding: 0 20px;
            }
            
            .reviews_icon{
                display: none;
            }
            
            .reviews-wrap{
                &:before{
                    content: none;
                }
            }
        }
    }

}

@media (max-width: 1256px) {
    .content-wrap {
        padding: 0 20px;
    }

    header .header-bottom {
        .content-wrap {
            padding: 0;
        }
    }

    .sort-by {
        .text {
            display: block;
        }
    }
}

@media (max-width: 1250px) {
    .goods {
        .layout .col {
            width: 22.5%;
        }
    }

    .product {
        .product-carousel_wrap {
            max-width: 500px;
        }

        .product-composition p {
            font-size: 12px;
        }

        .product-choose {
            padding-bottom: 20px;

            &.kit {
                .choose-item_prices {
                    font-size: 11px;
                }
            }

            &.color .choose-item {
                width: 25%;
            }

            &.length .choose-item,
            &.quantity .choose-item {
                font-size: 12px;
            }

            &.quantity {
                padding-bottom: 25px;

                .choose-item {
                    width: 25%;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    header {
        .small-contacts {
            > * {
                display: block;
                margin-right: 0;
            }
        }
    }
    
    .carousel{
        &.goods-carousel{
            
            .flickity-viewport{
                margin-left: 1%;
            }
            
            .carousel-item.is-selected {
                + .carousel-item + .carousel-item + .carousel-item {
                    opacity: 0;
                }
            }
            
            .carousel-item{
                width: 31.333%;
                margin-right: 2%;
            }
        }
    }

    .gallery .tab-container_icon {
        display: none;
    }
    
    .goods.is-carousel{
        .product-view_card{
            height: auto;
        }
    }
}

@media (max-width: 1210px) and (min-width: 992px) {
    .categories-menu {
        li.item {
            max-width: 125px;
        }
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .banners {
        .link-in-line {
            font-size: 11px;
        }

        .banners-item.full .bigger {
            font-size: 32px;
        }

        .banners-item.quarter .bigger {
            font-size: 16px;
        }
    }
}

@media (max-width: 1175px) and (min-width: 992px) {
    .categories-menu {

        > li > a {
            font-size: 1em;
        }

        li.item {
            max-width: 112px;
        }

        li.item-special {
            max-width: 109px;

            .icon {
                right: 2px;
            }
        }
    }
}

@media (max-width: 1175px) {
    .search {

        .search-submit,
        .search-toggle {
            height: 57px;
            line-height: 57px;
        }
    }
}
