<div class="modal-body">
    <form>
        <p class="h3 decorated text-center">Заказать звонок</p>

        <label>
            <input type="text" name='name' placeholder='Имя'>
        </label>

        <label>
            <input type="tel" name='phone' placeholder="+7 (XXX) XXX-XX-XX">
        </label>

        <small>
            Нажимая кнопку «Отправить» вы даете согласие<br>
            на обработку ваших персональных данных<br>
            в соответствии с <a href="#" class="c-blue">Пользовательским соглашением</a>
        </small>

        <button type="submit" class="btn w-100 mb-20">Отправить</button>

        <small class="last">
            Спасибо за заявку на звонок.<br>
            В ближайшее время наш менеджер свяжется с вами.
        </small>
    </form>
</div>
