<div class="modal-body large">
    <form action="">
        <p class="h3 decorated text-center">Написать нам</p>

        <div class="grid-3 -phablet-1"><label class="col">
                <input type="text" name="name" placeholder='Имя'>
            </label><label class="col">
                <input type="tel" name="phone" placeholder="+7 (XXX) XXX-XX-XX">
            </label><label class="col">
                <input type="email" name="email" placeholder="E-mail"></label></div>
        <label>
            <textarea name='message' placeholder="Ваше сообщение"></textarea>
        </label>
        <small>
            Нажимая кнопку «Отправить» вы даете согласие
            на обработку ваших персональных данных
            в соответствии с <a href="#" class="c-blue">Пользовательским соглашением</a>
        </small>

        <button type="submit" class="btn mb-20 c-blue m-auto">Отправить</button>

    </form>
</div>


