
    <footer>

    <div class="content-wrap">

        <div class="footer-info d-flex justify-between flex-wrap c-white">

            <div class="footer-affiliate">
                <p class='font-b fz18'>Москва</p>
            </div>

            <div class="footer-menu">
                <div class="d-i-block">
                    <a href="#">Металлообработка</a>
                    <a href="#">Оплата</a>
                    <a href="#">ГОСТы и ТУ</a>
                    <a href="#">Полезная информация</a>
                    <a href="#">Гарантии</a>
                </div>
            </div>

            <div class="footer-contacts fz13">
                <p><span>Адрес:</span> Рязанский проспект, д. 22, корп.2</p>
                <p><span>Время работы:</span> пн-чт 9:00-18:00, пт 9:00-17:00</p>
                <p><span>E-mail:</span> <a href="mailto:info@steelreserve.ru" target="_blank">info@steelreserve.ru</a></p>
            </div>

            <div class="footer-copyright fz11 c-blue">
                <p>© 2018 Стальрезерв. Все права защищены.</p>
                <p><a href="https://iarga.ru/" target="_blank" title="На сайт IAGRA">Разработка сайта <img src="images/iagra.png" alt=""></a></p>
            </div>

        </div>

    </div>

</footer>
