<header>

    <div class="content-wrap">

        <div class="header-top grid-3 d-flex align-center c-white">

            <div class="col get-feedback_block">
                <a href="tel:+74953747717" class="d-i-block fz20 font-b">+7 (495) 374-77-17</a>
                <br>
                <a href="popup-feedback.html" class="js-popup d-i-block c-blue get-feedback">
                    <svg style="width: 0.813em; height: 0.813em;" data-png="images/icons/icon-call.png">
                        <use xlink:href="#icon-call"></use>
                    </svg>
                    <span class="fz12">Заказать звонок</span>
                </a>
            </div>
            <div class="col text-center">
                <a class="logo d-i-flex align-center justify-center hover-unstyled" href="/">

                    <!--Отображаем в мобильной версии-->
                    <span class="logo-mob">
                        <img src="images/logo-mob.png" alt="Логотип">
                    </span>
                    <!--***-->

                    <span class="logo-icon_wrap">
                        <img src="images/logo.png" alt="Логотип">
                    </span>

                    <span class="logo-text">
                        <img src="images/logo-text.png" alt="Текст логотипа">
                        <p class='only-on-print fz40 font-b'>СТАЛЬРЕЗЕРВ</p>
                    </span>
                </a>
            </div>
            <div class="col">
                <div class="user-tools d-flex align-center justify-end">
                    <div class="user-get-feedback">
                        <a href="popup-feedback.html" class="js-popup">
                            <svg style="width: 1.25rem; height: 1.25rem;" data-png="images/icons/icon-call.png">
                                <use xlink:href="#icon-call-white"></use>
                            </svg>
                        </a>
                    </div>


                    <div class="user-geoposition">
                        <span class="get-affiliate js-open-geo">
                            <svg style="width: 1.250em; height: 1.250em;" data-png="images/icons/icon-pointer.png">
                                <use xlink:href="#icon-pointer"></use>
                            </svg>
                            <span class="fz12 link-dotted-hover">КОМСОМОЛЬСК НА АМУРЕ</span>
                        </span>

                        <div class="user-geoposition_drop-list">

                            <div class="drop-list_wrap grid-2 js-nospace">
                                <p class="title fz18px">Выберите свой город:</p>
                                <div class="col">
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city1.png" alt="">
                                        </span>
                                        <span>Москва</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city2.png" alt="">
                                        </span>
                                        <span>Санкт-Петербург</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city3.png" alt="">
                                        </span>
                                        <span>Орел</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city4.png" alt="">
                                        </span>
                                        <span>Смоленск</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city5.png" alt="">
                                        </span>
                                        <span>Брянск</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city6.png" alt="">
                                        </span>
                                        <span>Нижний Новгород</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city7.png" alt="">
                                        </span>
                                        <span>Екатеринбург</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city8.png" alt="">
                                        </span>
                                        <span>Челябинск</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city9.png" alt="">
                                        </span>
                                        <span>Уфа</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city10.png" alt="">
                                        </span>

                                        <span>Краснодар</span>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city11.png" alt="">
                                        </span>
                                        <span>Ростов-на-Дону</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city12.png" alt="">
                                        </span>
                                        <span>Новосибирск</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city13.png" alt="">
                                        </span>
                                        <span>Красноярск</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city14.png" alt="">
                                        </span>
                                        <span>Новокузнецк</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city15.png" alt="">
                                        </span>
                                        <span>Хабаровск</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city16.png" alt="">
                                        </span>
                                        <span>Якутск</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city17.png" alt="">
                                        </span>
                                        <span>Южно-Сахалинск</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city18.png" alt="">
                                        </span>
                                        <span>Владивосток</span>
                                    </a>
                                    <a href="#">
                                        <span class="img-wrap">
                                            <img src="images/geo/city19.png" alt="">
                                        </span>
                                        <span>Минск</span>
                                    </a>
                                </div>

                                <span class="drop-list_close js-close-geo">
                                    <svg style="width: 0.81rem; height: 0.81rem;">
                                        <use xlink:href="#icon-close"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="search-block cursor-p pos-relative" id="search">
                        <span class="js-searchtoggle">
                            <svg style="width: 1.250em; height: 1.250em;" data-png="images/icons/icon-magnifer.png">
                                <use xlink:href="#icon-magnifer"></use>
                            </svg>
                        </span>

                        <div class="search-block_drop-input pos-absolute">
                            <label class="pos-relative">
                                <input type="text" name="search" placeholder="Я ищу...">
                                <span class="js-searchstart search-start" title="Искать...">
                                    <svg style="width: 1.25em;; height: 1.25em;">
                                        <use xlink:href="#icon-magnifer"></use>
                                    </svg>
                                </span>
                                <span class="search-block_list">
                                    <ul class="list-unstyled">

                                        <li class="search-item">
                                            <a href="#">
                                                <span class="search-item_img-wrap">
                                                    <img src="images/search-stub.png" alt="">
                                                </span>
                                                <span class="name">Название товара 4</span>
                                                <span class="search-item_price">
                                                    <span class="price-old"><del>15 566 руб.</del> / тонна</span>
                                                    <span class="price"><span>10 120 руб.</span> / тонна</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li class="search-item">
                                            <a href="#">
                                                <span class="search-item_img-wrap">
                                                    <img src="images/search-stub.png" alt="">
                                                </span>
                                                <span class="name">Название товара 4</span>
                                                <span class="search-item_price">
                                                    <span class="price-old"><del>15 566 руб.</del> / тонна</span>
                                                    <span class="price"><span>10 120 руб.</span> / тонна</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li class="search-item">
                                            <a href="#">
                                                <span class="search-item_img-wrap">
                                                    <img src="images/search-stub.png" alt="">
                                                </span>
                                                <span class="name">Название товара 4</span>
                                                <span class="search-item_price">
                                                    <span class="price-old"><del>15 566 руб.</del> / тонна</span>
                                                    <span class="price"><span>10 120 руб.</span> / тонна</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li class="search-item">
                                            <a href="#">
                                                <span class="search-item_img-wrap">
                                                    <img src="images/search-stub.png" alt="">
                                                </span>
                                                <span class="name">Название товара 4</span>
                                                <span class="search-item_price">
                                                    <span class="price-old"><del>15 566 руб.</del> / тонна</span>
                                                    <span class="price"><span>10 120 руб.</span> / тонна</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li class="search-item">
                                            <a href="#">
                                                <span class="search-item_img-wrap">
                                                    <img src="images/search-stub.png" alt="">
                                                </span>
                                                <span class="name">Название товара 4</span>
                                                <span class="search-item_price">
                                                    <span class="price-old"><del>15 566 руб.</del> / тонна</span>
                                                    <span class="price"><span>10 120 руб.</span> / тонна</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </span>
                            </label>
                        </div>

                    </div>

                    <div class="cart-block cursor-p" id="cart">

                        <svg style="width: 1.375em; height: 1.250em;" data-png="images/icons/icon-cart.png">
                            <use xlink:href="#icon-cart"></use>
                        </svg>

                        <span class="cart-amount fz12">
                            15
                        </span>
                    </div>

                </div>
            </div>

        </div>

        <nav class="menu">

            <div class="menu-wrap d-flex align-content-stretch">
                <a href="#" class="catalog">каталог продукции</a>

                <a href="#">услуги</a>

                <a href="#">металлоконструкции</a>

                <a href="#">о нас</a>

                <a href="#">доставка</a>

                <a href="#">контакты</a>
            </div>

        </nav>

    </div>

</header>
