<footer>
    <div class="content-wrap">
        <div class="footer-wrap">
            <div class="d-flex justify-between">
                <div class="menu">

                    <div class="block-group">
                        <p class="title">О компании</p>
                        <a href="#">Гарантия и возврат</a>
                        <a href="#">Отзывы</a>
                        <a href="#">Помощь</a>
                    </div>

                    <div class="block-group">
                        <p class="title">Полезно</p>
                        <a href="#">Статьи</a>
                        <a href="#">Новости</a>
                        <a href="#">Акции</a>
                    </div>

                </div>
                <div class="catalog-menu">
                    <p class="title">Каталог</p>
                    <div class="block-group divide-2">
                        <p class="title mob">Каталог</p>
                        <a href="#">Распродажа</a>
                        <a href="#">Люстры</a>
                        <a href="#">Встраиваемые
                            светильники</a>
                        <a href="#">Бра</a>
                        <a href="#">Споты</a>
                        <a href="#">Настольные лампы</a>
                        <a href="#">Торшеры</a>
                        <a href="#">Светильники</a>

                        <a href="#">Лампы</a>
                        <a href="#">Электротовары</a>
                        <a href="#">Светодиодные ленты</a>
                        <a href="#">Уличное освещение</a>
                        <a href="#">Ароматы</a>
                        <a href="#">Мебель</a>
                        <a href="#">Зеркала</a>
                        <a href="#">Предметы интерьера</a>
                        <a href="#">Часы</a>

                    </div>
                </div>
                <div class="address js-clone-in-menu">

                    <p class="title">Адреса магазинов</p>

                    <div class="address-list">
                        <p>г. Краснодар, ул. Кирова 141,
                            ТЦ "Стройград"</p>

                        <p>г. Краснодар, ул. Уральская 77/7,
                            ТЦ "МебельГрад"</p>

                        <p>Респ. Адыгея, Тургеневское
                            шоссе 25/4 ТЦ "ARTHOUSE"</p>
                    </div>

                </div>
                <div class="contacts js-clone-in-menu">
                    <div class="contacts-block">
                        <a href="tel:+79186566378" class="fz18 font-b">8 (918) 656-63-78</a>
                        <a href="ajax/popup-feedback.html" class="js-popup fz14 font-b c-gold"><span>Заказать обратный звонок</span></a>
                    </div>

                    <div class="social-block">
                        <a href="#">
                            <svg style='width: 1.38rem; height: 1.38rem;' class='svg-gold'>
                                <use xlink:href="#icon-whatsapp"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg style='width: 1.44rem; height: 1.31rem;' class='svg-gold'>
                                <use xlink:href="#icon-telegram"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg style='width: 1.38rem; height: 1.44rem;' class='svg-gold'>
                                <use xlink:href="#icon-viber"></use>
                            </svg>
                        </a>

                        <p>Нам можно написать <br>
                            в мессенджерах</p>
                    </div>

                    <div class="social-network">

                        <a href='#' class="social-network_icon-wrap">
                            <svg style="width: 1.31rem; height: 1.31rem;">
                                <use xlink:href="#icon-insta"></use>
                            </svg>
                        </a>
                        <a href='#' class="social-network_icon-wrap">
                            <svg style="width: 0.81rem; height: 1.38rem;">
                                <use xlink:href="#icon-facebook"></use>
                            </svg>
                        </a>
                        <a href='#' class="social-network_icon-wrap">
                            <svg style="width: 28px; height: 28px;">
                                <use xlink:href="#icon-vk"></use>
                            </svg>
                        </a>
                        <a href='#' class="social-network_icon-wrap">
                            <svg style="width: 1.69rem; height: 1.25rem;">
                                <use xlink:href="#icon-youtube"></use>
                            </svg>
                        </a>

                        <a href='#' class="social-network_icon-wrap">
                            <svg style="width: 18px; height: 18px;">
                                <use xlink:href="#icon-ok"></use>
                            </svg>
                        </a>

                        <p>Или найти нас в соцсетях</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Popup's  -->

    <!-- Авторизация -->
    <div class="modal-body mfp-hide" id='popup-login'>

        <form class="with-validation">
            <h3>Авторизация</h3>
            <label>
                <input type="text" name='login' placeholder='Ваш email или телефон'>
            </label>
            <label>
                <input type="text" name='password' placeholder='Пароль'>
            </label>

            <div class="remember-and-forget">
               
                <label class="custom checkbox">
                    <input type="checkbox" checked>
                    <span class="custom-input checkbox">
                        <span class="custom-input_icon checkbox">
                            <svg style="width: 0.75rem; height: 0.56rem;">
                                <use xlink:href="#icon-checkmark"></use>
                            </svg>
                        </span>
                    </span> Запомнить меня
                </label>
                
                <a href="#popup-return-pass" class="js-popup-no-ajax">Забыли пароль?</a>
                
            </div>



            <button type="submit" class="btn h-max w-100 blue fz16">Войти</button>

            <div class="modal-body_extra-link">
                Еще не регистрировались?
                <a href="#popup-registry" class="js-popup-no-ajax">Зарегистрироваться</a>
            </div>
        </form>
        
        <div class="modal-body mfp-hide" id='popup-return-pass'>

        <form class="with-validation">
            <h3>Восстановить пароль</h3>
            <label>
                <input type="text" name='login' placeholder='Ваш email или телефон'>
            </label>
           
            <button type="submit" class="btn h-max w-100 blue fz16">Отправить</button>

            <div class="modal-body_extra-link">
                Еще не регистрировались?
                <a href="#popup-registry" class="js-popup-no-ajax">Зарегистрироваться</a>
            </div>
        </form>
        
    </div>
        
    </div>

    <div class="modal-body mfp-hide" id='popup-registry'>

        <form class="with-validation">
            <h3>Регистрация на сайте</h3>
            <label>
                <input type="text" name='login' placeholder='Ваш email или телефон'>
            </label>
            <label>
                <input type="text" name='password' placeholder='Пароль'>
            </label>
            <label>
                <input type="text" name='password_confirmation' placeholder='Повторите пароль'>
            </label>
            <div class="modal-body_help">
                <label class="custom checkbox">
                    <input type="checkbox" name="checkbox" checked>
                    <span class="custom-input checkbox">
                        <span class="custom-input_icon checkbox">
                            <svg style="width: 0.75rem; height: 0.56rem;">
                                <use xlink:href="#icon-checkmark"></use>
                            </svg>
                        </span>
                    </span>
                    Регистрируясь я принимаю условия <a href="#">Пользовательского соглашения</a> и <a href="#">Политики конфиденциальности</a>
                </label>
            </div>
            <button type="submit" class="btn h-max w-100 blue fz16">Зарегистрироваться</button>

            <div class="modal-body_extra-link">
                Я уже зарегистрирован,&nbsp;<a href="#popup-login" class="js-popup-no-ajax">войти</a>
            </div>
        </form>
    </div>
    <!-- *** -->
</footer>
