<header>

    <div class="content-wrap">

        <div class="d-flex">

            <div class="mobile-block">
                <span class="mobile-block_btn-menu d-i-block cursor-p js-trigger-next">
                    <svg style="width: 1.25rem; height: 1.06rem;">
                        <use xlink:href="#icon-burger"></use>
                    </svg>
                </span>

                <div class="menu-block mobile">

                    <div class="mobile-block_top">
                        <span class="mobile-close js-close-mobile">
                            <svg style="width: 2.19rem; height: 2.25rem;">
                                <use xlink:href="#icon-close-mobile"></use>
                            </svg>
                        </span>

                    </div>

                    <div class="clearfix">
                        <!---->
                    </div>

                    <div class="mobile-block_content">


                        <div class="affiliate-block_wrap">
                        </div>

                        <div class="contacts-block">
                        </div>

                        <div class="nav-category carousel">
                        </div>

                        <div class="nav-category_submenu">
                        </div>



                        <div class="user-tools">

                            <a href="#" class="user-tools_cart" title="Товары в корзине">
                                <span class="d-i-block pos-relative">

                                </span>
                                <span class="d-i-block fz16 font-b c-gold">Корзина</span>
                            </a>

                            <a href="#" class="user-tools_favorite" title="Товары в избранном">
                                <span class="d-i-block pos-relative">

                                </span>
                                <span class="d-i-block fz16 font-b c-gold">Избранное</span>
                            </a>

                        </div>

                        <nav class="font-b">
                        </nav>

                        <div class="mobile-footer">

                        </div>

                    </div>

                </div>

                <span class="mobile-block_btn-search d-i-block cursor-p js-trigger-next">
                    <svg style="width: 1.06rem; height: 1.06rem;">
                        <use xlink:href="#icon-magnifer"></use>
                    </svg>
                </span>

                <div class="search-block mobile">

                    <div class="delimiter"></div>

                    <form action="">
                        <p class="fz18 font-b">Поиск по сайту</p>
                        <label>
                            <input type="text">

                            <button class="search-block_btn-mobile btn fz14 h-max w-100">
                                Искать на сайте
                            </button>
                        </label>
                    </form>
                </div>
            </div>

            <div class="logo-block">

                <a href="#">

                    <span class="logo-block_img d-i-block">
                        <svg style="width:1.88rem; height:4rem;">
                            <use xlink:href="#icon-logo"></use>
                        </svg>
                    </span>

                    <span class="logo-block_slogan d-i-block fz24 font-b">
                        PRESTIGE
                        СВЕТ ЮГ
                    </span>

                </a>

            </div>

            <div class="affiliate_contacts-wrap">

                <div class="affiliate-block fz12">
                    Ваш город:<a href="#" class="border-b-dashed js-open-affiliate" title="Выберите город">Краснодар</a>
                    <span class="affiliate-block_icon">
                        <svg style="width: 0.5rem; height: 0.31rem;" class="svg-gold">
                            <use xlink:href="#icon-angle-down"></use>
                        </svg>
                    </span>

                    <ul class="affiliate-block_drop-list list-unstyled">

                        <li>
                            <a href="">Москва</a>
                        </li>

                        <li>
                            <a href="">Санкт-Петербург</a>
                        </li>

                        <li>
                            <a href="">Екатеринбург</a>
                        </li>

                        <li>
                            <a href="">Новосибирск</a>
                        </li>

                        <li>
                            <a href="">Краснодар</a>
                        </li>

                        <li>
                            <a href="">Красноярск</a>
                        </li>

                        <li>
                            <a href="">Ростов-на-Дону</a>
                        </li>

                    </ul>

                </div>

                <div class="contacts-block">
                    <a href="tel:+79186566378" class="fz18 font-b">8 (918) 656-63-78</a> <br>
                    <a href="ajax/popup-feedback.html" class="js-popup fz11 font-b c-gold"><span>Заказать обратный звонок</span></a>
                </div>

            </div>

            <div class="social_search-wrap">

                <div class="d-flex justify-between align-center">
                    <div class="social-block tooltip" data-title='Нам можно написать в мессенджерах'>
                        <a href="#">
                            <svg style='width: 1.38rem; height: 1.38rem;' class='svg-gold'>
                                <use xlink:href="#icon-whatsapp"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg style='width: 1.44rem; height: 1.31rem;' class='svg-gold'>
                                <use xlink:href="#icon-telegram"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg style='width: 1.38rem; height: 1.44rem;' class='svg-gold'>
                                <use xlink:href="#icon-viber"></use>
                            </svg>
                        </a>
                    </div>

                    <div class="search-block">
                        <form action="">
                            <label>
                                <input type="text" placeholder="Поиск по каталогу">
                                <button class="search-block_btn" title="Начать поиск">
                                    <svg style="width: 0.69rem; height: 0.69rem;">
                                        <use xlink:href="#icon-magnifer"></use>
                                    </svg>
                                </button>
                            </label>
                        </form>
                    </div>
                </div>

                <nav class="js-nospace">
                    <a href="#">О компании</a>
                    <a href="#">Доставка и оплата</a>
                    <a href="#">Оснащение ресторанов и офисов</a>
                    <a href="#">Дизайнерам</a>
                    <a href="#">Контакты</a>
                </nav>

            </div>

            <div class="user-tools in-header">
                <div class="user-tools_auth">
                    <a href="#popup-login" class="btn js-popup-no-ajax">Войти</a>
                </div>

                <div class="js-nospace">
                    <a href="#" class="user-tools_favorite" title="Товары в избранном">
                        <svg style="width: 1.31rem; height: 1.38rem;" class='svg-gold'>
                            <use xlink:href="#icon-heart"></use>
                        </svg>
                        <span class="user-tools_counter">0</span>
                    </a>

                    <a href="#" class="user-tools_cart" title="Товары в корзине">
                        <svg style="width: 1.38rem; height: 1.44rem;" class='svg-gold'>
                            <use xlink:href="#icon-cart"></use>
                        </svg>
                        <span class="user-tools_counter">1</span>
                    </a>
                </div>

            </div>

        </div>
    </div>

</header>
