<div class="modal-body">
    <form class="with-validation">
        <h3>Оставить отзыв</h3>
        <label>
            <input type="text" name='name' class="required" placeholder='Имя'>
        </label>
        <label>
            <textarea name="message" id="" class='required' placeholder="Ваш отзыв"></textarea>
        </label>

        <div class="rating js-nospace">
           
            <span class="font-b text">Ваша оценка</span>
            
            <div class="js-rating">
                
            </div>
            
            <!--<span class="rating-star js-click-change is-active">
                <span class="active">
                    <svg style="width: 25px; height: 23px;">
                        <use xlink:href="#icon-star"></use>
                    </svg>
                </span>
                <span class="disable">
                    <svg style="width: 25px; height: 23px;">
                        <use xlink:href="#icon-star-empty"></use>
                    </svg>
                </span>
            </span>
            <span class="rating-star js-click-change is-active">
                <span class="active">
                    <svg style="width: 25px; height: 23px;">
                        <use xlink:href="#icon-star"></use>
                    </svg>
                </span>
                <span class="disable">
                    <svg style="width: 25px; height: 23px;">
                        <use xlink:href="#icon-star-empty"></use>
                    </svg>
                </span>
            </span>
            <span class="rating-star js-click-change is-active">
                <span class="active">
                    <svg style="width: 25px; height: 23px;">
                        <use xlink:href="#icon-star"></use>
                    </svg>
                </span>
                <span class="disable">
                    <svg style="width: 25px; height: 23px;">
                        <use xlink:href="#icon-star-empty"></use>
                    </svg>
                </span>
            </span>
            <span class="rating-star js-click-change is-active">
                <span class="active">
                    <svg style="width: 25px; height: 23px;">
                        <use xlink:href="#icon-star"></use>
                    </svg>
                </span>
                <span class="disable">
                    <svg style="width: 25px; height: 23px;">
                        <use xlink:href="#icon-star-empty"></use>
                    </svg>
                </span>
            </span>
            <span class="rating-star js-click-change is-active">
                <span class="active">
                    <svg style="width: 25px; height: 23px;">
                        <use xlink:href="#icon-star"></use>
                    </svg>
                </span>
                <span class="disable">
                    <svg style="width: 25px; height: 23px;">
                        <use xlink:href="#icon-star-empty"></use>
                    </svg>
                </span>
            </span>-->
        </div>

        <div class="modal-body_help">
            <label class="custom checkbox">
                <input type="checkbox" checked>
                <span class="custom-input checkbox">
                    <span class="custom-input_icon checkbox">
                        <svg style="width: 0.75rem; height: 0.56rem;">
                            <use xlink:href="#icon-checkmark"></use>
                        </svg>
                    </span>
                </span> Я согласен с политикой конфиденциальности и пользовательским соглашением </label>
        </div>

        <input type="submit" class="btn h-max w-100 blue fz16" value='Отправить отзыв'>
    </form>
</div>
