<div class="modal-body">
    <form class="with-validation">
        <h3>Купить в 1 клик</h3>

        <p class="modal-body_info">Оставьте ваш номер телефона, и мы перезвоним для уточнения деталей заказа</p>

        <label>
            <input type="text" name='name' class="required" placeholder='Имя'>
        </label>
        <label>
            <input type="text" name="email" class='required' placeholder="Ваш e-mail">
        </label>
        <label>
            <input type="text" name="phone" class='jsPhoneMask required'>
        </label>

        <div class="modal-body_help">
            <label class="custom checkbox">
                <input type="checkbox" checked>
                <span class="custom-input checkbox">
                    <span class="custom-input_icon checkbox">
                        <svg style="width: 0.75rem; height: 0.56rem;">
                            <use xlink:href="#icon-checkmark"></use>
                        </svg>
                    </span>
                </span> Я согласен с политикой конфиденциальности и пользовательским соглашением </label>
        </div>

        <input type="submit" class="btn h-max w-100 blue fz16" value='Отправить'>
    </form>
</div>
