<div class="modal-body dimensions">
    <h3>
        <span class="icon">
            <svg style="width: 62px; height: 31px;">
                <use xlink:href="#icon-ruler-big"></use>
            </svg>
        </span>
        Посмотреть габариты
    </h3>

    <div class="show-dimensions">

        <div class="show-dimensions_flex-wrap">

            <p class="relative-height text-center">180 см</p>

            <div class="silhouette js-silhouette">
                <img src="images/product/silhoutte.png" class="img-responsive" alt="">
            </div>
           
            <div class="proportional-img js-proportional-img" style='' data-width='60' data-height='60'>
                <span class="height">Высота: 60см</span>
                <img src="images/product/proportional-img.png" alt="" class="img-responsive">
                <span class="width">Ширина: 60см</span>
            </div>
        </div>

    </div>
</div>
