<div class="modal-body">
    <form class='with-validation'>
        <h3>Заказать звонок</h3>

        <label>
            <input type="text" name='name' placeholder='Имя' class="required">
        </label>

        <label>
            <input type="text" name='phone' class="jsPhoneMask required">
        </label>

        <div class="modal-body_help">
            <label class="custom checkbox">
                <input type="checkbox" checked>
                <span class="custom-input checkbox">
                    <span class="custom-input_icon checkbox">
                        <svg style="width: 0.75rem; height: 0.56rem;">
                            <use xlink:href="#icon-checkmark"></use>
                        </svg>
                    </span>
                </span>
                Я согласен с политикой конфиденциальности
                и пользовательским соглашением
            </label>
        </div>
        

        <button type="submit" class="btn h-max w-100 blue fz16">Отправить</button>

    </form>
</div>
