%clearfix {

    &:after {
        content: '';
        display: table;
        clear: both;
    }

}


%button-reset {
    padding: .429em; // Отступ для стандартного фокуса
    border-width: 0;
    background-color: transparent;
}

%vertical-middle {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
}


%fill {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}