@import "import/variables";

.d-block {
    display: block;
}

.d-i-block {
    display: inline-block;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    > div,
    > p,
    > span {
        box-sizing: border-box;
    }
}

.d-i-flex {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.align-content-stretch {
    align-content: stretch;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

/* *** */

/* Align Text */

.text-center {
    text-align: center;
}

/* *** */

/* Floats */

.float-l {
    float: left;
}

.float-r {
    float: right;
}

/* *** */

/* Positions */

.m-auto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .m-auto-phablet {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

/* Colors */

.c-blue {
    color: $c-blue;
}

.c-white {
    color: $c-white;
}

.c-gray {
    color: $c-gray;
}

/* *** */

/* Backgrounds */

.bg-blue {
    background-color: $c-blue;
}

.bg-l-blue {
    background-color: $c-l-blue;
}

.bg-white {
    background-color: $c-white;
}

.bg-gray {
    background-color: $c-gray;
}

/* *** */

/* Paddings and Margins */

.m-0 {
    margin: 0;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

.p-0 {
    padding: 0;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

/* Hover's effects */

.cursor-p {
    cursor: pointer;
}

.hover-gradient {
    &:after {
        content: '';
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transition: $transition;
    }

    &:hover {
        &:after {
            opacity: 1;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 64, 152, 0.69) 100%);
        }
    }
}

/* *** */

/* Font Sizes(in PX to EM) and other */

.fz11 {
    font-size: 0.69em;
}

.fz12 {
    font-size: 0.750em;
}

.fz13 {
    font-size: 0.81em;
}

.fz14 {
    font-size: 0.875em;
}

.fz15 {
    font-size: 0.938em;
}

.fz18 {
    font-size: 1.125em;
}

.fz18px{
    font-size: 18px;
}

.fz20 {
    font-size: 1.250em;
}

.fz26 {
    font-size: 1.625em;
}

.fz30 {
    font-size: 1.875em;
}

.fz36 {
    font-size: 2.250em;
}

.fz40 {
    font-size: 2.500em;
}

.fz60 {
    font-size: 3.750em;
}

.fz100 {
    font-size: 6.25em;
}

.font-light {
    font-weight: 300;
}

.font-medium {
    font-weight: 500;
}

.font-b {
    font-weight: bold;
}

.font-black {
    font-weight: 900;
}

/* *** */

/* Icons not in sprite */

#icon-logo {
    display: inline-block;
    margin-right: 15px;


    &.icon-logo {
        background-image: url(../images/icons/logo.png);
        width: 2.563em;
        height: 2.938em;
        display: inline-block;
        position: relative;
        overflow: hidden;

        &:after {

            animation: shine 5s ease-in-out infinite;
            animation-fill-mode: forwards;
            content: "";
            position: absolute;
            top: -110%;
            left: -210%;
            width: 200%;
            height: 200%;
            opacity: 0;
            transform: rotate(30deg);

            background: rgba(255, 255, 255, 0.13);
            background: linear-gradient(to right,
                rgba(255, 255, 255, 0.13) 0%,
                rgba(255, 255, 255, 0.13) 77%,
                rgba(255, 255, 255, 0.5) 92%,
                rgba(255, 255, 255, 0.0) 100%);
        }

        &:active:after {
            opacity: 0;
        }
    }
}

/* Эффект сияния */

@keyframes shine {
    10% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }

    100% {
        opacity: 0;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
    }
}

/* *** */
