// Генерируем размер для заголовков <h1>, <h2>, <h3>, <h4>, <h5>, <h6>, сохраняя соотношение между ними
$h1-h6: $h1, $h2, $h3, $h4, $h5, $h6;

@mixin h1-h6_size($ratio-font-size: 1, $ratio-line-height: 1) {
    
	@for $i from 1 through length($h1-h6) {

		h#{$i}, .h#{$i} {
            margin: 0;

			@each $prop, $value in nth($h1-h6, $i) {

				@if $prop == font-size {
					#{$prop}: $value * $ratio-font-size;
				}

				@if $prop == line-height {
					#{$prop}: $value * $ratio-line-height;
				}

			}

		}

	}
  
}

// Генерируем отступы для заголовков <h1>, <h2>, <h3>, <h4>, <h5>, <h6>, сохраняя соотношение между ними
@mixin h1-h6_margin($ratio-margin: 1) {
    
	@for $i from 1 through length($h1-h6) {

		h#{$i}, .h#{$i} {

			@each $prop, $value in nth($h1-h6, $i) {

				@if $prop == margin {

					$length: length($value);

					@if $length == 1 {
						#{$prop}: nth($value, 1) * $ratio-margin;
					}

					@if $length == 2 {
						#{$prop}: nth($value, 1) * $ratio-margin 
								  nth($value, 2) * $ratio-margin;
					}

					@if $length == 3 {
						#{$prop}: nth($value, 1) * $ratio-margin 
								  nth($value, 2) * $ratio-margin 
								  nth($value, 3) * $ratio-margin;
					}

					@if $length == 4 {
						#{$prop}: nth($value, 1) * $ratio-margin 
								  nth($value, 2) * $ratio-margin 
								  nth($value, 3) * $ratio-margin 
								  nth($value, 4) * $ratio-margin;
					}

				}

			}

		}

	}
    
}


// Отступы для типографических тегов <p>, <ul>, <ol>, <blockquote>
@mixin p($ratio: 1) {
    
    p, 
    ul, 
    ol,
    blockquote {

		$i: length($p-ul-ol-margin_typography);
		
		@if $i == 1 {
			margin: nth($p-ul-ol-margin_typography, 1) * $ratio;
		}
		
		@if $i == 2 {
			margin: nth($p-ul-ol-margin_typography, 1) * $ratio 
					nth($p-ul-ol-margin_typography, 2) * $ratio;
		}
		
		@if $i == 3 {
			margin: nth($p-ul-ol-margin_typography, 1) * $ratio 
					nth($p-ul-ol-margin_typography, 2) * $ratio 
					nth($p-ul-ol-margin_typography, 3) * $ratio;
		}
		
		@if $i == 4 {
			margin: nth($p-ul-ol-margin_typography, 1) * $ratio 
					nth($p-ul-ol-margin_typography, 2) * $ratio 
					nth($p-ul-ol-margin_typography, 3) * $ratio 
					nth($p-ul-ol-margin_typography, 4) * $ratio;
		}
		
    }
    
}