::selection {
    color: $c-white;
    background: $color-text;
}


html {
    position: relative;
    color: $color-text;
    line-height: 1.375;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

body {

    input:-internal-autofill-previewed,
    input:-internal-autofill-selected,
    textarea:-internal-autofill-previewed,
    textarea:-internal-autofill-selected,
    select:-internal-autofill-previewed,
    select:-internal-autofill-selected {
        background-color: #fff !important;
    }
}


.c-white a {
    color: #fff;
}

a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    transition: $transition;

    &:hover,
    &:focus {
        color: $c-blue;
        text-decoration: none;
    }

    &.c-blue {
        color: $c-blue;
    }

    &.decor-blue {
        text-decoration: underline;
        text-decoration-color: $c-blue;
    }
}

small {
    a:hover {
        text-decoration: underline;
    }
}

svg {
    transition: $transition;
}

strong,
b {
    font-weight: 700;
}

/* Headings */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

    &.decorated {
        border-bottom: 2px solid $c-blue;
    }

    > a {
        color: #000;
        border-bottom: 1px solid transparent;

        &:hover {
            border-color: $c-blue;
            color: $c-blue;
        }
    }
}

h1,
.h1 {
    font-size: 2.500em;
    /* 40px */
}

h2,
.h2 {
    font-size: 2.250em;
    /* 36px */
}

h3,
.h3 {
    font-size: 1.875em;
    /* 30px */
}

h4 {
    font-size: 1.625em;
    /* 26px */
}

h5 {
    font-size: 1.250em;
    /* 20px */
}

/* *** */

article {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.8em;

    p {
        margin-bottom: 0.938em;
    }
}

ul {

    li {
        position: relative;
    }

    &.list-inline {
        padding-left: 0;

        li {
            display: inline-block;
        }
    }

    &.list-unstyled {
        padding-left: 0;
        list-style: none;
    }
}

%ul {
    counter-reset: my-counter;
    position: relative;
    list-style: none;

    & > li {
        padding-left: 2em;

        & + li {
            margin-top: .25em;
        }

    }
}

%ul-li {

    & > li {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            left: .75em;
            top: .5em;
            background: $color-marker;
            border-radius: 50%;
        }

    }

}


%ol-li {

    & > li {
        position: relative;
        counter-increment: my-counter;

        &:before {
            content: counter(my-counter) '.';
            position: absolute;
            min-width: 1em;
            text-align: center;
            left: .5em;
            color: $color-marker;
        }

    }

}


.typography {

    //    @include p;
    //
    //    @include h1-h6_margin;

    ul,
    ol {
        @extend %ul;
    }

    ul {
        @extend %ul-li;
    }

    ol {
        @extend %ol-li;
    }

    blockquote:not([class]) {
        color: lighten($color-text, 20%);
        font-size: .8em;
        padding-top: .8rem;
        background: linear-gradient(90deg, $color-marker 100%, transparent 0) 0 0 no-repeat;
        background-size: 5em 0.3em;

        cite {
            font-style: italic;
        }

    }

    hr {
        margin: $hr-margin_typography
    }

}


.ul,
.ol {
    @extend %ul;
}


.ul {
    @extend %ul-li;
}


.ol {
    @extend %ol-li;
}


hr {
    clear: both;
    height: 1px;
    margin: 0;
    color: $color-marker;
    background: currentColor;
    border: 0;
}


fieldset {
    border: 0;
    padding: 0;
}


legend {
    padding: 0;
}


main {

    & > *:first-child {
        margin-top: 0 !important;
    }

    & > *:last-child {
        margin-bottom: 0 !important;
    }

}


.clear {
    clear: both;
}


.clearfix {
    @extend %clearfix;
}


.text {

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }

    &-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-nowrap {
        white-space: nowrap;
    }

    &-uppercase {
        text-transform: uppercase;
    }

}

.block {

    &-left {
        float: left;
    }

    &-right {
        float: right;
    }

}


.overflow {

    &-hidden {
        overflow: hidden;
    }

    &-visible {
        overflow: visible !important;
    }

}


.inline {
    display: inline;

    &-block {

        &-top {
            vertical-align: top;
        }

        &-middle {
            vertical-align: middle;
        }

        &-bottom {
            vertical-align: bottom;
        }

    }

}


[class*="inline-block"] {
    display: inline-block;
}


.link {

    &-dotted {
        border-bottom: 1px dashed;

        &-hover {
            border-bottom: none;

            &:hover {
                border-bottom: 1px dashed;
            }
        }
    }
}

.hover {
    &-unstyled:hover {
        border: none;
        text-decoration: none;
        background: none;
        color: inherit;
    }
}
