$color-text: #000;                        // Цвет основного текста
$color-marker: lighten($color-text, 60%); // Цвет маркеров списков <ul>, <ol> и <blockquote>, <cite>

// Цвет
$c-white: #fff;
$c-blue: #0072f0;
$c-l-blue: #e3effa;
$c-blue-rgba: rgba(0,114,240,0.5);
$c-gray: #f0f0f0;
$c-red: #e54b4b;

$p-ul-ol-margin_typography: 1em 0; // Отступы у тегов <p>, <ul>, <ol>
$hr-margin_typography: 2em 0;      // Отступ у тега <hr>

// Анимации
$transition: all .35s;