/* SCSS Styles by Sergei.Zgursky (Sergei.Zgursky@yandex.ru) */

@import "import/variables",
"import/extends",
"import/functions",
"import/reset",
"import/typography",
"import/grid",
"import/helpers";

@include grid-generator-desktop();


.main-container {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.main-container_inner {
    flex: 1 0 auto;
}

.content-wrap {
    padding: 0 calc(50% - 35.63rem);
    //35.63 = 570px
}

.under-header-block {
    background: url(../images/bg-under-header.jpg) no-repeat center;
    background-size: cover;
    min-height: 150px;

    header {
        position: relative;
    }

    &.large {
        background: none;
        min-height: auto;

        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: url(../images/bg-under-header-large.jpg) no-repeat center;
            max-height: 600px;
            background-size: cover;
            z-index: 1;
        }

        .content-wrap {
            z-index: 2;
            position: relative;
        }
    }

    &.about {
        background: url(../images/bg-under-header-about.jpg) no-repeat center;
        position: relative;
        background-size: cover;
        overflow-x: hidden;

        img.bg-extra {
            position: absolute;
            right: calc(50% - 45.94rem);
            bottom: 11rem;
        }

        .content-wrap {
            position: relative;
        }

        .sort-amount {
            right: calc(50% - 35.63rem);
            bottom: 0;
            padding-bottom: 5.313em;

            .fz100 {
                line-height: 0.850em;
            }
        }

        h3 {
            margin-top: 10px;
        }


        p {
            padding-bottom: 1.56em;
            line-height: 1.75em;

            &.with-padding {
                padding-bottom: 5.313em;
            }
        }
    }

    + .our-services {
        padding: 1.88rem 0 3.63rem;
    }
}

a {
    outline: none;
}

a.link-back {
    svg {
        margin-right: 15px;
    }
}

table {
    background-color: #fff;
    width: 100%;
    border-top: 2px solid $c-blue;
    margin-bottom: 30px;

    thead {
        color: #a4a4a4;
        font-size: 0.81em;
        font-weight: normal;

        tr th:first-child {
            padding-left: 30px;
        }
    }

    th {
        padding: 0.615em 0;
        font-weight: normal;
        text-align: left;
    }

    tr {
        border-top: 1px solid $c-gray;
    }

    tbody {
        font-size: 0.88em;

        tr {
            td:first-child {
                padding-left: 20px;
            }

            td:last-child {
                width: 30px;
                padding-right: 25px;
            }
        }

        td {
            padding: 0.643em 0;

            &.bg-gray {
                background-color: transparent;
                padding: 5px 20px 5px 0;
                width: 100px;

                input {
                    display: block;
                    border: none;
                    text-align: center;
                    padding: 11px 0;
                    background-color: $c-gray;
                    max-width: 100px;
                }
            }
        }
    }

    td.d-i-block_tablet {
        width: 55px;
    }

    /* Сопутствующий товар */
    tr.concomitant {
        border: none;

        td {
            padding: 0.5em 0 0.667em;
        }

        .cart-block,
        .remove-item {
            z-index: 3;
            position: relative;
        }

        .concomitant-wrap {
            background-color: $c-l-blue;
            padding: 21px 0px 21px 30px;
            display: block;
            position: relative;
            z-index: 1;

            > span {
                position: relative;
                z-index: 2;
            }

            &:after {
                content: '';
                height: 100%;
                width: 100%;
                position: absolute;
                right: -5%;
                top: 0;
                background-color: inherit;
            }
        }
    }

    /* *** */

    .remove-item {
        display: inline-block;
        cursor: pointer;
        transition: $transition;
        height: 41px;
        width: 27px;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
            svg {
                fill: $c-blue;
            }
        }

        svg {
            fill: #B8BFC9;
        }
    }

    .cart-block {
        border: 2px solid transparent;
        display: inline-block;
        cursor: pointer;
        transition: $transition;
        width: 39px;
        height: 41px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        .to-cart {
            display: block;
            position: relative;
            right: 2px;
            cursor: pointer;
        }

        .in-cart {
            display: none;
            cursor: pointer;
        }

        &.active {
            border-color: $c-blue;

            .to-cart {
                display: none;
            }

            .in-cart {
                display: block;
            }
        }

        svg {
            fill: $c-blue;
        }

        &:hover {
            border-color: $c-blue;
        }
    }

    .gear-block {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 41px;
        cursor: pointer;
        position: relative;

        &:hover {
            svg {
                fill: $c-blue;
            }
        }

        svg {
            fill: #B8BFC9;
        }

        .show-extra {
            display: inline-flex;
        }

        .remove-item {
            display: none;
        }
    }

    /* Всплывающий блок с дополнительными услугами */

    .gear-block.active {

        svg {
            fill: $c-blue;
        }

        .extra-block {
            visibility: visible;
            opacity: 1;
            top: 45px;
            height: auto;
        }
    }

    .extra-block {
        position: absolute;
        top: 100px;
        visibility: hidden;
        opacity: 0;
        right: -8px;
        width: 515px;
        background-color: #fff;
        border-top: 3px solid $c-blue;
        z-index: 5;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        transition: $transition;
        height: 0;

        &:before {
            content: '';
            position: absolute;
            top: -8px;
            right: 18px;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 6px solid $c-blue;
        }

        .extra-close {
            position: absolute;
            top: 0;
            right: 5px;
            padding: 0.63rem;
            cursor: pointer;
            display: inline-block;

            svg {
                fill: #b6bdc7;
            }

            &:hover svg {
                fill: $c-blue;
            }
        }

        ul {
            padding: 1.786em 0;

            li {
                transition: $transition;
                display: block;
                font-size: 0.929em;
                padding: 0.538em 0.769em 0.538em 2.308em;

                &:hover {
                    background-color: $c-gray;
                    color: $c-blue;
                    text-decoration: underline;
                }

                &.title {
                    font-weight: 500;
                    font-size: 1.286em;
                    cursor: default;
                    padding: 0 0.556em 0 1.667em;
                    margin-bottom: 0.278em;

                    &:hover {
                        background-color: transparent;
                        color: #000;
                        text-decoration: none;
                    }
                }
            }

            &:first-child {
                border-right: 1px solid $c-gray;
            }

        }
    }

    /* *** */

    .was-removed {
        display: none;
    }

    .sum {
        display: inline-block;
    }

    .cart-remove {
        display: inline-block;

        .remove {
            display: inline-block;
            cursor: pointer;
        }

        .undo-remove {
            display: none;
            cursor: pointer;
        }
    }
}

label {
    position: relative;
}

button {
    outline: none;
}

/* Header */

.only-on-print {
    display: none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 21;

    a {
        &:hover {
            text-decoration: underline;
            color: #fff;
        }

        &.c-blue {
            text-decoration: none;
            color: $c-blue;
        }
    }

    > .content-wrap {
        position: relative;
    }

    .d-flex.header-top {
        padding: 13px 0 14px;
    }

    .get-feedback {
        .fz12 {
            font-size: 0.75rem;
            font-weight: normal;
        }

        &:hover {
            .fz12 {
                border-bottom: 1px dashed #fff;
                color: #fff;
            }
        }
    }

    .user-tools {
        svg {
            fill: #fff;

            &:hover {
                fill: $c-blue;
            }
        }

        .cart-block {
            transition: $transition;

            &:hover {
                text-decoration: none;
                color: #0072f0;

                svg {
                    fill: #0072f0;
                }
            }
        }
    }

    .user-geoposition {
        position: relative;

        > span {
            cursor: pointer;
        }

        svg {
            fill: #fff;
        }

        &.active {

            .user-geoposition_drop-list {
                opacity: 1;
                visibility: visible;
                top: 1.88rem;
            }

            .link-dotted-hover {
                border-bottom: 1px dashed;
            }
        }

        .drop-list_wrap {
            position: relative;

            .title {
                padding-left: 1.25rem;
            }
        }

        .drop-list_close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.63rem;
            cursor: pointer;
            display: none;

            &:hover {
                svg {
                    fill: $c-blue;
                }
            }

            svg {
                fill: #b6bdc7;
            }
        }

        .user-geoposition_drop-list {
            visibility: hidden;
            opacity: 0;
            background-color: #fff;
            width: 400px;
            position: absolute;
            top: -1.88rem;
            right: 0;
            border-top: 2px solid $c-blue;
            padding: 1.25em 1.56em;
            transition: $transition;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

            .title {
                font-weight: bold;
                margin: 0.31em 0 0.94em;
                color: #000;
            }

            .col {
                a:last-child {
                    margin-bottom: 0;
                }
            }

            .img-wrap {
                min-width: 27px;
                margin: 0;

                img {
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            a {
                display: block;
                color: #000;
                font-size: 0.88em;
                margin-bottom: 0.5em;
                padding: 0;
                text-transform: none;
                border: none;
                font-weight: normal;

                span {
                    transition: $transition;
                    display: inline-block;
                    margin-left: .3em;
                }

                &:hover {
                    text-decoration: none;
                    background-color: transparent;
                    border: none;

                    span {
                        text-decoration: underline;
                        color: #0e5dc9;
                    }
                }
            }
        }
    }

    .user-get-feedback {
        display: none;

        svg {
            fill: #fff;

            &:hover {
                fill: $c-blue;
            }
        }
    }

    .search-block {
        margin-left: 35px;
        margin-right: 45px;
    }

    .logo-desc {
        font-size: 1.875em;
    }

    .get-affiliate {
        &:hover {
            text-decoration: none;
        }
    }

    .logo {

        .logo-mob {
            display: none;
        }

        .logo-icon_wrap {
            margin-right: 15px;
            display: inline-block;
            position: relative;
            overflow: hidden;
            width: 42px;
            height: 47px;

            &:before {
                content: '';
                position: absolute;
                pointer-events: none;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(to right, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 89%, rgba(255, 255, 255, 1) 90%);
                mask: url(../images/logo.png);
                opacity: 0;
                background-position: -42px 0;
                animation: shine 6s infinite ease-in-out;
            }

            @keyframes shine {

                0% {
                    opacity: 0;
                }

                20% {
                    opacity: 1;
                }

                40% {
                    opacity: 0;
                    background-position: 0 0;
                }
            }
        }
    }
}

/* *** */

/* Breadcrumbs */

.breadcrumbs {
    padding: 15px 0 5px;

    li {
        font-size: 0.69em;
        color: rgba(255, 255, 255, 0.5);


        &:last-child {

            a {
                border: none;
            }

            &:after {
                content: none;
            }
        }

        &:after {
            content: '/';
            display: inline-block;
            color: rgba(255, 255, 255, 0.5);
        }

        a {
            color: rgba(255, 255, 255, 0.5);
            font-size: 1em;
            transition: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);

            &:hover {
                border: none;
            }
        }
    }
}

/* *** */

h1.page-title {
    color: #fff;
    padding: 0 0 10px;
    margin: 0;
}

.page-description {
    color: #fff;
    max-width: 50%;
    font-size: 1.13em;
    padding-bottom: 1.56em;
}

/* Search input */

.search-block.active {
    .search-block_drop-input {
        visibility: visible;
        width: 380px;
        overflow: visible;
    }
}

//.search-block_mob-close {
//    display: none;
//    position: absolute;
//    right: -3.06rem;
//    top: 0;
//    background-color: rgba(0, 0, 0, .3);
//    width: 3.13rem;
//    height: 100%;
//    text-align: center;
//    line-height: 2.93rem;
//    border: 2px solid transparent;
//    transition: $transition;
//    box-sizing: border-box;
//
//    &:hover {
//        border-color: $c-blue;
//    }
//
//    svg {
//        fill: #fff;
//
//        &:hover {
//            fill: #fff;
//
//        }
//    }
//}

.search-block_drop-input {
    top: -0.94em;
    right: -0.94em;
    visibility: hidden;
    width: 0;
    transition: $transition;
    z-index: 10;
    overflow: hidden;

    input[type=text] {
        max-width: 100%;
    }

    .search-start {
        position: absolute;
        right: 15px;
        top: -1px;
        cursor: pointer;
        transition: $transition;

        svg {
            fill: $c-blue;
        }
    }


    .search-block_list {
        position: absolute;
        top: 38px;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-top: 2px solid $c-blue;
        box-sizing: border-box;
        font-weight: 300;
        display: block;

        a {
            color: #000;
            border-bottom: 1px solid #eaeaea;
            display: flex;
            padding: 10px;

            &:hover {
                text-decoration: none;
                background-color: $c-gray;
            }
        }

        span {
            display: block;
        }

        .search-item {

            .search-item_img-wrap {
                margin-right: 10px;
                min-width: 51px;
            }

            .name {
                flex-grow: 1;
                margin-right: 10px;
                max-width: 165px;
                font-weight: 500;
            }

            .search-item_price {
                font-size: 14px;

                > span span,
                > span del {
                    font-weight: 500;
                    color: $c-blue;
                    display: inline;
                }
            }
        }
    }
}

/* *** */

/* Menu and Navigation */


nav {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;

    a {
        display: inline-block;
        color: #fff;
        display: inline-block;
        padding: 1em 0;
        font-size: 0.875em;
        text-transform: uppercase;
        font-weight: bold;
        flex-grow: 1;
        border-bottom: 2px solid transparent;

        &.active {
            border-color: $c-blue;
            color: $c-blue;

            &:visited,
            &:focus {
                border-color: $c-blue;
                color: $c-blue;
            }

        }

        &:visited,
        &:focus {
            color: #fff;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
            text-decoration: none;
            border-color: $c-blue;
        }
    }
}

.mob-menu {
    display: none;

    .burger {
        display: inline-block;
        width: 2.88rem;
        height: 2.84rem;
        line-height: 2.69rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
        border: 2px solid transparent;
        transition: $transition;

        &:hover {
            border-color: $c-blue;
        }
    }

    nav.menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #101d2b;
        max-width: 270px;
        width: calc(100% - 3.44rem);
        z-index: 20;

        &.visible {
            display: block;

            + .mob-menu_right-side {
                display: block;
            }
        }

        .menu-wrap {
            display: block;
            height: calc(100% - 7.56rem);

            > a:first-child {
                display: none;
            }

            a {
                display: block;
                font-size: 0.94em;
                text-align: left;
                padding-left: 1.88em;

                &.active {
                    background-color: transparent;

                    &:hover {
                        border-color: $c-blue;
                    }
                }
            }
        }

        .get-feedback_block,
        .user-geoposition {
            text-align: left;
            padding-left: 1.88em;
        }

        .get-feedback_block {
            margin-bottom: 1.56rem;
            width: 100%;
            padding-bottom: 0;

            a {
                padding: 0;
                border: none;
                text-transform: none;

                &.get-feedback {

                    &:hover span {
                        color: $c-blue;
                        border-bottom: 1px dashed $c-blue;
                    }
                }

                &:hover {
                    background-color: transparent;
                }
            }

            br {
                display: none;
            }
        }

        .user-geoposition {
            color: #fff;
            margin-bottom: 1.88rem;
        }
    }

    .mob-menu_right-side {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 15;
        width: 100%;
        height: 100%;
        display: none;

        svg {
            position: absolute;
            top: 1.25rem;
            right: 1.25rem;
            fill: #fff;
        }
    }
}

.get-feedback_block {
    a.fz20:hover {
        text-decoration: none;
    }
}

/* *** */

/* Inputs */

.wrap_input .input-text {
    border-color: $c-gray;
    text-indent: 10px;
    height: 56px;
    box-sizing: border-box;
    max-width: 447px;

    &:focus {
        border-color: #0072f0;
    }
}


/* BTRX */

div.bx-sls,
span.bx-sls,
label.bx-sls {
    width: 100%;

    .bx-ui-sls-clear {
        cursor: pointer;
        z-index: 10;
    }

    .dropdown-block {
        box-sizing: border-box;
        border: none;
        box-shadow: none;
    }

    .dropdown-icon {
        top: calc(50% - 7px);
    }

    .bx-ui-sls-clear {
        top: calc(50% - 15px);
    }

    .bx-ui-sls-container {
        min-height: 55px;
        overflow: visible;
    }

    span.error {
        right: -22px;
    }

    .bx-ui-sls-pane {
        top: unset;
        bottom: 0;
    }

    .bx-ui-sls-fake,
    .bx-ui-sls-route {
        text-indent: 0;
        height: 55px;
    }

    .bx-ui-sls-fake,
    .bx-ui-sls-route {
        font-family: 'Roboto', sans-serif;
    }
}

/* *** */

input {

    &[type=text],
    &[type=email],
    &[type=tel] {
        max-width: 263px;
        width: 100%;
        height: 3.19em;
        font-size: 1em;
        font-weight: normal;
        text-indent: 1.19em;
        border: none;
        color: #000;

        border-bottom: 2px solid transparent;
    }

    &.valid {
        border-color: $c-blue;
    }

    &.error {
        border-color: $c-red;
    }

    &:focus,
    &:active {
        outline: none;
    }
}


textarea {
    border: none;
    padding-top: 15px;
    text-indent: 1.19em;
    font-size: 1em;
    border-bottom: 2px solid transparent;

    &:active,
    &:focus {
        outline: none;
    }

    &.valid {
        border-color: $c-blue;
    }

    &.error {
        border-color: $c-red;
    }
}

/* *** */

/* Buttons */

.btn,
button.btn {
    font-size: 1em;
    padding: 1em 0;
    max-width: 260px;
    width: 100%;
    border: 2px solid transparent;
    background-color: $c-blue;
    color: #fff;
    transition: $transition;
    display: inline-block;
    text-align: center;

    &:hover {
        background-color: transparent;
        border-color: #fff;
        color: #fff;
    }

    &.m-auto,
    &.m-auto-phablet {
        display: block;
    }

    &.border-blue {
        background-color: transparent;
        border-color: $c-blue;

        &:hover {
            background-color: $c-blue;
        }
    }

    &.c-blue {
        color: $c-blue;
        border-color: $c-blue;
        background-color: transparent;

        &:hover {
            color: #fff;
            background-color: $c-blue;
        }
    }

    &.w-100 {
        max-width: 100%;
    }
}

/* *** */

/* .Carousel - Begin */

.Carousel-wrap {
    position: relative;
}

.Carousel-icon_mouse {
    position: absolute;
    left: 0;
    bottom: 1.88rem;
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 20;
}

.Carousel-nav {

    &.main {
        position: absolute;
        top: 25%;
        bottom: 20%;
        right: calc(50% - 35.63rem);
        color: #fff;
        z-index: 20;

        .Carousel-dot {
            padding: 0 0.81rem;
            border-right: 1px solid #fff;
            font-size: 0.75em;
            cursor: pointer;
            opacity: 0.8;

            &.is-selected {
                border-right: 3px solid #fff;
                margin-right: -1px;
                opacity: 1;
            }
        }
    }

    &.product {
        margin-top: 10px;
        padding: 0 10px;

        img {
            max-width: 100px;
        }

        .flickity-button-icon {
            filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
        }

        .Carousel-dot {
            display: inline-block;
            margin-right: 10px;
            position: relative;
            cursor: pointer;

            img {
                margin-bottom: 2px solid transparent;
            }

            &.is-nav-selected {

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 64, 152, 0.69) 100%);
                }

                img {
                    border-bottom: 2px solid $c-blue;
                }
            }
        }

        .flickity-button {
            transition: $transition;
            cursor: pointer;

            &.flickity-prev-next-button,
            &.flickity-prev-prev-button {
                height: 3.63rem;
                top: 48%;
            }

            &:disabled {
                display: none;
            }

            svg {
                fill: #fff;
            }
        }
    }
}

.Carousel {
    overflow: hidden;
    position: relative;
    z-index: 20;

    /* Кнопка открывает и скрывает галерею */

    &.is-hover {
        .flickity-fullscreen-button-view {
            visibility: visible;
            opacity: 0.8;
        }
    }

    .flickity-fullscreen-button {
        border-radius: 0;
    }

    .flickity-button-icon {
        position: static;
    }

    .flickity-fullscreen-button-view,
    .flickity-fullscreen-button-exit {
        position: absolute;
        border: none;
        z-index: 10;

        svg {
            fill: #fff;
        }
    }

    .flickity-fullscreen-button-view {
        left: calc(50% - 1.88rem);
        top: calc(50% - 1.88rem);
        padding: 1.24rem 1.25rem;
        background-color: $c-blue;
        width: auto;
        height: auto;
        opacity: 0;
        visibility: hidden;
        transition: $transition;

        &:hover {
            opacity: 1;
        }

        .flickity-button-icon {
            width: 21px;
            height: 21px;
        }
    }

    .flickity-fullscreen-button-exit {
        top: 15px;
        right: 15px;
        padding: 0;
        background: none;
        display: none;

        &:hover svg {
            fill: $c-blue;
        }
    }

    /* *** */

    &-cell {
        position: relative;
        width: 100%;
        overflow: hidden;

        &-img {
            width: 100%;
            max-width: none;

            &.flickity-lazyloaded,
            &.flickity-lazyerror {
                opacity: 1;
            }

            img {
                width: 100%;
            }
        }
    }

    &--fill {
        margin: 0 auto;
        min-height: 303px;


        .flickity-page-dots,
        .Carousel-nav {
            top: 0;
            left: calc(50% - 35.63rem);
            padding-right: calc(50% - 35.63rem);
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            color: #fff;

            .dot {
                height: 40px;
                width: 2px;
                background-color: #fff;
                opacity: .8;
                margin: 0 0 1.38rem;
                padding: 0;
                transition: $transition;
                position: relative;
                border-radius: 0;
                border: none;

                &:before {
                    display: none;
                }

                &.is-selected {
                    opacity: 1;
                    background-color: #fff;
                    border: none;
                }
            }
        }

        &:not(.flickity-enabled) {
            padding-bottom: 43.3333%;

            @media screen and (max-width: 1000px) {
                padding-bottom: 32%;
            }

            @media screen and (max-width: 640px) {
                padding-bottom: 75%;
            }
        }

        a:not([class]) {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;

            &:hover + .wrapper .link {
                background-color: #ffca00;
                color: white;
            }
        }

        .Carousel-cell {
            &-img {
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100vh;

                &-wrapper {
                    position: relative;
                    height: auto;
                    //                    padding-top: 10.63rem;
                }
            }
        }

        .flickity-prev-next-button {
            top: calc(50% + 5.31rem);

            @media screen and (max-width: 1000px) {
                top: 50%;
            }

            @media screen and (max-width: 62.44rem) {
                display: none;
            }

            &.next {
                right: calc(50% - 35.63rem);

                @media screen and (max-width: 87.5rem) {
                    right: 1.25rem;
                }
            }

            &.previous {
                left: calc(50% - 35.63rem);
                margin-left: 12rem;

                @media screen and (max-width: 87.5rem) {
                    left: 1.25rem;
                    margin: 0;
                }
            }
        }

        .flickity-prev-next-button {
            @media screen and (max-width: 62.44rem) {
                display: none;
            }
        }
    }

    .wrapper {
        position: absolute;
        top: 0;
        left: calc(50% - 35.63rem);
        height: 100%;
        display: flex;
        align-items: center;
        color: #fff;

        .desc {
            width: 100%;

            span:first-child + .separate:after {
                display: block;
                content: '';
            }
        }

        .separate {
            font-weight: 300;
        }

        .litt {
            font-weight: 700;
            font-size: 1.5rem;
            margin: -1rem 0 2rem;
            max-width: 20rem;

            @media screen and (max-width: 76.88rem) {
                margin-bottom: 0;
            }
        }
    }

    &--news {
        .flickity-page-dots {
            bottom: 20px;

            .dot {
                height: 0.44rem !important;
                width: 0.44rem;
                border-radius: 50%;
                line-height: 1.31rem !important;
                padding: 0;
                display: inline-block;
                background-color: #fff;
                border: none;
                opacity: 1;
                margin-right: 1.25rem;

                &:last-child {
                    margin-right: 0;
                }

                &.is-selected {
                    margin-right: 1.25rem;
                    border: none;
                    background-color: $c-blue;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &--product {
        .Carousel-cell img {
            //        + .Carousel-nav .flickity-viewport,
            //        + .Carousel-nav .flickity-slider {
            max-width: 660px;
            margin-left: auto;
            margin-right: auto;
        }


        &.flickity-enabled.is-fullscreen {
            z-index: 25;

            .flickity-viewport {
                z-index: 10;
                position: relative;
                background-color: #fff;
                margin-left: auto;
                margin-right: auto;
                max-width: 900px;
                width: 100%;
                padding: 50px 75px;
            }

            .Carousel-cell-img {
                height: 100vh;
                display: flex;
                align-items: center;
            }

            /* Кнопка скрывает галерею */

            .flickity-fullscreen-button-exit {
                display: inline-block;
            }

            /* *** */
        }

        .flickity-page-dots {
            display: none;
        }
    }

    .fullscreen-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.Item-link,
.Actions-image,
.Actions-link {
    @extend %fill;
}

.flickity-prev-next-button {
    width: 3.19rem;
    height: 3.19rem;
    border: none;
    background: none;
    padding: 0;
    position: absolute;
    top: 50%;
    margin-top: -1.595rem;
    background: none;

    &.next {
        right: -1.06rem;

        @media screen and (max-width: 87.5rem) {
            right: 0;
        }
    }

    &.previous {
        left: -1.06rem;
        margin-left: 0;

        @media screen and (max-width: 87.5rem) {
            left: 0;
            margin-left: 0;
        }
    }

    &:disabled,
    [disabled] {
        background: none;

        &:hover {
            svg {
                fill: rgba(255, 255, 255, 0.5);
                ;
            }
        }
    }

    svg {
        width: 100%;
        height: 100%;
        fill: rgba(255, 255, 255, 0.5);
        transition: .4s;

        path {
            width: 100%;
            height: 100%;
        }
    }

    &:hover {
        svg {
            fill: #fff;
        }
    }
}

.Carousel-cell-img {
    position: relative;

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

/* .Carousel - end */

/* Главная */

section.main-page {
    padding: 7.81rem 0;

    .h1 {
        margin-bottom: 25px;

        &.decorated {
            padding-bottom: 25px;
            margin-bottom: 40px;
        }
    }

    &.catalog {
        background: url(../images/icons/bg-logo.png) #f0f0f0 no-repeat center -150px;
        padding: 7.81rem 0;

        h4,
        h5 {
            margin: 0;
            padding-bottom: 20px;
            position: relative;
            z-index: 10;
            max-width: 65%;

            br {
                display: none;
            }
        }

        .d-flex {
            margin-bottom: 30px;
            flex-grow: 1;

            &:last-child {
                margin-bottom: 0;
            }

            > div:first-child {
                margin-right: 30px;
            }
        }

        .large-block,
        .small-block {
            background-color: #fff;
            padding: 40px;
            width: 100%;
            position: relative;
            transition: $transition;

            img {
                position: absolute;
                top: 0;
                right: 0;
            }

            &.is-open {
                li.col > ul {
                    display: block;
                }
            }

            > ul {
                font-size: 0.938em;
                font-weight: bold;
                margin-left: 0;
                margin-bottom: 0;

                > li {
                    line-height: 1.4em;
                    margin: 0 10px 0 0;
                    word-break: break-word;
                    position: static;
                    letter-spacing: -1px;
                    padding: 0;

                    a {
                        color: $c-blue;
                        z-index: 2;
                        position: relative;
                        font-weight: 500;
                        display: inline-block;

                        &:hover > span {
                            border-color: $c-blue;
                        }

                        > span {
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
            }

            svg {
                fill: #f0f0f0;
                transition: $transition;
            }

            &:hover {
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

                svg {
                    fill: $c-blue;
                }
            }

            .icon-hexagon_big,
            .icon-hexagon_small {
                transition: $transition;
            }
        }

        .large-block {
            max-width: 750px;

            > ul {
                max-width: 465px;

                > li {
                    width: 30%;
                }
            }

            .hexagon-block.small {
                display: none;
            }
        }

        .small-block {
            max-width: 360px;

            > ul {
                max-width: 225px;

                > li {
                    width: 45%;
                }
            }
        }

        .hexagon-block {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            svg {
                top: -75px;
                right: -55px;
                position: absolute;
            }


            &.small {

                svg {
                    top: -45px;
                    right: -58px;
                }
            }
        }
    }

    &.advantages {
        background: url(../images/main/bg-advantages.jpg) no-repeat center;
        background-size: cover;
        z-index: 20;
        position: relative;

        .advantages-block {

            .advantages-block_image {
                min-height: 155px;

                > p {
                    line-height: 4.88rem;
                    vertical-align: bottom;
                }
            }

            img {
                vertical-align: top;
            }
        }
    }

    &.feedback {
        padding: 6.69rem 0;
        background: url(../images/icons/bg-logo_blue.png) no-repeat center, radial-gradient(ellipse at center, rgba(0, 86, 205, 1) 0%, rgba(0, 63, 152, 1) 100%);
        z-index: 20;
        position: relative;

        input {
            max-width: 100%;
        }

        label {
            max-width: 263px;
            width: 100%;
        }
    }

    &.about {
        padding: 6.88rem 0;
        background: url(../images/main/bg-about.jpg) no-repeat center;
        background-size: cover;
        z-index: 20;
        position: relative;
        overflow-x: hidden;

        .content-wrap {
            z-index: 2;
            position: relative;
        }

        .about-desc {

            p {
                margin-bottom: 2.19em;
            }
        }

        img.bg-extra {
            position: absolute;
            right: calc(50% - 35.63rem);
            bottom: 5rem;
            z-index: 1;
        }
    }

    &.info {
        background: url(../images/icons/bg-logo_gray.png) no-repeat center -198px;

        /* Carousel rules on PC */

        @media (min-width: 1001px) {


            .flickity-page-dots {
                display: none;
            }

            .flickity-viewport {
                cursor: default !important;
                height: auto !important;
            }

            .flickity-slider {
                display: flex;
                justify-content: space-between;
                transform: translateX(0%) !important;
                position: static;

                .Carousel-cell-img {
                    height: 100%;
                }

                .Carousel-cell {
                    position: static !important;
                    max-width: 360px;
                    margin-right: 1.25rem;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        /* *** */

        .btn {
            right: calc(50% - 35.63rem);
            max-width: 200px;

            &.mobile {
                display: none;
                max-width: 280px;
                width: 100%;
                right: 0;
                margin: 20px auto 0;
            }
        }
    }
}

.drop-container {
    position: relative;

    &:hover {
        .drop-container_box {
            opacity: 1;
            visibility: visible;
            left: calc(100% - 14px);
        }
    }

    .drop-container_box {
        position: absolute;
        left: 120%;
        top: 115%;
        opacity: 0;
        visibility: hidden;
        min-width: 300px;
        min-width: max-content;
        border-top: 2px solid $c-blue;
        background-color: #fff;
        z-index: 10;
        padding: 10px 0;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        transition: $transition;

        &:before {
            content: '';
            position: absolute;
            left: 6px;
            top: -6px;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 0.38rem solid $c-blue;
        }

        a {
            display: block;
            color: #000;
            font-size: 14px;
            font-weight: normal;
            padding: 4px 27px;

            &:hover {
                background-color: $c-gray;
                color: $c-blue;
                border-color: $c-gray;
                text-decoration: underline;
            }
        }
    }
}

/* *** */

/* О нас */

section.page-about {
    padding: 1.25rem 0 4.38rem;

    h2 {
        margin-bottom: 0.972em;
        padding-bottom: 0.417em;
    }

    &.market-leader {
        .col {
            img {
                margin-right: 30px;
            }

            > p {
                overflow: hidden;
                line-height: 1.75em;
                margin-bottom: 1.25em;
            }
        }
    }

    &.our-services {
        .service-block {
            position: relative;
            min-height: 251px;
            max-width: 263px;
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 1.88em 1.25em;
            box-sizing: border-box;

            a {
                z-index: 1;

                &:hover {
                    text-decoration: underline;
                    color: #fff;
                }
            }

            &:after {
                content: '';
                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                transition: all ease-in-out 1.5s;
            }

            &:hover {

                &:after {
                    opacity: 1;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 64, 152, 0.69) 100%);
                }
            }
        }
    }

    &.jobs {
        background: url(../images/icons/bg-logo_blue.png) no-repeat center 10px, radial-gradient(ellipse at center, rgba(0, 86, 205, 1) 0%, rgba(0, 63, 152, 1) 100%);

        .jobs-block {
            .jobs-block_info {
                color: #fff;
                margin: 15px 0;

                > span {
                    display: block;

                    &:last-child {
                        font-weight: bold;
                    }
                }
            }

            .jobs-block_link {
                display: inline-block;
                border: 2px solid #fff;
                box-sizing: border-box;

                &:hover {
                    background-color: $c-blue;
                    border-color: $c-blue;
                }

                svg {
                    fill: #fff;
                }
            }
        }
    }


    &.our-clients {
        h2 {
            margin-bottom: 0;
        }

        .our-clients_content {
            padding: 20px 20px 40px;

            img {
                margin: 0 auto;
                display: block;
            }
        }
    }

    &.stock {
        padding: 0;
        min-height: 500px;

        h2 {
            margin: 0;
            padding: 1.389em 0 0;
        }
    }
}

/* *** */

/* Страница Доставка */

section.delivery-page {
    padding: 2.81rem 0 5.63rem;

    h4 {
        font-size: 1.5em;
        margin: 0 0 1.042em;
        padding-bottom: 0.417em;
    }

    p {
        padding-left: 2.81em;
        position: relative;
        margin-bottom: 0.63em;
        font-weight: 300;
        font-size: 1em;
        line-height: 1.75em;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0.69em;
            width: 1.25em;
            height: 2px;
            background-color: $c-blue;
        }

        &.desc {
            margin-left: 1em;
            margin-bottom: 0;
            padding-left: 0;

            &:before {
                content: none;
            }
        }
    }

    .wrapper {
        max-width: 490px;
        width: 100%;

        .wrapper-item {
            margin-bottom: 44px;
        }
    }
}

/* *** */

/* Блок Новостей  */

.info-block_date {
    padding: 0.625em 1.13em;
    max-width: 81px;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;

    &.bg-blue {
        background-color: rgba(0, 114, 225, 0.75);
    }
}

.info-block_link {
    z-index: 10;

    span {
        border-bottom: 1px solid $c-blue;
    }

    &:hover span {
        border-bottom: 0;
    }
}

.info-wrap {
    &.info-block:last-child {
        margin-right: 0;
    }
}

.info-block {
    position: relative;
    margin-right: 1.25rem;
    padding: 2.5em 1.88em;
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 401px;
    transition: background .3s;
    overflow: hidden;
    box-sizing: border-box;

    &:after {
        content: '';
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transition: $transition;
    }

    &:hover {
        &:after {
            opacity: 1;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 64, 152, 0.69) 100%);
        }
    }


    a:hover {
        color: #fff;
    }
}

/* *** */

.section {
    padding: 1.88em 0 3.13em;

    &.page-catalog {
        .left-side {
            max-width: 265px;
            width: 100%;
            display: inline-block;
            margin-right: 30px;
        }

        .right-side {
            display: inline-block;
            max-width: 848px;
            width: 100%;
        }

        &.description {
            h3 {
                margin: 0.667em 0 0.5em;
            }
        }
    }

    &.page-catalog-category {
        padding-top: 0;

        .content-wrap {
            position: relative;
            z-index: 2;
        }

        .hexagon-block {
            position: absolute;
            left: 0;
            top: 0;

            svg {
                fill: $c-gray;
            }
        }

        h2 {
            margin-bottom: 0.556em;
            margin-top: 0;
        }

        .category-container {
            background-color: #fff;
            margin-bottom: 30px;
            position: relative;
            transition: $transition;

            &:after {
                content: '';
                position: absolute;
                width: 33.333333%;
                height: 100%;
                top: 0;
                right: 0;
                z-index: 2;
                background-color: $c-l-blue;
            }

            &:hover {
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            }

            img {
                margin-top: -30px;
            }

            > .grid-3 {
                padding: 30px 0 20px;
            }
        }

        .category-item {
            padding: 0 20px;
        }

        .category-item_list {
            li {
                margin-bottom: 0.556em;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                position: relative;

                &.active {
                    color: $c-blue;
                }

                &:after {
                    content: '';
                    width: 0;
                    height: 2px;
                    background-color: $c-blue;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 5;
                    transition: $transition;
                }

                span {
                    border-bottom: 1px solid $c-blue;
                }

                &:hover,
                &.active {
                    span {
                        border: none;
                    }

                    &:after {
                        width: calc(100% + 35px);
                    }
                }
            }
        }

        .category-subitem {
            position: relative;
            z-index: 5;
            padding: 0 20px 0 30px;

            li {
                margin-bottom: 0.625em;
            }

            a {
                color: $c-blue;

                &:hover {
                    color: #000;
                }
            }
        }
    }

    &.page-product-catalog {

        /* Секция с информацией */
        &.catalog-info {
            padding: 2.81rem 0;

            .catalog-info_desc {
                line-height: 1.75em;
                margin-bottom: 1.88em;
            }

            .catalog-info_list {
                margin-bottom: 2.143em;

                .col a:last-child {
                    margin-bottom: 0;
                }

                a {
                    display: block;
                    margin-bottom: 1.429em;
                    padding-left: 2.857em;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0.643em;
                        width: 1.5em;
                        height: 0.143em;
                        background-color: $c-blue;
                        line-height: inherit;
                    }

                    span {
                        border-bottom: 1px solid $c-blue;
                    }

                    &:hover span {
                        border: none;
                    }
                }
            }
        }

        /* *** */

        &.catalog-list {
            padding: 2.63rem 0 5rem;

            .btn {
                max-width: 300px;
            }

            .icon-wrap {
                position: relative;
                bottom: 3px;
            }

            .catalog-list_item {
                margin-bottom: 1.31em;

                &.open {
                    table {
                        display: table !important;
                    }

                    h3 {

                        .title {
                            color: $c-blue;
                        }

                        .icon-wrap {
                            transform: rotate(-180deg);
                            bottom: 0;
                        }

                        svg {
                            fill: #fff;
                            background-color: $c-blue;
                        }
                    }
                }

                table {
                    border: none;
                    transition: $transition;
                    display: none;
                }

                h3 {
                    cursor: pointer;
                    padding: 0 0 0.5em;
                    margin: 0;
                    transition: $transition;
                    border-bottom: 2px solid $c-blue;

                    &:hover {
                        color: $c-blue;

                        svg {
                            fill: #fff;
                            background-color: $c-blue;
                        }
                    }

                    span {

                        &.icon-wrap {
                            float: left;
                            display: inline-block;
                        }

                        &.title {
                            padding-left: 1.833em;
                            display: block;
                        }
                    }

                    svg {
                        fill: $c-blue;
                        border: 2px solid $c-blue;
                    }

                }
            }
        }
    }

    &.page-news-catalog {
        padding: 1.88rem 0 3.63rem;

        .info-block {
            margin: 0;
            max-width: 100%;
            background-size: cover !important;
        }
    }

    /* Карточка товара: фильтры */

    &.product-card.filter {
        padding-bottom: 1.88em;

        select {
            max-width: 175px;
            width: 100%;
            margin-right: 0.94rem;
            height: 2.5em;
            text-indent: 0.63em;
            border: none;

            &:last-child {
                margin-right: 0;
            }

            option:first-child {
                display: none;
            }
        }
    }

    /* Фильтр товара */

    &.product-card .smartfilter .bx-filter-parameters-box {
        display: inline-block;
        padding: 0;
        max-width: 10.94rem;
        /* 175px */
        width: 100%;
        margin-right: 0.94rem;
        position: relative;
    }

    &.product-card .smartfilter {

        .bx-filter-parameters-box:last-child {
            margin-right: 0;
        }

        .bx-filter-container-modef {
            position: absolute;
            display: inline-block;
            top: -17px;
            left: 0;
            font-size: 0.75rem;
            width: 100%;
        }

        .bx-filter-container-modef br {
            display: none;
        }

        .bx-filter-container-modef .bx-filter-popup-result {
            width: inherit;
        }

        .bx-filter-container-modef a {
            float: right;
        }

        .bx-filter-parameters-box .bx-filter-select-container {
            font-size: 1rem;
            height: 2.5em;
            text-indent: 0.63em;
            background-color: #fff;
            cursor: pointer;
        }

        .section.product-card .smartfilter .bx-filter-parameters-box .bx-filter-block {
            line-height: 2.5em;
            height: 100%;
        }
    }

    &.product-card {

        table .sum {
            min-width: 105px;
        }

        .bx-filter-button-box {
            float: right;
            min-width: 10rem;
            /* 160px */
        }

        .product-card_info article {
            margin-bottom: 25px;
        }

        //        .bx-filter-select-arrow {
        //            position: absolute;
        //            right: 10px;
        //            top: calc(50% - 3px);
        //            width: 0;
        //            height: 0;
        //            border-left: 3px solid transparent;
        //            border-right: 3px solid transparent;
        //            border-top: 6px solid #000;
        //            display: inline-block;
        //        }

        .bx-filter-button-box .btn {
            padding: 0.5em 0;
            cursor: pointer;
            font-weight: 500;
        }

        .popup-window.iarga {
            box-sizing: border-box;
            width: 10.94rem;
            /* 175px  */
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }

        .popup-window.iarga ul li {
            list-style: none;
            line-height: 25px;
            cursor: pointer;
        }
    }

    @media (max-width: 1000px) {
        .section.product-card .bx-filter-button-box {
            float: none;
            margin-top: 30px;
            text-align: center;
        }

        .section.product-card .bx-filter-button-box .btn {
            padding: 0.81em 0;
            /*13px*/
        }
    }

    @media (max-width: 639px) {
        .section.product-card .smartfilter {
            margin-bottom: -15px;
        }

        .section.product-card .smartfilter .bx-filter-parameters-box {
            margin-bottom: 15px;
            width: 47%;
            max-width: unset;
            margin-left: 2%;
            margin-right: 0;
        }

        .popup-window.iarga {
            width: calc(50% - 31px);
        }

        .section.product-card .bx-filter-button-box {
            margin-top: 15px;
        }
    }

    @media (max-width: 479px) {
        .section.product-card .smartfilter {
            margin: 0;
        }

        .section.product-card .smartfilter .bx-filter-parameters-box {
            width: 100%;
            margin: 0 0 25px;
        }

        .section.product-card .smartfilter .bx-filter-parameters-box:last-child {
            margin-bottom: 0;
        }

        .popup-window.iarga {
            width: calc(100% - 40px);
        }

        .section.product-card .smartfilter {
            margin: 0;
        }

        .section.product-card .smartfilter .bx-filter-parameters-box {
            width: 100%;
            margin: 0 0 25px;
        }

        .section.product-card .smartfilter .bx-filter-parameters-box:last-child {
            margin-bottom: 0;
        }

        .popup-window.iarga {
            width: calc(100% - 40px);
        }
    }
}

.load-more {
    margin-top: 1.875rem;

    a {
        display: inline-block;

        &:hover {
            .icon-wrap {
                background-color: $c-blue;

                svg {
                    fill: #fff;
                }
            }
        }
    }

    .icon-wrap {
        width: 40px;
        height: 40px;
        border: 2px solid $c-blue;
        box-sizing: border-box;
        transition: $transition;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        svg {
            fill: $c-blue;
            position: relative;
            right: 1px;
        }
    }
}

/* Корзина */

section.cart-page {
    h3 {
        margin: 0;
        padding-bottom: 15px;
    }

    .orders-list_head {
        svg {
            fill: $c-blue;
        }
    }

    .orders-list_info {
        margin-bottom: 30px;
    }

    .visible-tablet {
        display: none;
    }

    table {
        border-top: none;
        font-size: 1em;

        tr {
            border-bottom: none;
            border-top: 1px solid $c-gray;
        }

        thead {
            font-size: 0.81em;

            tr {
                border: none;

                th:first-child {
                    padding-left: 0;
                }
            }
        }

        .sum-block {
            width: 233px;
        }

        tbody {
            font-size: 1em;

            tr td:first-child {
                padding-left: 0;
            }

            tr {

                td:last-child {
                    padding-right: 1.56em;
                    text-align: right;
                }

                &.removed {
                    color: #b3b3b3;

                    .c-black {
                        color: #000;
                    }

                    .cart-remove {
                        .remove {
                            display: none;
                        }

                        .undo-remove {
                            display: inline-block;
                        }
                    }

                    .was-removed {
                        display: inline-block;
                    }

                    .sum {
                        display: none;
                    }
                }

                &.concomitant {
                    border: none;

                    td {
                        padding-top: 0;
                    }
                }

                &:last-child {
                    border-bottom: 1px solid $c-gray;
                }
            }

            td {
                padding: 0.69em 0 0.75em;
            }
        }

        svg {
            fill: #B6BDC7;

            &:hover {
                fill: $c-blue;
            }
        }

    }

    .btn.pos-absolute {
        font-weight: bold;
        border: none;
        max-width: 233px;
        top: 3px;
        right: 0;
        padding: 14px 0px;

        svg {
            margin-right: 6px;
        }

        &:hover {
            svg {
                fill: #fff;
            }
        }
    }

    &.orders-list {
        padding: 1.56rem 0;
    }

    /* Форма в Корзине */

    &.contacts {
        padding: 5rem 0;

        small {
            display: block;

            a {
                color: #0054c7;
            }
        }

        h3 {
            padding-bottom: 0.333em;
            margin-bottom: 1.333em;
        }

        button {
            margin-top: 20px;
            max-width: 360px;

            &:hover {
                border-color: $c-blue;
                color: $c-blue;
            }
        }

        .label-group {
            margin-bottom: 1.88em;
            max-width: 665px;
            width: 100%;

            label {
                display: flex;
                align-items: center;
                margin-bottom: 1.88em;

                input {
                    max-width: 500px;
                }

                input[type=tel] {
                    max-width: 230px;
                }

                textarea {
                    max-width: 500px;
                    width: 100%;
                    height: 12.5em;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .desc {
                min-width: 165px;
                font-weight: 300;
            }
        }
    }
}

/* *** */

/* Отдельная новость */

section.page-news {
    position: relative;
    padding: 1.88rem 0 4.94rem;
    font-weight: 300;
    font-size: 1em;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: $c-l-blue;
        z-index: -1;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h2 {
        margin-top: 1.250em;
    }

    h3 {
        margin-top: 1.5em;
    }

    h4 {
        margin-top: 1.923em;
    }

    h5 {
        margin: 0 0 1.5em;
    }

    h2,
    h3,
    h4 {
        margin-bottom: 20px;
    }

    p,
    li {
        margin-bottom: 1.25em;
        line-height: 1.75em;
    }

    li {
        list-style: none;
        position: relative;
        padding-left: 2.5em;
    }

    ul {

        li {

            &:before {
                content: '';
                position: absolute;
                top: 0.75em;
                left: 0;
                width: 1.25em;
                height: 2px;
                background-color: $c-blue;
            }
        }
    }

    ol {
        counter-reset: custom-counter;

        li {
            counter-increment: custom-counter;

            &:before {
                content: counter(custom-counter) ".";
                color: $c-blue;
                font-weight: bold;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    .img-wrap {
        position: relative;
        float: left;

        img {
            margin-right: 50px;
        }

        .info-block_date {
            top: 30px;
            left: 30px;
            position: absolute;
            max-width: 5.331em;
        }
    }

    div {

        &[style="float: right"] {
            margin-left: 50px;
        }

        &[style="float: left"] {
            margin-right: 50px;
        }

        img + p {
            color: #a4a4a4;
            font-size: 13px;
            margin-top: 20px;
            padding-bottom: 15px;
            border-bottom: 2px solid $c-blue;
        }
    }
}

/* *** */

/* Страницы Контакты */

.section.contacts-page {
    &.map {
        padding: 0;
        position: relative;
        z-index: 1;
    }

    .mapsBox {
        height: 450px;

        > ymaps > ymaps > ymaps {
            position: relative;
        }
    }

    /* Подсказки на карте */

    .tooltip {
        position: absolute;
        left: -150px !important;
        top: -186px !important;

        > ymaps {
            overflow: visible !important;
        }

        .tooltip-content {
            padding: 1.88em;
            background-color: #fff;
            width: 100%;
            box-sizing: border-box;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            position: relative;
            z-index: 5;
            border-bottom: 2px solid $c-blue;
        }

        .tooltip-desc {
            p {
                font-size: 13px;
                font-weight: 500;
                margin-bottom: 7px;

                &.phone {
                    font-weight: bold;
                    font-size: 18px;

                    a {
                        color: #000;

                        &:hover {
                            color: $c-blue;
                            text-decoration: none;
                        }
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            a {
                color: $c-blue;

                &:hover {
                    text-decoration: underline;
                }
            }

            small {
                font-size: 13px;
                color: #666;
            }
        }

        .tooltip-close {
            position: absolute;
            right: 0.63rem;
            top: 0.44rem;
            z-index: 6;
        }
    }

    /* *** */

    &.info {
        padding: 0 0 5.06rem;

        .phone {
            display: block;
            font-weight: bold;
        }

        .info-wrapper {
            padding: 35px 30px;
            margin-top: -41px;
            z-index: 2;
            position: relative;

            > div .info-wrap_block:last-child {
                margin-bottom: 0;
            }
        }

        h4 {
            font-size: 1.5em;
            margin-top: 0;
            margin-bottom: 0.417em;
        }

        small {
            color: #888888;
            font-size: 0.722em;
            display: block;
            margin-bottom: 0.167em;
        }

        span {
            font-size: 0.778em;
            font-weight: 500;
            display: block;
        }

        p {
            font-weight: bold;
        }

        a {
            font-weight: 500;
            font-size: 1em;
            color: $c-blue;

            &:hover {
                text-decoration: underline;
            }

            &.map-link {
                font-size: 0.81em;
                font-weight: normal;
            }
        }

        .btn {
            margin-top: 25px;
            padding: 12px 0;

            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }

        .info-wrap_block {
            margin-bottom: 1.111em;
            display: flex;
            align-items: center;
            font-size: 1.125em;

            .icon-wrap {
                display: inline-block;
                margin-right: 1.556em;
            }
        }
    }
}

/* *** */

/* Catalog layout */

.catalog-nav {

    .catalog-nav_title {
        border-bottom: 2px solid $c-blue;
        margin-bottom: 1.25em;
        padding-bottom: 5px;
        font-weight: 500;
    }

    .catalog-nav_list {
        li {
            font-size: 1.13em;
            padding-left: 2.222em;
            margin-bottom: 0.833em;


            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 10px;
                width: 16px;
                height: 2px;
                background-color: #c9d0dd;
                transition: $transition;
            }

            &:last-child {
                padding-bottom: 0;
            }

            &:hover,
            &.active {

                &:before {
                    background-color: $c-blue;
                    width: 25px;
                }

                a {
                    color: $c-blue;
                    border-color: transparent;
                }
            }

            a {
                font-size: 1em;
                color: #000;
                border-bottom: 1px solid $c-blue;
                font-weight: 500;
            }
        }
    }
}

.catalog-grid {

    .col {
        padding-bottom: 1.88rem;
        padding-left: 1.88rem;
    }

    .catalog-grid_item-image {
        overflow: hidden;
        position: relative;
        transition: $transition;

        img {
            transition: all ease-in-out 2.5s;
            width: 100%;
        }
    }

    .catalog-grid_item {

        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            transition: $transition;

            a {
                color: $c-blue;
                text-decoration: none;
            }

            img {
                transform: scale(1.2);
            }

            .catalog-grid_item-image {
                @extend .hover-gradient;
            }
        }
    }

    .catalog-grid_item-info {
        padding: 0 25px 0 30px;
        background-color: #fff;
        display: flex;
        align-items: center;
        min-height: 110px;

        span {
            text-decoration: underline;
            text-decoration-color: $c-blue;
            font-weight: 500;
            color: #000;
            display: inline-block;
            max-height: 66px;
            overflow: hidden;
            transition: $transition;

            &:hover {
                text-decoration: none;
                color: $c-blue;
            }
        }
    }
}

/* *** */

/* Footer */
footer {
    padding: 3.94rem 0;
    background: url(../images/bg-footer.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    flex: 0 0 auto;

    .fz18 {
        font-size: 1.125em;
    }

    .footer-menu {
        padding-bottom: 1.25em;
        text-align: right;

        a {
            display: inline-block;
            margin-right: 3.13em;
            border-bottom: 1px solid transparent;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: #fff;
                border-color: $c-blue;
            }
        }
    }


    .footer-copyright {
        text-align: right;

        a {
            color: #39a9ff;

            &:hover {
                color: #fff;
            }
        }

        p {
            margin-bottom: 10px;
        }
    }

    .footer-contacts {
        width: 50%;

        a {

            &:hover,
            &:focus,
            &:visited {
                color: #fff;
            }
        }

        p {
            color: #fff;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        span {
            color: #39a9ff;
        }
    }


    .c-blue {
        color: #39a9ff;
    }

    img {
        margin-left: 0.5rem;
    }
}

/* *** */

/* Popups */

.mfp-removing .modal-body {
    transform: scale(0.5);
    opacity: 0.5;
}

div.mfp-container {
    padding-left: 10px;
    padding-right: 10px;

    .mfp-figure {
        background-color: #fff;
        padding: 50px 75px;
        max-width: 900px;
    }

    .mfp-arrow {
        width: 75px;
    }

    .mfp-close {
        width: 1.25rem;
        height: 1.25rem;
        opacity: 1;
        display: inline-block;

        svg {
            position: absolute;
            top: 0.25rem;
            left: 0.25rem;
            fill: #b6bdc7;
            transition: $transition;
            pointer-events: none;
        }

        &:hover {
            cursor: pointer;

            svg {
                fill: $c-blue;
            }
        }
    }

    img.mfp-img {
        padding: 0;
    }

    .flickity-button-icon {
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
        fill: #fff;
        pointer-events: none;

        &:hover {
            fill: $c-blue;
            filter: none;
        }

        &.right {
            transform: rotate(180deg);
        }
    }

    .mfp-arrow-left:after,
    .mfp-arrow-left:before,
    .mfp-arrow-right:after,
    .mfp-arrow-right:before {
        content: none;
    }


    .mfp-counter {
        text-align: center;
        font-size: 0.81rem;
        color: #000;
        position: static;
    }
}

.modal-body {
    background-color: #fff;
    padding: 3.13em;
    margin-left: auto;
    margin-right: auto;
    max-width: 28.13rem;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    transition: all .3s ease-in-out;

    &.large {
        max-width: 50rem;
    }

    input[type=text],
    input[type=tel],
    input[type=email],
    textarea {
        max-width: 100%;
        background-color: $c-gray;
    }

    textarea {
        height: 8.19em;
        width: 100%;
        margin-bottom: 25px;
    }

    label {
        margin-bottom: 1.25em;
        display: block;

        &.col {
            display: inline-block;
            margin-bottom: 20px;
        }
    }

    .h3 {
        padding-bottom: 15px;
        margin-bottom: 30px;
    }

    .btn {
        font-weight: bold;
        max-width: 350px;

        &:hover {
            background-color: transparent;
            border-color: $c-blue;
            color: $c-blue;
        }
    }

    small {
        display: block;
        margin-bottom: 1.25em;
        text-align: center;

        &.last {
            margin: 20px 0 0;
        }
    }


    .mfp-close {
        cursor: pointer;
        width: 1.25rem;
        height: 1.25rem;
        opacity: 1;
        display: inline-block;

        svg {
            position: absolute;
            top: 0.25rem;
            left: 0.25rem;
            fill: #b6bdc7;
            transition: $transition;
            pointer-events: none;
        }

        &:hover {
            svg {
                fill: $c-blue;
            }
        }
    }
}

/* *** */

.popup-window.iarga ul li:hover {
    color: #0072f0;
}

/* Form's errors */

span.error {
    color: $c-red;
    position: absolute;
    right: 0;
    top: -17px;
    font-size: 0.75rem;
}

/* *** */
