// 47.94em
@import "import/variables";

@media (max-width: 767px) {
    @import "import/variables",
    "import/grid";

    @include grid-generator-phablet();

    h1,
    .h1 {
        font-size: 1.63em;
    }

    h2,
    .h2 {
        font-size: 1.44em;
    }

    h3,
    .h3 {
        font-size: 1.38em;
    }

    .fz18 {
        font-size: 0.94em;
    }

    .page-description {
        max-width: 100%
    }

    article {
        font-size: 0.938em;
    }

    header {
        .d-flex.header-top {
            padding-left: 1.25em;
            padding-right: 1.25em;

            > .col {
                width: auto;
            }
        }

        .content-wrap {
            padding: 0;
        }

        .logo {

            .logo-icon_wrap,
            .logo-text {
                display: none;
            }

            .logo-mob {
                display: inline-block;
            }
        }

        .user-tools {
            .cart-amount {
                display: none;
            }
        }

        .user-geoposition {

            .user-geoposition_drop-list a {
                font-size: 0.75rem;
                white-space: nowrap;
            }

            &.active {
                .user-geoposition_drop-list {
                    top: 0;
                }

                .drop-list_wrap {
                    transform: scale(1);
                    opacity: 1;
                }
            }

            .user-geoposition_drop-list {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                font-size: 0.75em;
                border: none;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 20;
                box-shadow: none;
                box-sizing: border-box;
                padding-left: 10px;
                padding-right: 10px;

            }

            .drop-list_wrap {
                background-color: #fff;
                width: 300px;
                padding: 1.25em;
                margin: 0;
                transform: scale(0.5);
                opacity: 0.5;
                transition: $transition;

                .title,
                .col {
                    padding: 0;
                }

                .drop-list_close {
                    display: inline-block;
                }
            }
        }
    }


    div.bx-sls,
    span.bx-sls,
    label.bx-sls {
        span.error {
            top: -26px;
        }
    }

    .under-header-block.about {

        br {
            display: none;
        }

        p {
            font-size: 0.94em;
        }

        .sort-amount {
            padding-bottom: 4.06rem;

            .fz100 {
                font-size: 5.000em;
            }

            .fz18 {
                font-size: 1em;
            }
        }
    }

    .search-block {
        .search-block_drop-input {
            font-size: 0.88em;

            .search-block_list {
                top: 33px;
            }
        }
    }

    .info-block {
        .info-block_date {
            font-size: 0.875em;
        }
    }

    section.main-page {
        padding: 3.13rem 0;

        &.catalog,
        &.feedback,
        &.about {
            padding: 3.13rem 0;
        }

        &.about {

            .bg-extra {
                display: none;
            }

            .btn {
                margin-left: auto;
                margin-right: auto;
                display: block;
            }

            p {
                text-shadow: 1px 1px 0px #000000;
            }
        }

        .h1 {
            &.decorated {
                padding-bottom: 10px;
                margin-bottom: 20px;
            }
        }

        &.catalog {

            h4,
            h5 {
                font-size: 1.25em;
                max-width: 84%;
                cursor: pointer;
            }

            .d-flex {
                margin: 0 -1.25em;
            }

            .large-block,
            .small-block {
                margin-bottom: 0.63rem;
                min-height: 151px;

                img {
                    width: 80px;
                }

                li.col > ul {
                    display: none;
                }
            }

            .hexagon-block.small {

                svg {
                    transform: scale(0.7362); // 145X167px
                    top: -60px;
                    right: -70px;
                }
            }
        }

        &.feedback {
            form .d-flex {
                label {
                    max-width: 100%;
                }

                .btn {
                    margin-top: 1em;
                    max-width: 100%;
                }
            }
        }

        &.info {
            .info-wrap {
                margin: 0 -1.25rem;
            }
        }

        &.advantages {


            .advantages-wrap .col {
                h3 {
                    font-size: 1.19em;
                }
            }

            .fz18 {
                font-size: 0.88em; //14px
                line-height: 1.8em;

                br {
                    display: none;
                }
            }
        }

        &.about {
            br {
                display: none;
            }

            .font-light {
                font-size: 0.88em;
                line-height: 1.8em;
            }
        }
    }

    section.cart-page {
        .btn.pos-absolute {
            display: none;
        }

        .orders-list_total .link-back {
            display: none;
        }

        span.error {
            top: 5px;
        }

        small br {
            display: none;
        }

        &.contacts {
            padding: 2.5rem 0;

            form {
                max-width: 500px;
                width: 100%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .label-group {
                margin-bottom: 0.63em;

                label {
                    display: block;

                    .pos-relative {
                        position: static;
                    }

                    input[type=tel] {
                        max-width: 100%;
                    }

                    .desc {
                        margin-bottom: 0.63em;
                    }
                }
            }
        }
    }

    section.page-news {

        div[style="float: right"],
        div[style="float: left"] {
            margin: 0 0 20px;
            float: none !important;

            img + p {
                margin-bottom: 0;
            }
        }
    }

    section.page-about {
        padding-bottom: 2.19rem;

        &.market-leader {
            .col {
                img {
                    float: none;
                    text-align: center;
                    display: block;
                    margin: 0 auto 20px;
                }

                > p {
                    font-size: 0.94em;

                    br {
                        display: none;
                    }
                }
            }
        }
    }

    /* Страница: О нас */

    section.page-about {

        &.our-services {
            .service-block a {
                font-size: 1.125em;
            }
        }
    }

    /* *** */

    .section {

        /* Страница Каталог */

        &.page-catalog.description {
            p {
                font-size: 0.94em;
            }
        }

        /* *** */

        &.page-catalog-category {

            .category-container {



                &:after {
                    display: none;
                }

                > .grid-3 {
                    padding-bottom: 0;

                    > .col:last-child {
                        padding: 20px;
                        background-color: $c-l-blue;
                    }
                }
            }

            .category-item_list {
                li {
                    &:after {
                        content: none;
                    }
                }
            }

            .category-item {
                padding-bottom: 20px;
            }

            .category-subitem {
                padding: 0;
            }
        }

        /* Страница: Контакты */

        &.contacts-page .mapsBox {
            height: 320px;
        }

        &.contacts-page.info {
            padding-bottom: 2.5rem;

            .info-wrap_block {
                font-size: 1em;

                .icon-wrap {
                    margin-right: 15px;
                }
            }

            .info-wrapper {
                padding: 30px 20px;
            }
        }

        /* *** */

    }

    .section.page-product-catalog {

        &.catalog-info {
            padding: 1.88rem 0;

            .catalog-info_desc {
                font-size: 0.938em;
            }
        }

        .catalog-info_list {
            font-size: 0.813em;
        }

        &.catalog-list {
            padding: 1.88rem 0 2.19rem;



            .catalog-list_item h3 {

                .icon-wrap {
                    left: -4px;
                    bottom: 6px;

                    svg {
                        transform: scale(0.8);
                    }
                }
            }

            .catalog-list_item.open h3 {
                .icon-wrap {
                    bottom: 6px;
                }
            }
        }
    }

    .section.page-news-catalog {
        padding-bottom: 1.88rem;

        .fz20 {
            font-size: 1.125em;
        }
    }

    .catalog-nav {
        .catalog-nav_title {
            font-size: 1.13em;
        }

        .catalog-nav_list li {
            font-size: .8em;
        }
    }

    .Carousel--product {
        + .Carousel-nav.product .flickity-button {
            display: none;
        }
    }

    .Carousel--fill .Carousel-cell-img {
        height: 70vh;
    }

    .Carousel-nav.main {
        top: inherit;
        right: inherit;
        left: 0;
        text-align: center;
        bottom: 30px;
        width: 100%;

        .Carousel-dot {
            height: 0.44rem !important;
            width: 0.44rem;
            border-radius: 50%;
            line-height: 1.31rem !important;
            padding: 0;
            display: inline-block;
            background-color: #fff;
            border: none;
            opacity: 1;
            margin-right: 1.25rem;

            &:last-child {
                margin-right: 0;
            }

            &.is-selected {
                margin-right: 1.25rem;
                border: none;
                background-color: $c-blue;

                &:last-child {
                    margin-right: 0;
                }
            }

            span {
                display: none;
            }
        }
    }

    .Carousel-icon_mouse {
        display: none;
    }

    .menu {
        display: inline-block;
        width: calc(100% - 51px);
        background-color: transparent;
        float: left;

        .menu-wrap {
            > a {
                display: none;

                &:first-child {
                    color: #fff;
                    display: inline-block;
                    padding: 1em 0;
                    font-size: 0.875em;
                    text-transform: uppercase;
                    font-weight: bold;
                    border-bottom: 2px solid transparent;
                    background-color: $c-blue;
                    text-align: center;
                    width: 100%;

                    &:hover {
                        background-color: $c-blue;
                        border-color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .mob-menu {
        display: inline-block;
    }

    .modal-body.large {
        .grid-3 {
            display: block;
            margin: 0;

            .col {
                padding: 0;
            }
        }
    }
}

@media (max-width: 767px) and (orientation: landscape) {

    /* Моб.меню */
    .mob-menu nav.menu {
        min-height: 300px;
    }

    /* Карусели */

    .Carousel--fill .Carousel-cell-img {
        min-height: 400px;
    }
}

@media (min-width: 768px) {
    nav a.catalog {
        background-color: $c-blue;

        &:hover {
            background-color: $c-blue;
            border-color: #fff;
        }

        &.active {
            color: #fff;

            &:visited,
            &:focus {
                color: #fff;
            }

            &:hover {
                border-color: #fff;
            }
        }
    }

    table .extra-block .extra-close {
        display: none;
    }
}


@media (max-width: 767px)and(min-width: 605px) {
    footer {
        .footer-menu {
            font-size: 0.81em;

            a {
                margin-right: 2em;
            }
        }
    }
}

@media (max-width: 700px) {
    section.page-about {
        .service-block_wrap > .col {
            width: 50%;
        }

        &.jobs {
            .jobs-wrap > .col {
                width: 50%;
            }
        }
    }
}

@media (max-width: 619px) {
    .section.product-card.filter {
        form {
            margin-left: -2%;
            margin-bottom: -15px;
        }

        select {
            margin-bottom: 15px;
            width: 47%;
            max-width: unset;
            margin-left: 2%;
            margin-right: 0;
        }
    }
}

// >= 605px
@media (max-width: 37.81rem) {
    .search-block {
        &.active .search-block_drop-input {
            width: calc(100vw - 73px);
        }

        .search-block_drop-input {
            right: -6px;
            transition: none;
        }
    }

    section {

        &.main-page {
            &.catalog {

                .large-block > ul > li,
                .small-block > ul > li {
                    width: 47%;
                }
            }
        }

        &.delivery-page {
            background-position: center;

            .wrapper {
                max-width: 100%;
            }
        }

        &.page-about.our-clients {
            .our-clients_content-item {
                width: 50%;
            }
        }
    }

    .search-block_drop-input .search-block_list .search-item .name {
        max-width: 100%;
    }

    .section {

        &.contacts-page.info {
            .info-wrapper {
                padding: 25px 15px;

                .info-wrap_address {
                    width: 100%;
                }

                .info-wrap_contacts {
                    width: 100%;
                    margin-bottom: 25px;
                }

                .info-wrap_question {
                    width: 100%;
                }
            }
        }
    }

    footer {
        padding: 2.81rem 0;

        .footer-menu a:hover {
            text-decoration: none;
        }
    }
}

@media (max-width: 605px) and (min-width: 479px) {
    footer {
        .footer-affiliate {
            order: 1;
            width: 100%;
            margin-bottom: 20px;
        }

        .footer-contacts {
            display: block;
            width: 49%;
            order: 2;

            span {
                display: block;
            }
        }

        .footer-menu {
            text-align: left;
            order: 3;
            margin: 0;
            width: 49%;
            font-size: 0.81em;

            a {
                margin-right: 0;
                display: block;
                margin-bottom: 0.94em;
            }
        }

        .footer-copyright {
            text-align: left;
            order: 4;
        }
    }
}

@media (min-width: 701px) {
    section.main-page {
        &.info {
            .Carousel-cell {
                max-width: 50%;
            }
        }
    }
}
