@media (max-width: 500px) {
    section.main-page.catalog {
        .large-block > ul > li,
        .small-block > ul > li {
            width: 100%;
        }
    }
}

@media all and (min-width: 0) and (max-width: 479px) {
    @import "import/variables",
    "import/grid";

    @include grid-generator-phone();

    .fz60 {
        font-size: 1.88em;
    }

    .fz40 {
        font-size: 1.25em;
    }

    table {
        font-size: 0.88em;

        tbody {
            font-size: 0.88em;
        }

        .extra-block ul:last-child {
            padding: 0 0 1.786em;
        }
    }

    input[type=text],
    input[type=email],
    input[type=tel],
    textarea {
        font-size: 0.94em;
    }

    .search-block .search-block_drop-input .search-block_list {
        top: 31px;
    }

    section.cart-page {

        span.error {
            top: 2px;
        }

        table tbody {
            font-size: 0.88em;
        }

        form {
            font-size: 0.94em;
        }
    }

    section.main-page {
        &.advantages {

            .advantages-wrap .col {
                h3 {
                    font-size: 1.38em;
                }
            }

            .fz18 {
                font-size: 0.88em; //14px
                line-height: 1.8em;

                br {
                    display: none;
                }
            }
        }
    }

    section.page-about {
        .service-block_wrap > .col {
            width: 100%;
        }

        &.jobs {
            .jobs-wrap > .col {
                width: 100%;
            }
        }

        &.our-clients {
            .our-clients_content-item {
                width: 100%;
            }
        }
    }

    .section {
        &.page-news-catalog {
            .info-block {
                font-size: 0.85em;
                min-height: 301px;
            }
        }

        /* Страница: Контакты */
        &.contacts-page.info {
            h4 {
                font-size: 1.375em;
            }
        }

        &.contacts-page {

            .tooltip > ymaps {
                width: 300px !important;
            }

            .tooltip {
                left: -126px !important;
                top: -171px !important;

                .tooltip-content {
                    padding: 15px 20px;
                }
            }
        }

        /* *** */

        &.product-card.filter {
            form {
                margin: 0;
            }

            select {
                width: 100%;
                margin: 0 0 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.page-catalog-category {
            .category-subitem .col:first-child {
                padding-bottom: 0;
            }
        }
    }

    .info-block_date {
        padding: 0.75rem 0.94rem;
        width: 4.38rem;
        height: 4.38rem;

        br {
            display: none;
        }

        .fz36 {
            font-size: 1.38rem;
            display: block;
        }

        .fz14 {
            font-size: 0.69rem;
        }
    }

    .modal-body {
        padding: 1.5em;

        input,
        textarea {
            font-size: 0.88em;
        }
    }

    footer {
        .footer-info {
            flex-direction: column;
        }

        .footer-affiliate {
            order: 1;
        }

        .footer-contacts {
            display: block;
            width: 100%;
            order: 2;
            padding: 1.25rem 0 2.5rem;
        }

        .footer-menu {
            text-align: left;
            order: 3;
            margin: 0;

            a {
                margin-right: 0;
                display: block;
                margin-bottom: 0.94em;
            }
        }

        .footer-copyright {
            text-align: left;
            order: 4;
        }
    }

    div.mfp-container {
        .flickity-button-icon {
            display: none;
        }

        .mfp-figure {
            padding: 40px 20px 50px;
        }
    }
}
