/* Верстка для печати (корзина) */

@media print {

    @page {
        margin-top: 2cm;
        margin-bottom: 2cm;
    }

    body {
        page-break-inside: avoid;
    }

    p.only-on-print {
        display: block;
    }

    .under-header-block {
        min-height: 85px;
    }

    header {

        .logo-text {
            img {
                display: none;
            }
        }

        > .content-wrap {
            display: table;
            table-layout: fixed;
            width: 100%;

            .header-top {
                display: table-row;

                > .col {
                    display: table-cell;
                    padding: 0;
                    vertical-align: middle;

                    a {
                        color: #000;
                    }
                }
            }
        }
    }

    footer {
        background: none;
        padding-bottom: 0;

        .footer-contacts p,
        .footer-contacts a,
        .footer-contacts span {
            color: #000;
        }

        .footer-affiliate {
            margin-bottom: 20px;
            color: #000;
        }
    }

    #bx-panel {
        display: none !important;
    }

    header .logo .logo-icon_wrap,
    header .logo .logo-text {
        display: block;
    }

    nav.menu,
    .mob-menu,
    h1.page-title,
    header + .content-wrap,
    header .get-feedback,
    header .logo .logo-text img,
    header .logo .logo-mob,
    header .user-tools,
    section.cart-page button,
    section.cart-page.orders-list .orders-list_total,
    section.cart-page.contacts,
    section.cart-page table tbody tr.removed,
    section.cart-page .visible-tablet,
    footer .footer-menu,
    footer .footer-copyright {
        display: none;
    }

    section {
        background: none;
        padding: 0;

        .decorated {
            border-color: #000;
        }

        tr {
            page-break-inside: avoid;

        }

        &.cart-page {
            &.orders-list {
                padding: 0;
            }

            table tbody tr {
                border: none;

                td:first-child {
                    border-bottom: 2px dashed #000;
                }

                &.concomitant {
                    td:first-child {
                        border: none;
                    }
                }

                td {
                    border: none;
                }

                &:last-child {
                    border: none;
                }

                td:last-child {
                    display: none;
                }
            }
        }
    }
}

/* *** */
