// >= 74.94rem

@media (max-width: 1199px) {
    @import "import/variables",
    "import/grid";

    @include grid-generator-tablet();

    .tablet-hide {
        display: none;
    }

    .content-wrap {
        padding: 0 1.25rem;
    }

    .Carousel .wrapper,
        {
        left: 1.25rem;
    }

    .Carousel-nav.main {
        right: 1.25rem;
    }

    .search-block_drop-input {
        padding: 0;
    }

    .under-header-block.about {
        .sort-amount {
            right: 20px;
        }

        img.bg-extra {
            display: none;
        }
    }

    section {

        /* Главная страница */

        &.main-page {

            &.feedback {
                background-position: center 31px;

                form .d-flex {
                    flex-wrap: wrap;

                    label {
                        max-width: 48%;
                        width: 100%;

                        input[type=text],
                        input[type=tel] {
                            margin-bottom: 1em;
                        }
                    }

                    .btn {
                        max-width: 48%;
                    }
                }
            }

            &.info {
                .btn.pc {
                    display: none;
                }

                .btn.mobile {
                    display: block;
                    width: 100%;
                }
            }

            &.advantages {
                .advantages-wrap {
                    .col {

                        h3 {
                            font-size: 1.65em;
                        }
                    }
                }
            }

            &.catalog {

                h5 {
                    font-size: 1.63em;
                }

                .large-block,
                .small-block {
                    > ul {
                        max-width: 90%;
                        
                        > li{
                            width: 23%;
                        }
                    }
                }

                .d-flex {
                    display: block;
                    margin: 0;

                    > div:first-child {
                        margin-right: 0;
                    }

                    &:last-child {
                        .small-block {
                            margin-bottom: 0;
                        }
                    }
                }

                .large-block,
                .small-block {
                    max-width: 100%;
                    margin-bottom: 30px;
                    min-height: 180px
                }

                .large-block {
                    img {
                        width: 116px;
                    }

                    .hexagon-block {
                        display: none;

                        &.small {
                            display: inline-block;
                        }
                    }
                }
            }
        }

        /* *** */

    }

    .section {

        &.page-catalog-category {
            .category-container:after {
                width: 50%;
            }
        }
    }

    .Carousel-nav.product {
        padding: 0;
        max-width: 660px;
        margin-left: auto;
        margin-right: auto;
    }

    .catalog-grid .col {
        padding-left: 1.25rem;
        padding-bottom: 1.25rem;
    }

    .search-block.active {
        .search-block_drop-input {
            width: 290px;
        }
    }

    section.page-news {

        h5 {
            margin-top: 1.5em;
        }

        .img-wrap {
            float: none;
            max-width: 570px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;

            img {
                margin: 0;
            }

            .info-block_date {
                top: 7%;
                left: 4.5%;
            }
        }
    }
}

@media (min-width: 1001px) {

    section.main-page.catalog .small-block {

        h4,
        h5 {
            font-size: 20px;
        }
    }

    /* Сопуствующие товары в Корзине */

    table tr.concomitant + tr.concomitant td {
        position: relative;
        top: -20px;
        padding-bottom: 0;
    }
}

@media (min-width: 1001px) and (max-width: 1100px) {
    .user-tools {
        span.fz12 {
            font-size: 0.63rem;
        }
    }
}


@media (min-width: 1001px) and (max-width: 1199px) {
    section.cart-page table .quantity {
        text-align: center;
    }
}

// >= 1000px
@media (max-width: 62.5rem) {
    @import "import/variables",
    "import/grid";

    h1,
    .h1 {
        font-size: 2.13em;
    }

    h2,
    .h2 {
        font-size: 1.75em;
    }

    .fz16 {
        font-size: 0.94em;
    }

    .fz18 {
        font-size: 1em;
    }

    .fz60 {
        font-size: 2.750em;
    }

    .fz40 {
        font-size: 1.500em;
    }

    .page-description {
        max-width: 75%;
        font-size: 1em;
    }

    .under-header-block.about {
        .sort-amount {
            position: static;
            text-align: left;
        }

        p.with-padding {
            padding-bottom: 1.56em;
        }
    }

    .table-wrap {
        border-top: 2px solid $c-blue;

        table {
            border-top: none;
        }
    }

    header {

        // скрываем номера телефона
        .header-top {
            justify-content: space-between;

            > .col {

                &.text-center {
                    text-align: left;
                }

                &:first-child {
                    display: none;
                }
            }
        }

        .search-block {
            margin: 0;
        }

        .user-tools {
            > div {
                margin-right: 0.94rem;

                &:last-child {
                    margin-right: 0;
                }
            }

            .user-get-feedback {
                display: inline-block;
            }

            .user-geoposition {
                span.link-dotted-hover {
                    display: none;
                }
            }
        }
    }

    nav {
        a {
            font-size: 0.775em;
        }
    }

    .search-block.active {
        .search-block_drop-input {
            width: 380px;
        }
    }

    .drop-container {
        .drop-container_box {
            display: none;
        }
    }

    .Carousel .wrapper {
        padding: 0 1.25rem;
        left: 0;
    }

    section {

        /* Главная страница */

        &.main-page {
            padding: 4.38rem 0;

            .h1 {
                margin-bottom: 20px;

                &.decorated {
                    padding-bottom: 15px;
                    margin-bottom: 30px;
                }
            }

            &.catalog {

                .large-block > ul > li,
                .small-block > ul > li {
                    width: 30%;
                }
            }

            &.catalog,
            &.feedback,
            &.about {
                padding: 4.38rem 0;
            }

            &.info {
                .info-block {
                    margin: 0 auto;
                    padding-bottom: 3em;
                }

                .info-block_link {
                    font-size: 1.13em;
                }
            }

            &.advantages {
                .advantages-wrap {
                    .col {
                        h3 {
                            font-size: 1.38em;
                        }

                        br {
                            display: none;
                        }

                        .advantages-block_image {
                            text-align: center;
                        }
                    }
                }
            }
        }

        /* *** */

        /* Корзина */

        &.cart-page {
            .visible-tablet {
                display: block;
                margin-bottom: 20px;
            }

            .orders-list_total {
                display: block;
                text-align: center;

                svg {
                    display: none;
                }

                .font-black {
                    margin-top: 0.5em;
                }
            }

            &.contacts {
                padding: 3.75rem 0;

                button {
                    margin: 1em auto 0;
                    display: block;
                }
            }

            table {
                tr {
                    border-bottom: 2px solid $c-blue;
                    border-top: 0;
                }

                tbody {

                    tr {

                        &.concomitant td {
                            padding-top: 0.63em;
                        }

                        &:last-child {
                            border-bottom: 2px solid $c-blue;
                        }

                        td:last-child {
                            padding-right: 10px;
                        }
                    }
                }

                .sum-block {
                    width: 100%;
                }
            }

            small {
                text-align: center;
            }
        }

        /* *** */

        /* Страница: О нас */

        &.page-about {
            padding-bottom: 3.13rem;

            .service-block_wrap > .col {
                width: 33.333333%;
            }

            .jobs-wrap > .col {
                width: 33.333333%;
                text-align: center;
                margin-bottom: 20px;
            }

            &.our-services {
                .service-block {
                    display: flex;
                    margin: 0 auto;

                    a {
                        font-size: 1.25em;
                    }
                }
            }

            &.our-clients {
                .d-flex {
                    flex-wrap: wrap;
                }

                .our-clients_content-item {
                    width: 33.333333%;
                    min-height: 134px;
                }
            }
        }

        /* *** */

        /* Страница: Доставка */

        &.delivery-page {
            padding-bottom: 4.69rem;
            background: none !important;

            h4 {
                font-size: 1.188em;
            }

            p {
                font-size: 0.94em;
            }

            .wrapper .wrapper-item {
                margin-bottom: 25px;
            }
        }
    }

    .section {
        &.product-card.list {

            .product-card_info-desc {
                padding-bottom: 35px;
            }
        }

        &.product-card {
            table .sum {
                min-width: 1px;
                display: block;
            }
        }

        /* Страница Каталог */

        &.page-catalog {
            > .d-flex {
                display: block;

                .left-side,
                .right-side {
                    max-width: 100%;
                }

                .left-side {
                    margin-bottom: 1.56em;
                    margin-right: 0;
                }
            }
        }

        /* *** */

        /* Страница: Контакты */
        &.contacts-page.info {
            padding-top: 2.5rem;

            .info-wrapper {
                flex-wrap: wrap;
                margin-top: 0;

                .info-wrap_contacts,
                .info-wrap_address {
                    width: 50%;
                }

                .info-wrap_question {
                    margin: 25px auto 0;
                    text-align: center;

                    br {
                        display: none;
                    }


                    .btn {
                        margin: 15px auto 0;
                    }
                }
            }
        }

        /* *** */
    }

    .catalog-nav {
        .catalog-nav_title {
            color: #000;
            font-size: 1.625em;
            border: none;
            margin-bottom: 0.5em;
            padding: 0;
        }

        .catalog-nav_list {

            li {
                padding-left: 0;
                display: inline-block;
                margin-right: 0.94em;
                font-size: 1em;

                &:before {
                    display: none;
                }
            }
        }
    }

    table {
        background-color: transparent;
        border: none;

        thead {
            display: none;
        }

        tr {
            margin-bottom: 15px;
            display: block;
            border-bottom: 2px solid $c-blue;
            background-color: #fff;
            position: relative;
            text-align: right;

            &.concomitant {
                padding: 0;
                border-bottom: 2px solid #0072f0;

                .concomitant-wrap {
                    background-color: transparent;
                    padding: 0;
                }

                td {
                    padding: 10px;
                }
            }
        }

        tbody {
            tr td:first-child {
                padding-left: 10px;
            }

            td.d-i-block_tablet {
                display: inline-block;
                padding-right: 0;

                &:last-child {
                    padding-right: 10px;
                }
            }

            td.d-i-block_tablet {
                width: auto;
            }

            td {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px dotted $c-gray;
                padding: 10px;
                text-align: right;

                &.bg-gray {
                    padding: 10px;
                    width: auto;

                    &:before {
                        line-height: 40px;
                    }

                    span {
                        background-color: inherit;
                        display: inline-block;
                        padding: 0;
                    }
                }
            }

            tr:last-child {
                border-bottom: 2px solid $c-blue;
                margin-bottom: 0;
            }
        }

        td:before {
            content: attr(data-label);
            float: left;
            font-weight: normal;
        }

        .gear-block {
            position: static;

            .extra-block {
                top: 50%;
            }

            &.active .extra-block {
                top: 100%;
            }
        }

        .extra-block {
            left: 20px;
            right: unset;
            text-align: left;
            width: 100%;

            &:before {
                right: 20px;
            }
        }
    }

    footer {
        background: url(../images/bg-footer_mob.png) no-repeat center, radial-gradient(ellipse at center, rgba(0, 86, 205, 1) 0%, rgba(0, 63, 152, 1) 100%);
        background-size: contain;

        .footer-affiliate {
            width: 100%;
        }

        .footer-menu {
            margin-top: 1.25em;

            a {
                margin-right: 2.13em;
            }
        }
    }
}

@media (max-width: 900px) {
    div.mfp-container .mfp-figure {
        padding: 50px 56px;
    }
}
