<footer>

    <div class="footer-extra bg-gray">

        <div class="content-wrap">

            <div class="logo">
                <img src="images/logo.png" alt="" class="img-responsive">
            </div>

            <div class="layout grid-3 -nogutter -phablet-1 js-nospace">

                <div class="social col">

                    <div class="d-flex align-center">

                        <div class="social-item">

                            <a href="#">

                                <span class="icon">
                                    <svg style="width: 19px; height: 11px;">
                                        <use xlink:href="#icon-vk"></use>
                                    </svg>
                                </span>

                            </a>

                        </div>

                        <div class="social-item">

                            <a href="#">

                                <span class="icon">
                                    <svg style="width: 8px; height: 17px;">
                                        <use xlink:href="#icon-fb"></use>
                                    </svg>
                                </span>

                            </a>

                        </div>

                        <div class="social-item">

                            <a href="#">

                                <span class="icon">
                                    <svg style="width: 19px; height: 18px;">
                                        <use xlink:href="#icon-insta"></use>
                                    </svg>
                                </span>

                            </a>

                        </div>

                        <div class="social-item">

                            <a href="#">

                                <span class="icon">
                                    <svg style="width: 10px; height: 17px;">
                                        <use xlink:href="#icon-ok"></use>
                                    </svg>
                                </span>

                            </a>

                        </div>

                        <div class="social-item">

                            <a href="#">

                                <span class="icon">
                                    <svg style="width: 17px; height: 15px;">
                                        <use xlink:href="#icon-twitter"></use>
                                    </svg>
                                </span>

                            </a>

                        </div>

                        <div class="social-item">

                            <a href="#">

                                <span class="icon">
                                    <svg style="width: 21px; height: 18px;">
                                        <use xlink:href="#icon-g+"></use>
                                    </svg>
                                </span>

                            </a>

                        </div>

                    </div>

                </div>

                <div class="contacts col">

                    <div class="small-contacts">
                        <a href="tel:+74951912047">+7 (495) 191-20-47</a>
                        <div class="small-contacts_social">
                            <a href="#">
                                <span class="icon">
                                    <svg style="width: 17px; height: 15px;">
                                        <use xlink:href="#icon-whatsapp"></use>
                                    </svg>
                                </span>
                            </a>
                            <a href="#">
                                <span class="icon">
                                    <svg style="width: 15px; height: 15px;">
                                        <use xlink:href="#icon-telegram"></use>
                                    </svg>
                                </span>
                            </a>
                            <a href="#">
                                <span class="icon">
                                    <svg style="width: 15px; height: 16px;">
                                        <use xlink:href="#icon-viber"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="benefits col">

                    <span>
                        <span class="icon fill-pink">
                            <svg style="width: 25px; height: 25px;">
                                <use xlink:href="#icon-clock"></use>
                            </svg>
                        </span>
                        <span class="text">Ежедневно /<br>круглосуточно</span>
                    </span>

                    <span>
                        <span class="icon fill-none">
                            <svg style="width: 27px; height: 38px;">
                                <use xlink:href="#icon-bouquet"></use>
                            </svg>
                        </span>
                        <span class="text"> Бесплатная доставка<br>по Москве </span>
                    </span>

                </div>

            </div>

        </div>
    </div>

    <div class="content-wrap">

        <div class="footer-navigation text-center grid-3 -phone-1 -nogutter js-nospace">

            <div class="footer-navigation_item col">

                <p class="js-footer-nav-toggle">
                    ПОКУПАТЕЛЯМ
                    <span class="icon fill-pink">
                        <svg style="width: 9px; height: 9px;">
                            <use xlink:href="#icon-angle"></use>
                        </svg>
                    </span>
                </p>

                <div class="list">

                    <span>
                        <a href="#">Доставка</a></span>
                    <span>
                        <a href="#">Оплата</a></span>
                    <span>
                        <a href="#">Гарантии</a></span>
                    <span>
                        <a href="#">Система скидок</a></span>
                    <span>
                        <a href="#">Видео</a>
                    </span>
                    <span>
                        <a href="#">FAQ</a>
                    </span>
                    
                </div>

            </div>

            <div class="footer-navigation_item col">

                <p class="js-footer-nav-toggle">
                    КАТАЛОГ

                    <span class="icon fill-pink">
                        <svg style="width: 9px; height: 9px;">
                            <use xlink:href="#icon-angle"></use>
                        </svg>
                    </span>
                </p>

                <div class="list">

                    <span>
                        <a href="#">Букеты</a></span>
                    <span>
                        <a href="#">Новинки</a></span>
                    <span>
                        <a href="#">Розы</a></span>
                    <span>
                        <a href="#">Цветы</a>
                    </span>
                    <span>
                        <a href="#">Хиты</a>
                    </span>
                    <span>
                        <a href="#">Премиум</a>
                    </span>
                    <span>
                        <a href="#">Оформления</a>
                    </span>
                    <span>
                        <a href="#">Акции</a>
                    </span>
                    <span>
                        <a href="#">Подарки</a>
                    </span>

                </div>

            </div>

            <div class="footer-navigation_item col">

                <p class="js-footer-nav-toggle">
                    О КАМПАНИИ
                    <span class="icon fill-pink">
                        <svg style="width: 9px; height: 9px;">
                            <use xlink:href="#icon-angle"></use>
                        </svg>
                    </span>
                </p>

                <div class="list">
                    <span>
                        <a href="#">О компании</a></span>
                    <span>
                        <a href="#">Отзывы</a></span>
                    <span>
                        <a href="#">Чем мы отличаемся</a></span>
                    <span>
                        <a href="#">Контакты</a></span>
                    <span>
                        <a href="#">Новости</a></span>
                </div>

            </div>

        </div>

        <div class="footer-copyright">

            <div class="footer-copyright_desc">
                <p><span>ООО "Цветочный дом".</span>ОГРН: 1127746015220</p>
                <p>© buket.market, 2019 Все права защищены</p>
            </div>

            <img src="images/payment.png" alt="" class="img-responsive m-auto">

        </div>

    </div>

</footer>
