<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ccc">
    <title>Bouquet Market</title>
    <link rel="stylesheet" href="css/libs/mmenu.css">
    <link rel="stylesheet" href="css/libs/magnific-popup.css">
    <link rel="stylesheet" href="css/libs/flickity.css">
    <link rel="stylesheet" href="css/libs/flickity-fullscreen.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/tablet.css">
    <link rel="stylesheet" href="css/phablet.css">
    <link rel="stylesheet" href="css/phone.css">
    
</head>