<!-- Моб.меню -->

<div id="categories_mob-menu" class="categories_mob-menu">

</div>

<header>

    <div class="header-top bg-gray">
        <div class="content-wrap">

            <div class="visible-phablet_inline">
                <span class="icon js-menu-toggle fill-green cursor-p">
                    <svg style="width: 20px; height: 16px;">
                        <use xlink:href="#icon-menu-burger"></use>
                    </svg>
                </span>
            </div>

            <div class="affiliate">
                <span class="affiliate-title">Ваш город:</span>&nbsp;
                <span class="affiliate-current cursor-p c-green">
                    Краснодар
                    <span class="icon fill-green">
                        <svg style="width: 9px; height: 5px;">
                            <use xlink:href="#icon-angle"></use>
                        </svg>
                    </span>
                </span>
            </div>

            <nav class="menu js-menu">

                <span class="visible-phablet logo">
                    <a href="">
                        <img src="images/logo.png" alt="" class="img-responsive">
                    </a>
                </span>

                <a href="#">Контакты</a>
                <a href="#">Доставка</a>
                <a href="#">Оплата</a>
                <a href="#">Отзывы</a>
                <a href="#">FAQ</a>

                <span class="visible-phablet close-it">
                    <span class="icon fill-gray cursor-p js-menu-toggle">
                        <svg style="width: 30px; height: 30px;">
                            <use xlink:href="#icon-close-btn"></use>
                        </svg>
                    </span>
                </span>

            </nav>

            <div class="user-links c-green">
                <a href="#">Войти</a> <span class="delimiter">/</span> <a href="#">Зарегистрироваться</a>
                <a href="#" class='mobile visible-mobile'>Мой кабинет</a>
            </div>
        </div>
    </div>

    <div class="header-middle">
        <div class="content-wrap">
            <div class="logo">
                <a href="">
                    <img src="images/logo.png" alt="" class="img-responsive">
                </a>
            </div>

            <div class="our-benefits">
                <a href="#" class="c-green">
                    <span class="icon stroke-green fill-none">
                        <svg style="width: 21px; height: 28px;">
                            <use xlink:href="#icon-camera"></use>
                        </svg>
                    </span>
                    <span class="text">Онлайн<br>камеры</span>
                </a>

                <span>
                    <span class="icon fill-pink">
                        <svg style="width: 25px; height: 25px;">
                            <use xlink:href="#icon-clock"></use>
                        </svg>
                    </span>
                    <span class="text">Ежедневно /<br>круглосуточно</span>
                </span>

                <span>
                    <span class="icon fill-none">
                        <svg style="width: 27px; height: 38px;">
                            <use xlink:href="#icon-bouquet"></use>
                        </svg>
                    </span>
                    <span class="text">
                        Бесплатная доставка<br>по Москве
                    </span>
                </span>
            </div>

            <div class="small-contacts">
                <a href="tel:+74951912047">+7 (495) 191-20-47</a>
                <div class="small-contacts_social">
                    <a href="#">
                        <span class="icon">
                            <svg style="width: 17px; height: 15px;">
                                <use xlink:href="#icon-whatsapp"></use>
                            </svg>
                        </span>
                    </a>
                    <a href="#">
                        <span class="icon">
                            <svg style="width: 15px; height: 15px;">
                                <use xlink:href="#icon-telegram"></use>
                            </svg>
                        </span>
                    </a>
                    <a href="#">
                        <span class="icon">
                            <svg style="width: 15px; height: 16px;">
                                <use xlink:href="#icon-viber"></use>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>

            <div class="user-tools">

                <a href="#" class="user-tool favorite">
                    <span class="icon fill-dark">
                        <svg style="width: 28px; height: 27px;">
                            <use xlink:href="#icon-favorite"></use>
                        </svg>
                    </span>
                    <span class="amount bg-green">11</span>
                </a>

                <a href="#" class="user-tool basket">
                    <span class="icon fill-dark">
                        <svg style="width: 33px; height: 27px;">
                            <use xlink:href="#icon-basket"></use>
                        </svg>
                    </span>
                    <span class="amount bg-pink">2</span>
                </a>

            </div>
        </div>
    </div>

    <div class="header-bottom bg-l-dark">
        <div class="content-wrap">
            <div class="pos-relative js-nospace">

                <!-- Ссылка. Открывает моб.меню с категориями -->

                <a href="#categories_mob-menu" class="categories-menu_toggle">
                    <span class="icon fill-white">
                        <svg style="width: 25px; height:21px;">
                            <use xlink:href="#icon-menu-burger"></use>
                        </svg>
                    </span>
                </a>


                <ul class="categories-menu desktop js-nospace list-unstyled list-inline">

                    <li class="item-special bg-green">
                        <a href="#">
                            8 МАРТА
                            <span class="icon fill-dark">
                                <svg style="width: 36px; height: 36px;">
                                    <use xlink:href="#icon-celebration"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="item-special bg-pink">
                        <a href="#">
                            АКЦИИ
                            <span class="icon fill-dark">
                                <svg style="width: 36px; height: 36px;">
                                    <use xlink:href="#icon-stock"></use>
                                </svg>
                            </span>
                        </a>
                    </li>

                    <li class="item has-child">
                        <a href="#">

                            <span class="icon mobile">
                                <svg style="width: 36px; height: 36px;">
                                    <use xlink:href="#icon-cat-rose"></use>
                                </svg>
                            </span>
                            РОЗЫ
                            <span class="icon fill-pink">
                                <svg style="width: 9px; height: 5px;">
                                    <use xlink:href="#icon-angle"></use>
                                </svg>
                            </span>

                        </a>

                        <div class="child-item">
                            <div class="child-item_layout grid-4 js-nospace">

                                <div class="col">
                                    <span class="child-item_title">ПО КОЛИЧЕСТВУ</span>
                                    <span>
                                        <a href="#">Розы поштучно</a>
                                    </span>
                                    <span>
                                        <a href="#">11 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">15 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">25 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">31 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">51 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">75 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">101 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">251 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">Лепестки роз</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО ЦВЕТУ</span>
                                    <span>
                                        <a href="#">Красные</a>
                                    </span>
                                    <span>
                                        <a href="#">Белые</a>
                                    </span>
                                    <span>
                                        <a href="#">розовые</a>
                                    </span>
                                    <span>
                                        <a href="#">желтые</a>

                                    </span>
                                    <span>
                                        <a href="#">сиреневые</a>
                                    </span>
                                    <span>
                                        <a href="#">разноцветные</a>
                                    </span>
                                    <span>
                                        <a href="#">красно-белые</a>
                                    </span>
                                    <span>
                                        <a href="#">оранжевые</a>
                                    </span>
                                    <span>
                                        <a href="#">кремовые</a>
                                    </span>
                                    <span>
                                        <a href="#">радужные</a>
                                    </span>
                                    <span>
                                        <a href="#">синие</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО СОРТУ</span>
                                    <span>
                                        <a href="#">Красные</a>
                                    </span>
                                    <span>
                                        <a href="#">Белые</a>
                                    </span>
                                    <span>
                                        <a href="#">розовые</a>
                                    </span>
                                    <span>
                                        <a href="#">желтые</a>
                                    </span>
                                    <span>
                                        <a href="#">сиреневые</a>
                                    </span>
                                    <span>
                                        <a href="#">разноцветные</a>
                                    </span>
                                    <span>
                                        <a href="#">красно-белые</a>
                                    </span>
                                    <span>
                                        <a href="#">оранжевые</a>
                                    </span>
                                    <span>
                                        <a href="#">кремовые</a>
                                    </span>
                                    <span>
                                        <a href="#">радужные</a>
                                    </span>
                                    <span>
                                        <a href="#">синие</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО ТИПУ</span>
                                    <a href="#">Красные</a>
                                    <a href="#">Белые</a>
                                    <a href="#">розовые</a>
                                    <a href="#">желтые</a>
                                    <a href="#">сиреневые</a>
                                    <a href="#">разноцветные</a>
                                    <a href="#">красно-белые</a>
                                    <a href="#">оранжевые</a>
                                    <a href="#">кремовые</a>
                                    <a href="#">радужные</a>
                                    <a href="#">синие</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item has-child">
                        <a href="#">

                            <span class="icon mobile">
                                <svg style="width: 36px; height: 36px;">
                                    <use xlink:href="#icon-cat-occasion"></use>
                                </svg>
                            </span>
                            ПОВОД
                            <span class="icon fill-pink">
                                <svg style="width: 9px; height: 5px;">
                                    <use xlink:href="#icon-angle"></use>
                                </svg>
                            </span>

                        </a>

                        <div class="child-item">
                            <div class="child-item_layout grid-4 js-nospace">

                                <div class="col">
                                    <span class="child-item_title">ПО КОЛИЧЕСТВУ</span>
                                    <span>
                                        <a href="#">Розы поштучно</a>
                                    </span>
                                    <span>
                                        <a href="#">11 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">15 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">25 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">31 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">51 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">75 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">101 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">251 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">Лепестки роз</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО ЦВЕТУ</span>
                                    <span>
                                        <a href="#">Красные</a>
                                    </span>
                                    <span>
                                        <a href="#">Белые</a>
                                    </span>
                                    <span>
                                        <a href="#">розовые</a>
                                    </span>
                                    <span>
                                        <a href="#">желтые</a>

                                    </span>
                                    <span>
                                        <a href="#">сиреневые</a>
                                    </span>
                                    <span>
                                        <a href="#">разноцветные</a>
                                    </span>
                                    <span>
                                        <a href="#">красно-белые</a>
                                    </span>
                                    <span>
                                        <a href="#">оранжевые</a>
                                    </span>
                                    <span>
                                        <a href="#">кремовые</a>
                                    </span>
                                    <span>
                                        <a href="#">радужные</a>
                                    </span>
                                    <span>
                                        <a href="#">синие</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО СОРТУ</span>
                                    <span>
                                        <a href="#">Красные</a>
                                    </span>
                                    <span>
                                        <a href="#">Белые</a>
                                    </span>
                                    <span>
                                        <a href="#">розовые</a>
                                    </span>
                                    <span>
                                        <a href="#">желтые</a>
                                    </span>
                                    <span>
                                        <a href="#">сиреневые</a>
                                    </span>
                                    <span>
                                        <a href="#">разноцветные</a>
                                    </span>
                                    <span>
                                        <a href="#">красно-белые</a>
                                    </span>
                                    <span>
                                        <a href="#">оранжевые</a>
                                    </span>
                                    <span>
                                        <a href="#">кремовые</a>
                                    </span>
                                    <span>
                                        <a href="#">радужные</a>
                                    </span>
                                    <span>
                                        <a href="#">синие</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО ТИПУ</span>
                                    <span>
                                        <a href="#">Красные</a></span>
                                    <span>
                                        <a href="#">Белые</a></span>
                                    <span>
                                        <a href="#">розовые</a></span>
                                    <span>
                                        <a href="#">желтые</a></span>
                                    <span>
                                        <a href="#">сиреневые</a></span>
                                    <span>
                                        <a href="#">разноцветные</a></span>
                                    <span>
                                        <a href="#">красно-белые</a></span>
                                    <span>
                                        <a href="#">оранжевые</a></span>
                                    <span>
                                        <a href="#">кремовые</a></span>
                                    <span>
                                        <a href="#">радужные</a></span>
                                    <span>
                                        <a href="#">синие</a></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item has-child">
                        <a href="#">

                            <span class="icon mobile">
                                <svg style="width: 36px; height: 36px;">
                                    <use xlink:href="#icon-cat-bouquet"></use>
                                </svg>
                            </span>
                            БУКЕТЫ
                            <span class="icon fill-pink">
                                <svg style="width: 9px; height: 5px;">
                                    <use xlink:href="#icon-angle"></use>
                                </svg>
                            </span>

                        </a>


                        <div class="child-item">
                            <div class="child-item_layout grid-4 js-nospace">

                                <div class="col">
                                    <span class="child-item_title">ПО КОЛИЧЕСТВУ</span>
                                    <span>
                                        <a href="#">Розы поштучно</a>
                                    </span>
                                    <span>
                                        <a href="#">11 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">15 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">25 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">31 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">51 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">75 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">101 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">251 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">Лепестки роз</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО ЦВЕТУ</span>
                                    <span>
                                        <a href="#">Красные</a>
                                    </span>
                                    <span>
                                        <a href="#">Белые</a>
                                    </span>
                                    <span>
                                        <a href="#">розовые</a>
                                    </span>
                                    <span>
                                        <a href="#">желтые</a>

                                    </span>
                                    <span>
                                        <a href="#">сиреневые</a>
                                    </span>
                                    <span>
                                        <a href="#">разноцветные</a>
                                    </span>
                                    <span>
                                        <a href="#">красно-белые</a>
                                    </span>
                                    <span>
                                        <a href="#">оранжевые</a>
                                    </span>
                                    <span>
                                        <a href="#">кремовые</a>
                                    </span>
                                    <span>
                                        <a href="#">радужные</a>
                                    </span>
                                    <span>
                                        <a href="#">синие</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО СОРТУ</span>
                                    <span>
                                        <a href="#">Красные</a>
                                    </span>
                                    <span>
                                        <a href="#">Белые</a>
                                    </span>
                                    <span>
                                        <a href="#">розовые</a>
                                    </span>
                                    <span>
                                        <a href="#">желтые</a>
                                    </span>
                                    <span>
                                        <a href="#">сиреневые</a>
                                    </span>
                                    <span>
                                        <a href="#">разноцветные</a>
                                    </span>
                                    <span>
                                        <a href="#">красно-белые</a>
                                    </span>
                                    <span>
                                        <a href="#">оранжевые</a>
                                    </span>
                                    <span>
                                        <a href="#">кремовые</a>
                                    </span>
                                    <span>
                                        <a href="#">радужные</a>
                                    </span>
                                    <span>
                                        <a href="#">синие</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО ТИПУ</span>
                                    <span>
                                        <a href="#">Красные</a></span>
                                    <span>
                                        <a href="#">Белые</a></span>
                                    <span>
                                        <a href="#">розовые</a></span>
                                    <span>
                                        <a href="#">желтые</a></span>
                                    <span>
                                        <a href="#">сиреневые</a></span>
                                    <span>
                                        <a href="#">разноцветные</a></span>
                                    <span>
                                        <a href="#">красно-белые</a></span>
                                    <span>
                                        <a href="#">оранжевые</a></span>
                                    <span>
                                        <a href="#">кремовые</a></span>
                                    <span>
                                        <a href="#">радужные</a></span>
                                    <span>
                                        <a href="#">синие</a></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#">ПОДАРКИ</a>
                    </li>

                    <li class="item has-child">
                        <a href="#">

                            <span class="icon mobile">
                                <svg style="width: 36px; height: 36px;">
                                    <use xlink:href="#icon-cat-flower"></use>
                                </svg>
                            </span>
                            ЦВЕТЫ
                            <span class="icon fill-pink">
                                <svg style="width: 9px; height: 5px;">
                                    <use xlink:href="#icon-angle"></use>
                                </svg>
                            </span>

                        </a>
                        <div class="child-item">
                            <div class="child-item_layout grid-4 js-nospace">

                                <div class="col">
                                    <span class="child-item_title">ПО КОЛИЧЕСТВУ</span>
                                    <span>
                                        <a href="#">Розы поштучно</a>
                                    </span>
                                    <span>
                                        <a href="#">11 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">15 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">25 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">31 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">51 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">75 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">101 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">251 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">Лепестки роз</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО ЦВЕТУ</span>
                                    <span>
                                        <a href="#">Красные</a>
                                    </span>
                                    <span>
                                        <a href="#">Белые</a>
                                    </span>
                                    <span>
                                        <a href="#">розовые</a>
                                    </span>
                                    <span>
                                        <a href="#">желтые</a>

                                    </span>
                                    <span>
                                        <a href="#">сиреневые</a>
                                    </span>
                                    <span>
                                        <a href="#">разноцветные</a>
                                    </span>
                                    <span>
                                        <a href="#">красно-белые</a>
                                    </span>
                                    <span>
                                        <a href="#">оранжевые</a>
                                    </span>
                                    <span>
                                        <a href="#">кремовые</a>
                                    </span>
                                    <span>
                                        <a href="#">радужные</a>
                                    </span>
                                    <span>
                                        <a href="#">синие</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО СОРТУ</span>
                                    <span>
                                        <a href="#">Красные</a>
                                    </span>
                                    <span>
                                        <a href="#">Белые</a>
                                    </span>
                                    <span>
                                        <a href="#">розовые</a>
                                    </span>
                                    <span>
                                        <a href="#">желтые</a>
                                    </span>
                                    <span>
                                        <a href="#">сиреневые</a>
                                    </span>
                                    <span>
                                        <a href="#">разноцветные</a>
                                    </span>
                                    <span>
                                        <a href="#">красно-белые</a>
                                    </span>
                                    <span>
                                        <a href="#">оранжевые</a>
                                    </span>
                                    <span>
                                        <a href="#">кремовые</a>
                                    </span>
                                    <span>
                                        <a href="#">радужные</a>
                                    </span>
                                    <span>
                                        <a href="#">синие</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО ТИПУ</span>
                                    <span>
                                        <a href="#">Красные</a></span>
                                    <span>
                                        <a href="#">Белые</a></span>
                                    <span>
                                        <a href="#">розовые</a></span>
                                    <span>
                                        <a href="#">желтые</a></span>
                                    <span>
                                        <a href="#">сиреневые</a></span>
                                    <span>
                                        <a href="#">разноцветные</a></span>
                                    <span>
                                        <a href="#">красно-белые</a></span>
                                    <span>
                                        <a href="#">оранжевые</a></span>
                                    <span>
                                        <a href="#">кремовые</a></span>
                                    <span>
                                        <a href="#">радужные</a></span>
                                    <span>
                                        <a href="#">синие</a></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item has-child">
                        <a href="#">

                            <span class="icon mobile">
                                <svg style="width: 36px; height: 36px;">
                                    <use xlink:href="#icon-cat-decor"></use>
                                </svg>
                            </span>
                            ОФОРМЛЕНИЯ
                            <span class="icon fill-pink">
                                <svg style="width: 9px; height: 5px;">
                                    <use xlink:href="#icon-angle"></use>
                                </svg>
                            </span>

                        </a>
                        <div class="child-item">
                            <div class="child-item_layout grid-4 js-nospace">

                                <!--
                               <p class="child-item_category">
                                       
                                   </p>
-->

                                <div class="col">
                                    <span class="child-item_title">ПО КОЛИЧЕСТВУ</span>
                                    <span>
                                        <a href="#">Розы поштучно</a>
                                    </span>
                                    <span>
                                        <a href="#">11 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">15 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">25 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">31 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">51 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">75 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">101 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">251 шт.</a>
                                    </span>
                                    <span>
                                        <a href="#">Лепестки роз</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО ЦВЕТУ</span>
                                    <span>
                                        <a href="#">Красные</a>
                                    </span>
                                    <span>
                                        <a href="#">Белые</a>
                                    </span>
                                    <span>
                                        <a href="#">розовые</a>
                                    </span>
                                    <span>
                                        <a href="#">желтые</a>

                                    </span>
                                    <span>
                                        <a href="#">сиреневые</a>
                                    </span>
                                    <span>
                                        <a href="#">разноцветные</a>
                                    </span>
                                    <span>
                                        <a href="#">красно-белые</a>
                                    </span>
                                    <span>
                                        <a href="#">оранжевые</a>
                                    </span>
                                    <span>
                                        <a href="#">кремовые</a>
                                    </span>
                                    <span>
                                        <a href="#">радужные</a>
                                    </span>
                                    <span>
                                        <a href="#">синие</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО СОРТУ</span>
                                    <span>
                                        <a href="#">Красные</a>
                                    </span>
                                    <span>
                                        <a href="#">Белые</a>
                                    </span>
                                    <span>
                                        <a href="#">розовые</a>
                                    </span>
                                    <span>
                                        <a href="#">желтые</a>
                                    </span>
                                    <span>
                                        <a href="#">сиреневые</a>
                                    </span>
                                    <span>
                                        <a href="#">разноцветные</a>
                                    </span>
                                    <span>
                                        <a href="#">красно-белые</a>
                                    </span>
                                    <span>
                                        <a href="#">оранжевые</a>
                                    </span>
                                    <span>
                                        <a href="#">кремовые</a>
                                    </span>
                                    <span>
                                        <a href="#">радужные</a>
                                    </span>
                                    <span>
                                        <a href="#">синие</a>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="child-item_title">ПО ТИПУ</span>
                                    <span>
                                        <a href="#">Красные</a></span>
                                    <span>
                                        <a href="#">Белые</a></span>
                                    <span>
                                        <a href="#">розовые</a></span>
                                    <span>
                                        <a href="#">желтые</a></span>
                                    <span>
                                        <a href="#">сиреневые</a></span>
                                    <span>
                                        <a href="#">разноцветные</a></span>
                                    <span>
                                        <a href="#">красно-белые</a></span>
                                    <span>
                                        <a href="#">оранжевые</a></span>
                                    <span>
                                        <a href="#">кремовые</a></span>
                                    <span>
                                        <a href="#">радужные</a></span>
                                    <span>
                                        <a href="#">синие</a></span>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

                <div class="search">
                    <form action="/search/" id="search">
                        <label class='search-wrap'>
                            <input type="text" placeholder="Поиск по товарам" name="q" value="" autocomplete="off" class="search-input">
                            <button type="submit" class="search-submit">
                                <span class="icon">
                                    <svg style="width: 19px; height: 19px;">
                                        <use xlink:href="#icon-magnifer"></use>
                                    </svg>
                                </span>
                            </button>
                            <span class="search-toggle js-search-toggle cursor-p">
                                <span class="icon">
                                    <svg style="width: 19px; height: 19px;">
                                        <use xlink:href="#icon-magnifer"></use>
                                    </svg>
                                </span>
                            </span>
                        </label>
                    </form>
                    <div class="tooltip_open" style="display: block;">
                        <!-- result there -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
