<script src="js/jquery3.4.0.js"></script>
<script src="js/libs/mmenu.js"></script>
<script src="js/libs/validate.min.js"></script>
<script src="js/libs/jquery.visible.min.js"></script>
<script src="js/libs/flickity.pkgd.custom.js"></script>
<script src="js/libs/flickity.fullscreen.js"></script>
<script src="js/libs/jquery.magnific-popup.min.js"></script>
<script src="js/libs/jquery.maskedinput.min.js"></script>
<script src="js/modernizr-custom.js"></script>
<script src="js/nospace.js"></script>
<script src="js/svg-sprite.js"></script>
<script src="js/base.js"></script>
<script src="js/base-init.js"></script>

<!--
<script src="js/jquery3.4.0.js"></script>
<script src="js/modernizr-custom.js"></script>
<script src="js/nospace.js"></script>
<script src="js/svg-sprite.js"></script>
<script src="js/libs/owl.carousel.min.js"></script>

<script src="js/libs/perfect-scrollbar.min.js"></script>

<script src="js/base.js"></script>
<script src="js/base-init.js"></script>-->
